<table border="1" bgcolor="gray" cellpadding="5">
<th>Modding Tips Links</th>
<th>Token Index Links</th>
<tr>
<td bgcolor="lightgray"><a href="PAccent.html" target="page">Accents in Text</td>
<td bgcolor="white"><a href="AATW.html" target="page">Ammo/ Armor/ Trap/ Weapons</td>
</tr>
<tr>
<td bgcolor="lightgray"><a href="HReaction.html" target="page">Reactions and You</td>
<td bgcolor="white"><a href="Attribute.html" target="page">Attribute Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Biome.html" target="page">Biome Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Body.html" target="page">Body Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Body_Detail_Plan.html" target="page">BDP Tokens</td>
</tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Building.html" target="page">Building Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Color.html" target="page">Color Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Creature.html" target="page">Creature Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Entity.html" target="page">Entity Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Entity_Position.html" target="page">Entity Position Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Ethic.html" target="page">Ethic Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Interaction.html" target="page">Interaction Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Item.html" target="page">Item Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Labor.html" target="page">Labor Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Lang.html" target="page">Language Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Material.html" target="page">Material Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Person.html" target="page">Personality Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Plant.html" target="page">Plant Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Reaction.html" target="page">Reaction Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Skill.html" target="page">Skill Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Syndrome.html" target="page">Syndrome Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Tool.html" target="page">Tool Tokens</td>
</tr>
<tr>
<td bgcolor="lightgray">empty</td>
<td bgcolor="white"><a href="Unit_Type.html" target="page">Unit Type Tokens</td>
</tr>
</table>
This is the links frame. <br>
Everything in the table above links to the important information found on the wiki. <br>
Tags, tokens, even the "poor" descriptions of how to use them <br>
This was created on "11:39 AM 10/05/2012"<br>
Clicking on a link opens the page in the frame on the right <br>
This was updated on "1:05 AM 14/07/2012"