<div id=am>Ammo Tokens</div>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
<tr>
<td> <b>Contents</b> <a href="#am">Ammo</a> <a href="#arm">Armor</a> <a href="#tap">Trap</a> <a href="#wep">Weapon</a>
</td></tr></table>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#ddd">
<th> Token
</th>
<th> Arguments
</th>
<th> Description
</th></tr>
<tr>
<td> NAME
</td>
<td> singular:plural
</td>
<td> What this item will be called ingame.
</td></tr>
<tr>
<td> CLASS
</td>
<td> anything
</td>
<td> This ammo can be fired from a weapon that is set to fire the same ammo type as this. Defaults to BOLT.
</td></tr>
<tr>
<td> SIZE / WEIGHT
</td>
<td> value
</td>
<td> How large the ammunition is. <font color="red">Required</font>.
</td></tr>
<tr>
<td> ATTACK
</td>
<td>
<ul><li>attacktype:BLUNT or EDGE
</li><li>contact_area:value
</li><li>penetration_size:value
</li><li>verb2nd:string
</li><li>verb3rd:string
</li><li>noun:string
</li><li>velocity_multiplier:value
</li></ul>
</td>
<td> Specifies the attack characteristics of the ammunition.
</td></tr></table>

<div id=arm>Armor Tokens</div>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
<tr>
<td> <b>Contents</b> <a href="#am">Ammo</a> <a href="#arm">Armor</a> <a href="#tap">Trap</a> <a href="#wep">Weapon</a>
</td></tr></table>

<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#999999">
<th> Token
</th>
<th> Arguments
</th>
<th> Usage
</th>
<th> Description
</th></tr>
<tr>
<td> NAME
</td>
<td> singular:plural
</td>
<td> All
</td>
<td> What this item will be called ingame.
</td></tr>
<tr>
<td> PREPLURAL
</td>
<td> &lt;phrase&gt; of
</td>
<td> ITEM_ARMOR<br />ITEM_PANTS
</td>
<td> Changes the plural form of this item to "&lt;phrase of&gt; item". Primarily pertains to the stock screens. Example, "suits of" platemail, "pairs of" trousers, etc.
</td></tr>
<tr>
<td> MATERIAL_PLACEHOLDER
</td>
<td> adjective
</td>
<td> ITEM_ARMOR<br />ITEM_PANTS
</td>
<td> If the item has no material associated with it (e.g. stockpile menus and trade negotiations), this will be displayed in its place. Used for leather armor.
</td></tr>
<tr>
<td> VALUE
</td>
<td> num
</td>
<td> ITEM_ARMOR<br />ITEM_GLOVES<br />ITEM_SHOES<br />ITEM_SHIELD<br />ITEM_HELM
</td>
<td> Unused. Defaults to -1.
</td></tr>
<tr>
<td> ARMORLEVEL
</td>
<td>
<p>0 - clothing<br />
1 - leather<br />
2 - chain<br />
3 - plate
</p>
</td>
<td> All
</td>
<td> What category this item falls under. Defaults to 1 for shields, 0 for everything else. Clothing-category armor is subject to <a href="/index.php/DF2012:Wear" title="DF2012:Wear">wear</a>.
</td></tr>
<tr>
<td> UPSTEP
</td>
<td> value, MAX
</td>
<td> ITEM_GLOVES<br />ITEM_SHOES<br />ITEM_SHIELD
</td>
<td> This token functions exactly like LBSTEP but in reverse.  How many steps up this item protects.  'Up'is defined as "Connected through a series of one or more body parts with the [LIMB] token to an UPPERBODY part.  Gloves and shoes can not protect upper or lower bodies.  Example, chausses with an upstep of MAX, protect the the foot and the entire leg, but not the lower body. The same effect could be achieved (on a humanoid) with UPSTEP&gt;=2.  Since toes and fingers lack the [LIMB] token, gloves and boots do not protect them. This may be a bug.
</td></tr>
<tr>
<td> UBSTEP
</td>
<td> value, MAX
</td>
<td> ITEM_ARMOR
</td>
<td> How many steps away from upper body the armor protects. Only present on torso armor. When counting steps, ignore any steps through upper or lower body parts(UBSTEP:0 items protect the upper and lower bodies as a result of this).  Currently bugged<sup>Bug:<a href="http://www.bay12games.com/dwarves/mantisbt/view.php?id=1821" class="external text" rel="nofollow">1821</a></sup>, high values of UBSTEP will result in the item protecting facial features, fingers, and toes, while leaving those parts that it can not protect unprotected (but still counting them as steps).  Torso armor can not protect hands, feet, or heads (parts with [GRASP],[STANCE], or [HEAD] tokens respectively) regardless of the UBSTEP value.  UBSTEP can also not protect parts that can be protected by LBSTEP.  Example, torso armor with [UBSTEP:1] will protect upper arms, wings, non-[STANCE] tails, the torso, and lower body.  However, a torso armor with [UBSTEP:4] or higher will also cover lower arms, fingers, facial features, and toes.
</td></tr>
<tr>
<td> LBSTEP
</td>
<td> value or MAX
</td>
<td> ITEM_ARMOR<br />ITEM_PANTS
</td>
<td> How many steps down the armor protects. 'Down' is defined as "Connected through a series of one or more body parts with the [LIMB] token to a body part with the [STANCE] token.  [LBSTEP] can not protect feet (parts with the [STANCE] token).  When counting steps, ignore any steps through upper or lower body parts.  Example, torso armor with a LBSTEP:1 will protect both the lower body and the upper legs in addition to the torso(the lower body step is not counted).  Leg armor with LBSTEP:MAX will protect the lower body, the entire legs, but not the feet or toes.
</td></tr>
<tr>
<td> METAL_ARMOR_LEVELS
</td>
<td>
</td>
<td> ITEM_ARMOR<br />ITEM_GLOVES<br />ITEM_SHOES<br />ITEM_HELM<br />ITEM_PANTS
</td>
<td> Metal versions of this item count as one ARMORLEVEL higher.
</td></tr>
<tr>
<td> BLOCKCHANCE
</td>
<td> value
</td>
<td> ITEM_SHIELD
</td>
<td> Affects the block chance of the shield. Defaults to 10.
</td></tr>
<tr>
<td> MATERIAL_SIZE
</td>
<td> value
</td>
<td> All
</td>
<td> How much material is needed to make the item. Most important with bars. The number of bars required to make the item is the value divided by three. <font color="red">Required</font>.
</td></tr>
<tr>
<td> SOFT
</td>
<td>
</td>
<td> All but ITEM_SHIELD
</td>
<td> Randomly generated equipped armor will have an equal probability of being made of leather or cloth, when this token is present and [METAL] is absent. Further uses of this tag are unknown.
</td></tr>
<tr>
<td> HARD
</td>
<td>
</td>
<td> All but ITEM_SHIELD
</td>
<td> Unknown function. No tag defaults to [HARD].
</td></tr>
<tr>
<td> METAL
</td>
<td>
</td>
<td> All but ITEM_SHIELD
</td>
<td> Item can be made with metal. Randomly generated equipped armor will always be made out of metal whenever possible.
</td></tr>
<tr>
<td> BARRED
</td>
<td>
</td>
<td> All but ITEM_SHIELD
</td>
<td> Can be crafted out of bone. Randomly generated equipped armor will never be made out of bone.
</td></tr>
<tr>
<td> SCALED
</td>
<td>
</td>
<td> All but ITEM_SHIELD
</td>
<td> Can be crafted from shell. Randomly generated equipped armor will never be made of shell.
</td></tr>
<tr>
<td> LEATHER
</td>
<td>
</td>
<td> All but ITEM_SHIELD
</td>
<td> Item can be made from leather. Randomly generated equipped armor with [LEATHER] will not be made of cloth, unless [SOFT] is also present.
</td></tr>
<tr>
<td> SHAPED
</td>
<td>
</td>
<td> All but ITEM_SHIELD
</td>
<td> Only one shaped piece of clothing can be worn on a single body slot at a time.
</td></tr>
<tr>
<td> CHAIN_METAL_TEXT
</td>
<td>
</td>
<td> All but ITEM_SHIELD
</td>
<td> Metal versions of this item will have "chain" added between the material and item name.
</td></tr>
<tr>
<td> STRUCTURAL_ELASTICITY_WOVEN_THREAD
</td>
<td>
</td>
<td> All but ITEM_SHIELD
</td>
<td>
</td></tr>
<tr>
<td> STRUCTURAL_ELASTICITY_CHAIN_METAL
</td>
<td>
</td>
<td> All but ITEM_SHIELD
</td>
<td>
</td></tr>
<tr>
<td> STRUCTURAL_ELASTICITY_CHAIN_ALL
</td>
<td>
</td>
<td> All but ITEM_SHIELD
</td>
<td> Seems to make blunt attacks more damaging. Further testing is needed.
</td></tr>
<tr>
<td> LAYER_SIZE
</td>
<td> value
</td>
<td> All but ITEM_SHIELD
</td>
<td> What the size of this item in question is, when it is put on. See <a href="/index.php/DF2012:Armor" title="DF2012:Armor">Armor</a> for more on item sizes and layering. Defaults to 10.
</td></tr>
<tr>
<td> LAYER_PERMIT
</td>
<td> value
</td>
<td> All but ITEM_SHIELD
</td>
<td> The maximum number of items allowed on that body slot. If the body slot's layer value is over this, no more of this item can be put on. See <a href="/index.php/DF2012:Armor" title="DF2012:Armor">Armor</a> for more on item sizes and layering. Defaults to 10.
</td></tr>
<tr>
<td> LAYER
</td>
<td> UNDER, OVER, ARMOR, COVER
</td>
<td> All but ITEM_SHIELD
</td>
<td> How this item is layered. The [LAYER_PERMIT:#] of a [LAYER:ARMOR] item overrides the [LAYER_PERMIT:#] of other items on the same ITEM_&lt;name1&gt;, unless it is a [LAYER:COVER] items. Defaults to UNDER.
</td></tr>
<tr>
<td> COVERAGE
</td>
<td>&#160;% value
</td>
<td> All but ITEM_SHIELD
</td>
<td> Coverage determines how often attacks and contaminants get through clothes.  Armor with a 5% coverage value, for example, will be near useless because 95% of attacks will bypass it completely.  Temperature effects are also influenced by coverage. Defaults to 100.
</td></tr></table>

<div id=tap>Trap Tokens</div>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
<tr>
<td> <b>Contents</b> <a href="#am">Ammo</a> <a href="#arm">Armor</a> <a href="#tap">Trap</a> <a href="#wep">Weapon</a>
</td></tr></table>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#ddd">
<th> Token
</th>
<th> Arguments
</th>
<th> Description
</th></tr>
<tr>
<td> NAME
</td>
<td> singular:plural
</td>
<td> What this item will be called ingame.
</td></tr>
<tr>
<td> ADJECTIVE
</td>
<td> adjective
</td>
<td> Appears before the name of the weapon's material. Eg. "menacing steel spike"
</td></tr>
<tr>
<td> SIZE / WEIGHT
</td>
<td> value
</td>
<td> How large the item is. Defaults to 100.
</td></tr>
<tr>
<td> HITS
</td>
<td> value
</td>
<td> Number of times it hits. Defaults to 1
</td></tr>
<tr>
<td> MATERIAL_SIZE
</td>
<td> value
</td>
<td> How much material is needed to make the item. Is most important with bars. The number of bars needed is the value divided by three. <font color="red">Required</font>.
</td></tr>
<tr>
<td> IS_SCREW
</td>
<td>
</td>
<td> Weapon may be installed in a screw pump.
</td></tr>
<tr>
<td> IS_SPIKE
</td>
<td>
</td>
<td> Weapon may be installed in a spike trap.
</td></tr>
<tr>
<td> WOOD
</td>
<td>
</td>
<td> Weapon may be made out of wood.
</td></tr>
<tr>
<td> METAL
</td>
<td>
</td>
<td> Weapon may be made out of metal.
</td></tr>
<tr>
<td> ATTACK
</td>
<td>
<ul><li> attacktype:EDGE (or BLUNT?)
</li><li> contact_area:value
</li><li> penetration_size:value
</li><li> verb2nd:string
</li><li> verb3rd:string
</li><li> noun:string
</li><li> velocity_multiplier:value 
</li></ul>
</td>
<td> Sets the attack characteristics of the weapon
</td></tr></table>


<div id=wep>Weapon Tokens</div>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
<tr>
<td> <b>Contents</b> <a href="#am">Ammo</a> <a href="#arm">Armor</a> <a href="#tap">Trap</a> <a href="#wep">Weapon</a>
</td></tr></table>

<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#999999">
<th> Token
</th>
<th> Arguments
</th>
<th> Description
</th>
<th> Works in armor
</th></tr>
<tr>
<td> NAME
</td>
<td>
<ul><li>singular
</li><li>plural
</li></ul>
</td>
<td> Name of the weapon. <font color="red">Required</font>.
</td>
<td> X
</td></tr>
<tr>
<td> ADJECTIVE
</td>
<td>
<ul><li>adjective
</li></ul>
</td>
<td> Adjective of the weapon, e.g. the "large" in "large copper dagger".
</td></tr>
<tr>
<td> SIZE / WEIGHT
</td>
<td>
<ul><li>size
</li></ul>
</td>
<td> Volume of weapon in mL or cubic cm. Defaults to 100.
</td></tr>
<tr>
<td> SHOOT_FORCE
</td>
<td>
<ul><li>value
</li></ul>
</td>
<td> The amount of force used when firing projectiles - velocity is presumably determined by the projectile's mass. Defaults to 0.
</td></tr>
<tr>
<td> SHOOT_MAXVEL
</td>
<td>
<ul><li>value
</li></ul>
</td>
<td> The maximum speed a fired projectile can have.
</td></tr>
<tr>
<td> SKILL
</td>
<td>
<ul><li><a href="/index.php/DF2012:Skill_token" title="DF2012:Skill token">Skill token</a>
</li></ul>
</td>
<td> The skill to determine effectiveness in melee with this weapon. Defaults to MACE. Skill of AXE will allow it to be used to chop down trees.
</td></tr>
<tr>
<td> RANGED
</td>
<td>
<ul><li><a href="/index.php/DF2012:Skill_token" title="DF2012:Skill token">Skill token</a>
</li><li>Ammo class
</li></ul>
</td>
<td> Makes this a ranged weapon that uses the specified ammo. The specified skill determines accuracy in ranged combat.
</td></tr>
<tr>
<td> TWO_HANDED
</td>
<td>
<ul><li>size
</li></ul>
</td>
<td> Creatures under this size (in cm^3) must use the weapon two-handed. Defaults to 50000.
</td></tr>
<tr>
<td> MINIMUM_SIZE
</td>
<td>
<ul><li>size
</li></ul>
</td>
<td> Minimum body size (in cm^3) to use the weapon at all (multigrasp required until TWO_HANDED value). Defaults to 40000.
</td></tr>
<tr>
<td> CAN_STONE
</td>
<td>
</td>
<td> Allows this weapon to be made from sharp stones (i.e. <a href="/index.php/DF2012:Obsidian" title="DF2012:Obsidian">obsidian</a>) plus a wood log.
</td></tr>
<tr>
<td> TRAINING
</td>
<td>
</td>
<td> Restricts this weapon to being made of wood.
</td></tr>
<tr>
<td> MATERIAL_SIZE
</td>
<td>
<ul><li>value
</li></ul>
</td>
<td> Number of bar units needed for forging, as well as the amount gained from melting. <font color="red">Required</font>.
</td></tr>
<tr>
<td> ATTACK
</td>
<td>
<ul><li>attacktype:BLUNT or EDGE
</li><li>contact_area:value
</li><li>penetration_size:value
</li><li>verb2nd:string
</li><li>verb3rd:string
</li><li>noun:string
</li><li>velocity_multiplier:value
</li></ul>
</td>
<td> You can have many ATTACK tags and one will be randomly selected for each attack, with EDGE attacks 100 times more common than BLUNT attacks. <font color="red">Required</font>.
</td></tr></table>
