<span class="mw-headline" id="Body_Attributes">Body Attributes</span></h2>
<p>The attribute values given in the tables correspond to default racial averages for dwarves only. Modded dwarves or any other creature will report the same phrases, but the underlying numbers may be very different. In almost every case, a higher attribute value is better, as opposed to <a href="/index.php/DF2012:Personality_trait" title="DF2012:Personality trait">personality traits</a> where one may prefer higher or lower depending on the situation.
</p>
<table>
 
<tr>
<td width="50%">
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=2" title="Edit section: Strength">edit</a>]</span> <span class="mw-headline" id="Strength">Strength</span></h3>
<p>Alters the damage done in melee (increases velocity of weapon swings), increases muscle mass (thicker muscle layer also resists damage more), and increases how much a creature can carry. Higher strength also increases the speed with which a creature, even a naked creature, may move.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (+)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2250 - 5000 </td>
<td> unbelievably strong
</td></tr>
<tr>
<td> 2000 - 2249 </td>
<td> mighty
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> very strong
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> strong
</td></tr>
<tr>
<td> 751 - 1000 </td>
<td> weak
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> very weak
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> unquestionably weak
</td></tr>
<tr>
<td> 0 - 250 </td>
<td> unfathomably weak
</td></tr></table>
</td>
<td width="50%">
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=3" title="Edit section: Agility">edit</a>]</span> <span class="mw-headline" id="Agility">Agility</span></h3>
<p>This attribute increases the <a href="/index.php/DF2012:Speed" title="DF2012:Speed">speed</a> at which a creature works in the same way as strength -- a creature with maximum agility and strength can move around three times faster than a creature with minimum agility and strength.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (-)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 1900 - 5000 </td>
<td> amazingly agile
</td></tr>
<tr>
<td> 1650 - 1899 </td>
<td> extremely agile
</td></tr>
<tr>
<td> 1400 - 1649 </td>
<td> very agile
</td></tr>
<tr>
<td> 1150 - 1399 </td>
<td> agile
</td></tr>
<tr>
<td> 401 - 650 </td>
<td> clumsy
</td></tr>
<tr>
<td> 151 - 400 </td>
<td> quite clumsy
</td></tr>
<tr>
<td> 0 - 150 </td>
<td> totally clumsy
</td></tr>
<tr>
<td> NULL </td>
<td> abysmally clumsy
</td></tr></table>
</td></tr>
<tr>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=4" title="Edit section: Toughness">edit</a>]</span> <span class="mw-headline" id="Toughness">Toughness</span></h3>
<p>Reduces physical damage.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (+)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2250 - 5000 </td>
<td> basically unbreakable
</td></tr>
<tr>
<td> 2000 - 2249 </td>
<td> incredibly tough
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> quite durable
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> tough
</td></tr>
<tr>
<td> 751 - 1000 </td>
<td> flimsy
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> very flimsy
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> remarkably flimsy
</td></tr>
<tr>
<td> 0 - 250 </td>
<td> shockingly fragile
</td></tr></table>
</td>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=5" title="Edit section: Endurance">edit</a>]</span> <span class="mw-headline" id="Endurance">Endurance</span></h3>
<p>Reduces the rate at which dwarves become exhausted.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (AVG)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2000 - 5000 </td>
<td> absolutely inexhaustible
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> indefatigable
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> very slow to tire
</td></tr>
<tr>
<td> 1250 - 1499 </td>
<td> slow to tire
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> quick to tire
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> very quick to tire
</td></tr>
<tr>
<td> 1 - 250 </td>
<td> extremely quick to tire
</td></tr>
<tr>
<td> 0 </td>
<td> truly quick to tire
</td></tr></table>
</td></tr>
<tr>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=6" title="Edit section: Recuperation">edit</a>]</span> <span class="mw-headline" id="Recuperation">Recuperation</span></h3>
<p>Increases the rate of wound healing.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (AVG)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2000 - 5000 </td>
<td> possessed of amazing recuperative powers
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> incredibly quick to heal
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> quite quick to heal
</td></tr>
<tr>
<td> 1250 - 1499 </td>
<td> quick to heal
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> slow to heal
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> very slow to heal
</td></tr>
<tr>
<td> 1 - 250 </td>
<td> really slow to heal
</td></tr>
<tr>
<td> 0 </td>
<td> shockingly slow to heal
</td></tr></table>
</td>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=7" title="Edit section: Disease Resistance">edit</a>]</span> <span class="mw-headline" id="Disease_Resistance">Disease Resistance</span></h3>
<p>Reduces the risk of disease. 
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (AVG)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2000 - 5000 </td>
<td> virtually never sick
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> almost never sick
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> very rarely sick
</td></tr>
<tr>
<td> 1250 - 1499 </td>
<td> rarely sick
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> susceptible to disease
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> quite susceptible to disease
</td></tr>
<tr>
<td> 1 - 250 </td>
<td> really susceptible to disease
</td></tr>
<tr>
<td> 0 </td>
<td> stunningly susceptible to disease
</td></tr></table>
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=8" title="Edit section: Soul Attributes">edit</a>]</span> <span class="mw-headline" id="Soul_Attributes">Soul Attributes</span></h2>
<p>The attribute values given in the tables correspond to default racial averages for dwarves only. Modded dwarves or any other creature will report the same phrases, but the underlying numbers may be very different. In almost every case, a higher attribute value is better, as opposed to <a href="/index.php/DF2012:Personality_trait" title="DF2012:Personality trait">personality traits</a> where one may prefer higher or lower depending on the situation.
</p><p>From <a href="http://www.bay12forums.com/smf/index.php?topic=60554.msg1413312#msg1413312" class="external text" rel="nofollow">this post by Toady One</a>
</p><p>With respect to skills: most of these attributes only affect duration, when that is the only available skill effect to begin with, but they are factored into outcomes when it applies.
</p><p>At the <a href="#Skills_By_Soul_Attribute">bottom</a> is a list of which attributes affect which skills. <a href="/index.php/File:DFmental.PNG" title="File:DFmental.PNG">This</a> pair of charts provides an easier to read summary of the soul attributes that are useful for doctors and soldiers.
</p>
<table>
 
<tr>
<td width="50%">
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=9" title="Edit section: Analytical Ability">edit</a>]</span> <span class="mw-headline" id="Analytical_Ability">Analytical Ability</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (+)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2250 - 5000 </td>
<td> awesome intellectual powers
</td></tr>
<tr>
<td> 2000 - 2249 </td>
<td> great analytical abilities
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> a sharp intellect
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> a good intellect
</td></tr>
<tr>
<td> 751 - 1000 </td>
<td> poor analytical abilities
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> very bad analytical abilities
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> a lousy intellect
</td></tr>
<tr>
<td> 0 - 250 </td>
<td> a stunning lack of analytical ability
</td></tr></table>
</td>
<td width="50%">
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=10" title="Edit section: Focus">edit</a>]</span> <span class="mw-headline" id="Focus">Focus</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (++)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2542 - 5000 </td>
<td> unbreakable focus
</td></tr>
<tr>
<td> 2292 - 2541 </td>
<td> a great ability to focus
</td></tr>
<tr>
<td> 2042 - 2291 </td>
<td> very good focus
</td></tr>
<tr>
<td> 1792 - 2041 </td>
<td> the ability to focus
</td></tr>
<tr>
<td> 1043 - 1292 </td>
<td> poor focus
</td></tr>
<tr>
<td> 793 - 1042 </td>
<td> quite poor focus
</td></tr>
<tr>
<td> 543 - 792 </td>
<td> really poor focus
</td></tr>
<tr>
<td> 0 - 542 </td>
<td> the absolute inability to focus
</td></tr></table>
</td></tr>
<tr>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=11" title="Edit section: Willpower">edit</a>]</span> <span class="mw-headline" id="Willpower">Willpower</span></h3>
<p>Willpower directly reduces exertion and pain effects.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (AVG)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2000 - 5000 </td>
<td> an unbreakable will
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> an iron will
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> a lot of willpower
</td></tr>
<tr>
<td> 1250 - 1499 </td>
<td> willpower
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> little willpower
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> a large deficit of willpower
</td></tr>
<tr>
<td> 1 - 250 </td>
<td> next to no willpower
</td></tr>
<tr>
<td> 0 </td>
<td> absolutely no willpower
</td></tr></table>
</td>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=12" title="Edit section: Creativity">edit</a>]</span> <span class="mw-headline" id="Creativity">Creativity</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (+)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2250 - 5000 </td>
<td> a boundless creative imagination
</td></tr>
<tr>
<td> 2000 - 2249 </td>
<td> great creativity
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> very good creativity
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> good creativity
</td></tr>
<tr>
<td> 751 - 1000 </td>
<td> meager creativity
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> poor creativity
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> lousy creativity
</td></tr>
<tr>
<td> 0 - 250 </td>
<td> next to no creative talent
</td></tr></table>
</td></tr>
<tr>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=13" title="Edit section: Intuition">edit</a>]</span> <span class="mw-headline" id="Intuition">Intuition</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (AVG)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2000 - 5000 </td>
<td> uncanny intuition
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> great intuition
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> very good intuition
</td></tr>
<tr>
<td> 1250 - 1499 </td>
<td> good intuition
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> bad intuition
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> very bad intuition
</td></tr>
<tr>
<td> 1 - 250 </td>
<td> lousy intuition
</td></tr>
<tr>
<td> 0 </td>
<td> horrible intuition
</td></tr></table>
</td>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=14" title="Edit section: Patience">edit</a>]</span> <span class="mw-headline" id="Patience">Patience</span></h3>
<p>Some non-skill tasks are affected by Patience.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (+)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2250 - 5000 </td>
<td> absolutely boundless patience
</td></tr>
<tr>
<td> 2000 - 2249 </td>
<td> a deep well of patience
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> a great deal of patience
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> a sum of patience
</td></tr>
<tr>
<td> 751 - 1000 </td>
<td> a shortage of patience
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> little patience
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> very little patience
</td></tr>
<tr>
<td> 0 - 250 </td>
<td> no patience at all
</td></tr></table>
</td></tr>
<tr>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=15" title="Edit section: Memory">edit</a>]</span> <span class="mw-headline" id="Memory">Memory</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (+)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2250 - 5000 </td>
<td> an astonishing memory
</td></tr>
<tr>
<td> 2000 - 2249 </td>
<td> an amazing memory
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> a great memory
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> a good memory
</td></tr>
<tr>
<td> 751 - 1000 </td>
<td> an iffy memory
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> a poor memory
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> a really bad memory
</td></tr>
<tr>
<td> 0 - 250 </td>
<td> little memory to speak of
</td></tr></table>
</td>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=16" title="Edit section: Linguistic Ability">edit</a>]</span> <span class="mw-headline" id="Linguistic_Ability">Linguistic Ability</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (AVG)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2000 - 5000 </td>
<td> an astonishing ability with languages and words
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> a great affinity for language
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> a natural inclination toward language
</td></tr>
<tr>
<td> 1250 - 1499 </td>
<td> a way with words
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> a little difficulty with words
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> little linguistic ability
</td></tr>
<tr>
<td> 1 - 250 </td>
<td> very little linguistic ability
</td></tr>
<tr>
<td> 0 </td>
<td> difficulty with words and language
</td></tr></table>
</td></tr>
<tr>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=17" title="Edit section: Spatial Sense">edit</a>]</span> <span class="mw-headline" id="Spatial_Sense">Spatial Sense</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (++)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2542 - 5000 </td>
<td> a stunning feel for spatial relationships
</td></tr>
<tr>
<td> 2292 - 2541 </td>
<td> an amazing spatial sense
</td></tr>
<tr>
<td> 2042 - 2291 </td>
<td> a great feel for the surrounding space
</td></tr>
<tr>
<td> 1792 - 2041 </td>
<td> a good spatial sense
</td></tr>
<tr>
<td> 1043 - 1292 </td>
<td> a questionable spatial sense
</td></tr>
<tr>
<td> 793 - 1042 </td>
<td> poor spatial senses
</td></tr>
<tr>
<td> 543 - 792 </td>
<td> an atrocious spatial sense
</td></tr>
<tr>
<td> 0 - 542 </td>
<td> no sense for spatial relationships
</td></tr></table>
</td>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=18" title="Edit section: Musicality">edit</a>]</span> <span class="mw-headline" id="Musicality">Musicality</span></h3>
<p>This attribute doesn't affect any skills.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (AVG)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2000 - 5000 </td>
<td> an astonishing knack for music
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> a great musical sense
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> a natural ability with music
</td></tr>
<tr>
<td> 1250 - 1499 </td>
<td> a feel for music
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> an iffy sense for music
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> little natural inclination toward music
</td></tr>
<tr>
<td> 1 - 250 </td>
<td> next to no natural musical ability
</td></tr>
<tr>
<td> 0 </td>
<td> absolutely no feel for music at all
</td></tr></table>
</td></tr>
<tr>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=19" title="Edit section: Kinesthetic Sense">edit</a>]</span> <span class="mw-headline" id="Kinesthetic_Sense">Kinesthetic Sense</span></h3>
<p>Most skills involving any movement at all (lots of them), and many non-skilled tasks as well are affected by Kinesthetic Sense.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (AVG)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2000 - 5000 </td>
<td> an astounding feel for the position of own body
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> a great kinesthetic sense
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> a very good sense of the position of own body
</td></tr>
<tr>
<td> 1250 - 1499 </td>
<td> a good kinesthetic sense
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> a meager kinesthetic sense
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> a poor kinesthetic sense
</td></tr>
<tr>
<td> 1 - 250 </td>
<td> a very clumsy kinesthetic sense
</td></tr>
<tr>
<td> 0 </td>
<td> an unbelievably atrocious sense of the position of own body
</td></tr></table>
</td>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=20" title="Edit section: Empathy">edit</a>]</span> <span class="mw-headline" id="Empathy">Empathy</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (AVG)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2000 - 5000 </td>
<td> an absolutely remarkable sense of others' emotions
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> a great sense of empathy
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> a very good sense of empathy
</td></tr>
<tr>
<td> 1250 - 1499 </td>
<td> an ability to read emotions fairly well
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> poor empathy
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> a very bad sense of empathy
</td></tr>
<tr>
<td> 1 - 250 </td>
<td> next to no empathy
</td></tr>
<tr>
<td> 0 </td>
<td> the utter inability to judge others' emotions
</td></tr></table>
</td></tr>
<tr>
<td>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Attribute&amp;action=edit&amp;section=21" title="Edit section: Social Awareness">edit</a>]</span> <span class="mw-headline" id="Social_Awareness">Social Awareness</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th style="width:8em"> Value (AVG)
</th>
<th> Description
</th></tr>
<tr style="border-top: 3px solid #aaa">
<td> 2000 - 5000 </td>
<td> a shockingly profound feel for social relationships
</td></tr>
<tr>
<td> 1750 - 1999 </td>
<td> a great feel for social relationships
</td></tr>
<tr>
<td> 1500 - 1749 </td>
<td> a very good feel for social relationships
</td></tr>
<tr>
<td> 1250 - 1499 </td>
<td> a good feel for social relationships
</td></tr>
<tr>
<td> 501 - 750 </td>
<td> a meager ability with social relationships
</td></tr>
<tr>
<td> 251 - 500 </td>
<td> a poor ability to manage or understand social relationships
</td></tr>
<tr>
<td> 1 - 250 </td>
<td> a lack of understanding of social relationships
</td></tr>
<tr>
<td> 0 </td>
<td> an absolute inability to understand social relationships
</td></tr></table>
</td></tr></table>
