<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#ddd">
<th> ID </th>
<th> Token </th>
<th> Description
</th></tr>
<tr>
<td> 0 </td>
<td> MOUNTAIN or MOUNTAINS </td>
<td> Mountain
</td></tr>
<tr>
<td> 1 </td>
<td> GLACIER </td>
<td> Glacier
</td></tr>
<tr>
<td> 2 </td>
<td> TUNDRA </td>
<td> Tundra
</td></tr>
<tr>
<td> 3 </td>
<td> SWAMP_TEMPERATE_FRESHWATER </td>
<td> Temperate Freshwater Swamp
</td></tr>
<tr>
<td> 4 </td>
<td> SWAMP_TEMPERATE_SALTWATER </td>
<td> Temperate Saltwater Swamp
</td></tr>
<tr>
<td> 5 </td>
<td> MARSH_TEMPERATE_FRESHWATER </td>
<td> Temperate Freshwater Marsh
</td></tr>
<tr>
<td> 6 </td>
<td> MARSH_TEMPERATE_SALTWATER </td>
<td> Temperate Saltwater Marsh
</td></tr>
<tr>
<td> 7 </td>
<td> SWAMP_TROPICAL_FRESHWATER </td>
<td> Tropical Freshwater Swamp
</td></tr>
<tr>
<td> 8 </td>
<td> SWAMP_TROPICAL_SALTWATER </td>
<td> Tropical Saltwater Swamp
</td></tr>
<tr>
<td> 9 </td>
<td> SWAMP_MANGROVE </td>
<td> Mangrove Swamp
</td></tr>
<tr>
<td> 10 </td>
<td> MARSH_TROPICAL_FRESHWATER </td>
<td> Tropical Freshwater Marsh
</td></tr>
<tr>
<td> 11 </td>
<td> MARSH_TROPICAL_SALTWATER </td>
<td> Tropical Saltwater Marsh
</td></tr>
<tr>
<td> 12 </td>
<td> FOREST_TAIGA or TAIGA </td>
<td> Taiga
</td></tr>
<tr>
<td> 13 </td>
<td> FOREST_TEMPERATE_CONIFER </td>
<td> Temperate Coniferous Forest
</td></tr>
<tr>
<td> 14 </td>
<td> FOREST_TEMPERATE_BROADLEAF </td>
<td> Temperate Broadleaf Forest
</td></tr>
<tr>
<td> 15 </td>
<td> FOREST_TROPICAL_CONIFER </td>
<td> Tropical Coniferous Forest
</td></tr>
<tr>
<td> 16 </td>
<td> FOREST_TROPICAL_DRY_BROADLEAF </td>
<td> Tropical Dry Broadleaf Forest
</td></tr>
<tr>
<td> 17 </td>
<td> FOREST_TROPICAL_MOIST_BROADLEAF </td>
<td> Tropical Moist Broadleaf Forest
</td></tr>
<tr>
<td> 18 </td>
<td> GRASSLAND_TEMPERATE </td>
<td> Temperate Grassland
</td></tr>
<tr>
<td> 19 </td>
<td> SAVANNA_TEMPERATE </td>
<td> Temperate Savanna
</td></tr>
<tr>
<td> 20 </td>
<td> SHRUBLAND_TEMPERATE </td>
<td> Temperate Shrubland
</td></tr>
<tr>
<td> 21 </td>
<td> GRASSLAND_TROPICAL </td>
<td> Tropical Grassland
</td></tr>
<tr>
<td> 22 </td>
<td> SAVANNA_TROPICAL </td>
<td> Tropical Savanna
</td></tr>
<tr>
<td> 23 </td>
<td> SHRUBLAND_TROPICAL </td>
<td> Tropical Shrubland
</td></tr>
<tr>
<td> 24 </td>
<td> DESERT_BADLAND </td>
<td> Badlands
</td></tr>
<tr>
<td> 25 </td>
<td> DESERT_ROCK </td>
<td> Rocky Wasteland
</td></tr>
<tr>
<td> 26 </td>
<td> DESERT_SAND </td>
<td> Sand Desert
</td></tr>
<tr>
<td> 27 </td>
<td> OCEAN_TROPICAL </td>
<td> Tropical Ocean
</td></tr>
<tr>
<td> 28 </td>
<td> OCEAN_TEMPERATE </td>
<td> Temperate Ocean
</td></tr>
<tr>
<td> 29 </td>
<td> OCEAN_ARCTIC </td>
<td> Arctic Ocean
</td></tr>
<tr>
<td> 30 </td>
<td> POOL_TEMPERATE_FRESHWATER </td>
<td> Temperate Freshwater Pool
</td></tr>
<tr>
<td> 31 </td>
<td> POOL_TEMPERATE_BRACKISHWATER </td>
<td> Temperate Brackish Pool
</td></tr>
<tr>
<td> 32 </td>
<td> POOL_TEMPERATE_SALTWATER </td>
<td> Temperate Saltwater Pool
</td></tr>
<tr>
<td> 33 </td>
<td> POOL_TROPICAL_FRESHWATER </td>
<td> Tropical Freshwater Pool
</td></tr>
<tr>
<td> 34 </td>
<td> POOL_TROPICAL_BRACKISHWATER </td>
<td> Tropical Brackish Pool
</td></tr>
<tr>
<td> 35 </td>
<td> POOL_TROPICAL_SALTWATER </td>
<td> Tropical Saltwater Pool
</td></tr>
<tr>
<td> 36 </td>
<td> LAKE_TEMPERATE_FRESHWATER </td>
<td> Temperate Freshwater Lake
</td></tr>
<tr>
<td> 37 </td>
<td> LAKE_TEMPERATE_BRACKISHWATER </td>
<td> Temperate Brackish Lake
</td></tr>
<tr>
<td> 38 </td>
<td> LAKE_TEMPERATE_SALTWATER </td>
<td> Temperate Saltwater Lake
</td></tr>
<tr>
<td> 39 </td>
<td> LAKE_TROPICAL_FRESHWATER </td>
<td> Tropical Freshwater Lake
</td></tr>
<tr>
<td> 40 </td>
<td> LAKE_TROPICAL_BRACKISHWATER </td>
<td> Tropical Brackish Lake
</td></tr>
<tr>
<td> 41 </td>
<td> LAKE_TROPICAL_SALTWATER </td>
<td> Tropical Saltwater Lake
</td></tr>
<tr>
<td> 42 </td>
<td> RIVER_TEMPERATE_FRESHWATER </td>
<td> Temperate Freshwater River
</td></tr>
<tr>
<td> 43 </td>
<td> RIVER_TEMPERATE_BRACKISHWATER </td>
<td> Temperate Brackish River
</td></tr>
<tr>
<td> 44 </td>
<td> RIVER_TEMPERATE_SALTWATER </td>
<td> Temperate Saltwater River
</td></tr>
<tr>
<td> 45 </td>
<td> RIVER_TROPICAL_FRESHWATER </td>
<td> Tropical Freshwater River
</td></tr>
<tr>
<td> 46 </td>
<td> RIVER_TROPICAL_BRACKISHWATER </td>
<td> Tropical Brackish River
</td></tr>
<tr>
<td> 47 </td>
<td> RIVER_TROPICAL_SALTWATER </td>
<td> Tropical Saltwater River
</td></tr>
<tr>
<td> 48 </td>
<td> SUBTERRANEAN_WATER </td>
<td> Underground caverns (in water)
</td></tr>
<tr>
<td> 49 </td>
<td> SUBTERRANEAN_CHASM </td>
<td> Underground caverns (out of water)
</td></tr>
<tr>
<td> 50 </td>
<td> SUBTERRANEAN_LAVA </td>
<td> Magma sea
</td></tr></table>
<p><br />
</p>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Biome_token&amp;action=edit&amp;section=2" title="Edit section: Biome Sets">edit</a>]</span> <span class="mw-headline" id="Biome_Sets">Biome Sets</span></h2>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#ddd">
<th> Token </th>
<th> Biomes </th>
<th> Description
</th></tr>
<tr>
<td> ALL_MAIN </td>
<td> 0-29, 36-41 </td>
<td> All biomes excluding pools, rivers, and underground features
</td></tr>
<tr>
<td> ANY_LAND </td>
<td> 0-26 </td>
<td> All main biomes excluding oceans and lakes
</td></tr>
<tr>
<td> ANY_OCEAN </td>
<td> 27-29 </td>
<td> All ocean biomes
</td></tr>
<tr>
<td> ANY_LAKE </td>
<td> 36-41 </td>
<td> All lake biomes
</td></tr>
<tr>
<td> ANY_TEMPERATE_LAKE </td>
<td> 36-38 </td>
<td> All temperate lake biomes
</td></tr>
<tr>
<td> ANY_TROPICAL_LAKE </td>
<td> 39-41 </td>
<td> All tropical lake biomes
</td></tr>
<tr>
<td> ANY_RIVER </td>
<td> 42-47 </td>
<td> All river biomes
</td></tr>
<tr>
<td> ANY_TEMPERATE_RIVER </td>
<td> 42-44 </td>
<td> All temperate river biomes
</td></tr>
<tr>
<td> ANY_TROPICAL_RIVER </td>
<td> 45-47 </td>
<td> All tropical river biomes
</td></tr>
<tr>
<td> ANY_POOL </td>
<td> 30-35 </td>
<td> All pool biomes
</td></tr>
<tr>
<td> NOT_FREEZING </td>
<td> 3-26 </td>
<td> All land biomes excluding Mountain, Glacier, and Tundra
</td></tr>
<tr>
<td> ANY_TEMPERATE </td>
<td> 3-6, 13-14, 18-20 </td>
<td> All Temperate land biomes - marshes, swamps, forests, grassland, savanna, and shrubland
</td></tr>
<tr>
<td> ANY_TROPICAL </td>
<td> 7-11, 15-17, 21-23 </td>
<td> All Tropical land biomes - marshes, swamps (including Mangrove), forests, grassland, savanna, and shrubland
</td></tr>
<tr>
<td> ANY_FOREST </td>
<td> 13-17 </td>
<td> All Forest biomes (excluding Taiga)
</td></tr>
<tr>
<td> ANY_SHRUBLAND </td>
<td> 20, 23 </td>
<td> Temperate and Tropical Shrubland
</td></tr>
<tr>
<td> ANY_GRASSLAND </td>
<td> 18, 21 </td>
<td> Temperate and Tropical Grassland
</td></tr>
<tr>
<td> ANY_SAVANNA </td>
<td> 19, 22 </td>
<td> Temperate and Tropical Savanna
</td></tr>
<tr>
<td> ANY_TEMPERATE_FOREST </td>
<td> 13-14 </td>
<td> Temperate Coniferous and Broadleaf Forests
</td></tr>
<tr>
<td> ANY_TROPICAL_FOREST </td>
<td> 15-17 </td>
<td> Tropical Coniferous and Dry/Moist Broadleaf Forests
</td></tr>
<tr>
<td> ANY_TEMPERATE_BROADLEAF </td>
<td> 3-6, 14, 18-20 </td>
<td> Temperate Broadleaf Forest, Grassland/Savanna/Shrubland, Swamps, and Marshes
</td></tr>
<tr>
<td> ANY_TROPICAL_BROADLEAF </td>
<td> 7-11, 16-17, 21-23 </td>
<td> Tropical Dry/Moist Broadleaf Forest, Grassland/Savanna/Shrubland, Swamps (including Mangrove), and Marshes
</td></tr>
<tr>
<td> ANY_WETLAND </td>
<td> 3-11 </td>
<td> All swamps and marshes
</td></tr>
<tr>
<td> ANY_TEMPERATE_WETLAND </td>
<td> 3-6 </td>
<td> All temperate swamps and marshes
</td></tr>
<tr>
<td> ANY_TROPICAL_WETLAND </td>
<td> 7-11 </td>
<td> All tropical swamps and marshes
</td></tr>
<tr>
<td> ANY_TROPICAL_MARSH </td>
<td> 10-11 </td>
<td> All tropical marshes
</td></tr>
<tr>
<td> ANY_TEMPERATE_MARSH </td>
<td> 5-6 </td>
<td> All temperate marshes
</td></tr>
<tr>
<td> ANY_TROPICAL_SWAMP </td>
<td> 7-9 </td>
<td> All tropical swamps
</td></tr>
<tr>
<td> ANY_TEMPERATE_SWAMP </td>
<td> 3-4 </td>
<td> All temperate swamps
</td></tr>
<tr>
<td> ANY_DESERT </td>
<td> 24-26 </td>
<td> Badlands, Rocky Wasteland, and Sand Desert
</td></tr></table>
