Body Gloss
<pre>[BODYGLOSS:PAW:foot:paw:feet:paws]
[BODYGLOSS:MAW:mouth:maw:mouths:maws]
[BODYGLOSS:CLAW_HAND:hand:claw:hands:claws]
[BODYGLOSS:CLAW_FOOT:foot:claw:feet:claws]
[BODYGLOSS:HOOF:foot:hoof:feet:hooves]
[BODYGLOSS:TRUNK:body:trunk:bodies:trunks]
[BODYGLOSS:BRANCH_ARM:arm:branch:arms:branches]
[BODYGLOSS:LEG_STUMP:leg:stump:legs:stumps]
[BODYGLOSS:ROOTS_FOOT:foot:roots:feet:roots]
[BODYGLOSS:INSECT_UPPERBODY:upper body:thorax:upper bodies:thoraxes]
[BODYGLOSS:INSECT_LOWERBODY:lower body:abdomen:lower bodies:abdomens]
</pre>
format:<br>
[BODYGLOSS:{custom_id}:"string singular to look for in body parts":"string to use as replacement":"string plural to look for in body parts":"string to use as replacement"]<br>
Note that this is a simple string replacement for all body partsóreplacing "ear" will also replace the middle of "heart". <br><br>

Body Tokens
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#999999">
<th> Token
</th>
<th> Arguments
</th>
<th> Description
</th></tr>
<tr>
<td> APERTURE
</td>
<td>
</td>
<td> Marks body part as an opening in the body. This body part cannot be destroyed except by destroying the part it is attached to.
</td></tr>
<tr>
<td> BP
</td>
<td>
<ul><li>ID
</li><li>name
</li><li>pluralized name
</li></ul>
</td>
<td> "STP stands for "Standard Plural" and it just adds an 's' to the singular word to save some typing.  If you don't add something in that slot, the body part won't even load." --Toady.  Note that this can cause confusing issues when porting from 40d to 2010.  Make sure you add your pluralizations!
</td></tr>
<tr>
<td> BREATHE
</td>
<td>
</td>
<td> Body part is used to breathe. If all body parts with [BREATHE] are damaged or destroyed, the creature will suffocate unless it has the NOBREATHE tag in its creature def.
</td></tr>
<tr>
<td> CON
</td>
<td>
<ul><li>value
</li></ul>
</td>
<td> Connects the body part to a specific other body part
</td></tr>
<tr>
<td> CON_CAT
</td>
<td>
<ul><li>value
</li></ul>
</td>
<td> Connects the body part to all other body parts having the specified CATEGORY
</td></tr>
<tr>
<td> CONTYPE
</td>
<td>
<ul><li>value
</li></ul>
</td>
<td> Connects the body part to all other body parts having the specified type token. Valid values are UPPERBODY, LOWERBODY, HEAD, GRASP, or STANCE.
</td></tr>
<tr>
<td> CIRCULATION
</td>
<td>
</td>
<td> Body part is responsible for blood circulation. Exact effects not known.
</td></tr>
<tr>
<td> CONNECTOR
</td>
<td>
</td>
<td> Body part is used to connect other body parts together. Used for the neck and lower spine.
</td></tr>
<tr>
<td> CATEGORY
</td>
<td>
<ul><li>ID
</li></ul>
</td>
<td> Assigns the body part to a user-defined category. Used by CON_CAT to attach to other body parts.
</td></tr>
<tr>
<td> DEFAULT_RELSIZE
</td>
<td>
<ul><li>Size
</li></ul>
</td>
<td> This command establishes the relative size of body parts within a creature.  The numbers have no absolute meaning or units.
</td></tr>
<tr>
<td> DIGIT
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td> EMBEDDED
</td>
<td>
</td>
<td> Body part with this tag is on the surface of parent body part. ie: eye and mouth on head. It can be gouged.
</td></tr>
<tr>
<td> FLIER
</td>
<td>
</td>
<td> Flags the body part as being need for flight.  Damage to a certain number of FLIER body parts will prevent the creature from flying.  Note that a creature can only fly if the creature has the FLIER tag in its creature definition, and that a flying creature does not actually need any FLIER body parts.  This tags only purpose is to identify body parts which will cause a creature to <b>lose</b> the ability to fly, if they are damaged.
</td></tr>
<tr>
<td> GRASP
</td>
<td>
</td>
<td> Creature can wield a picked-up weapon with body part, and can use the part to initiate a wider variety of wrestling moves. When creatures are spawned with a weapon and shield, one GRASP part will hold a weapon while <b>all others</b> will hold shields.
</td></tr>
<tr>
<td> GUTS
</td>
<td>
</td>
<td> Body parts marked with this tag make the creature nauseous and vomit when hit.
</td></tr>
<tr>
<td> HEAD
</td>
<td>
</td>
<td> Flags the body part as being able to wear head clothing like hats, helms, etc. If all heads are chopped off, the creature dies. Multiple heads <b>are</b> redundant - for example, <a href="/index.php/DF2012:Hydra" title="DF2012:Hydra">hydras</a> can survive with several missing heads.
</td></tr>
<tr>
<td> HEAR
</td>
<td>
</td>
<td> Body part is used to hear. No known effects.
</td></tr>
<tr>
<td> INDIVIDUAL_NAME
</td>
<td>
<ul><li>name
</li><li>plural
</li></ul>
</td>
<td> Adding individual names tells the game what to call each individual part in a NUMBERed bodypart.  This command replaces "first upper front tooth" for example.
</td></tr>
<tr>
<td> INTERNAL
</td>
<td>
</td>
<td> Marks the body part as inside the body. Needs [SMALL] tag as well to not be targetable by attacks.
</td></tr>
<tr>
<td> JOINT
</td>
<td>
</td>
<td> Body part is a joint that may be broken by wrestling.
</td></tr>
<tr>
<td> LIMB
</td>
<td>
</td>
<td> Body part is a limb.  It can be used to initiate certain types of wrestling moves.  If it is located between an UPPERBODY part and a GRASP body part, it is eligible to be covered by certain types of armor (body armors and gauntlets).  If it is located between a LOWERBODY part and a STANCE body part, it is eligible to be covered by other types of armor (Leg armors like pants, etc; trailing body armors like mail shirts and robes; and high boots).
</td></tr>
<tr>
<td> LOWERBODY
</td>
<td>
</td>
<td> Flags the body part as being able to wear lower body clothing like skirts, pants, etc.  If a lower body is chopped off, the creature dies.  Multiple lowerbody parts aren't redundant.
</td></tr>
<tr>
<td> LEFT
</td>
<td>
</td>
<td> Marks body part as on the left side of the body and vulnerable to attacks from the left. Used in conjunction with tags in the b_detail_plan_default raw.
</td></tr>
<tr>
<td> MOUTH
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td> NUMBER
</td>
<td>
<ul><li>value
</li></ul>
</td>
<td> In theory, the number lets you stack identical body parts.  These can be individually damaged by wounds, but you don't have to define them explicitly one by one.  If you don't give them individual names (see teeth) they'll be preceded by ordinal numbers (first, second, etc).
<p>HOWEVER, this tag appears to be non-functional.
</p>
</td></tr>
<tr>
<td> NERVOUS
</td>
<td>
</td>
<td> Body part is necessary for motor function. Damage will impair movement and also disallow creature from sparring in Fortress mode.
</td></tr>
<tr>
<td> PREVENTS_PARENT_COLLAPSE
</td>
<td>
</td>
<td> Body part must be destroyed in order for the attached parent object to be considered destroyed. Found on skulls and spinal columns.
</td></tr>
<tr>
<td> RIGHT
</td>
<td>
</td>
<td> Marks body part as on the right side of the body and vulnerable to attacks from the right. Used in conjunction with tags in the b_detail_plan_default raw.
</td></tr>
<tr>
<td> SKELETON
</td>
<td>
</td>
<td> Body part is part of the creature's skeleton.
</td></tr>
<tr>
<td> STANCE
</td>
<td>
</td>
<td> Allows the creature to stand. Damage or loss of these body parts will cause creature to fall over.
</td></tr>
<tr>
<td> SIGHT
</td>
<td>
</td>
<td> Body part is used to see with.  If the creature has no SIGHT body parts, or if all its sight body parts are damaged or destroyed, it can't see unless it has the EXTRAVISION tag in its creature def.
</td></tr>
<tr>
<td> SMELL
</td>
<td>
</td>
<td> Body part is used to smell. No known function. (could possibly control reactions to miasma in fortress mode?)
</td></tr>
<tr>
<td> SMALL
</td>
<td>
</td>
<td> "SMALL means that the part isn't displayed as part of the overall displayed body part lists.  They can't be splinted.  They are more often targeted for torture (although those situations might not occur anymore).  They are removed in skeletons if they aren't specifically skeletons/joints/digits/apertures.  They are more easily lost in world gen duels.  They are the only gougable/pinchable parts.  SMALL is an old tag, so it has accumulated some weird functions which'll get split off over time. " --Toady
</td></tr>
<tr>
<td> SOCKET
</td>
<td>
</td>
<td> Allows the body part to be easily knocked out. Used on teeth.
</td></tr>
<tr>
<td> THROAT
</td>
<td>
</td>
<td> Body part can be strangled.
</td></tr>
<tr>
<td> THOUGHT
</td>
<td>
</td>
<td> Most creatures die if all bodyparts with this tag have sustained damage to a FUNCTIONAL tissue or been outright destroyed (chopped off).  Creatures will not die if they have NO_THOUGHT_CENTER_FOR_MOVEMENT (and/or NOTHOUGHT?)
</td></tr>
<tr>
<td> TOTEMABLE
</td>
<td>
</td>
<td> Makes the body part makeable into totems at a craftsdwarf's workshop.
</td></tr>
<tr>
<td> UPPERBODY
</td>
<td>
</td>
<td> Flags the body part as being able to wear upper body clothing like coats, breastplates etc.  If an upper body is chopped off, the creature dies.  Multiple upperbody parts aren't redundant.  All default creatures with bodies have the upperbody as the root of the body tree, making it impossible to chop off.
</td></tr>
<tr>
<td> UNDER_PRESSURE
</td>
<td>
</td>
<td> Makes the body part pop out of edge attack wounds. Used on guts. Body part shows up as "~" when spilled/popped out.
</td></tr>
<tr>
<td> VERMIN_BUTCHER_ITEM
</td>
<td>
</td>
<td> Allows the item to be obtained from butchered or rotted vermin.
</td></tr></table>
