[BUILDING_WORKSHOP:{custom_id}] or [BUILDING_FURNACE:{custom_id}] determins if it shows in workshops or furnaces build menus.
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#ddd">
<th> Token
</th>
<th> Arguments
</th>
<th> Description
</th></tr>
<tr>
<td> NAME
</td>
<td> name
</td>
<td> The name of the custom building.
</td></tr>
<tr>
<td> NAME_COLOR
</td>
<td> <a href="/index.php/DF2012:Color#Modding_color" title="DF2012:Color">fg:bg:bright</a>
</td>
<td> The color of the building's name when <span style="background-color: #F0F0F0; width: 32px; border-style: outset; border-width: 1px; margin:0; padding:0 2px; clear:none; font-family:monospace">q</span>uerying it. Seemingly ignored for furnaces, which are hardcoded to 4:0:1.
</td></tr>
<tr>
<td> DIM
</td>
<td> width:height
</td>
<td> The size of the custom building, in number of tiles. Defaults to 3:3. Maximum possible size is 31x31.
</td></tr>
<tr>
<td> WORK_LOCATION
</td>
<td> x:y
</td>
<td> The tile (1:1 for upper-left) in which dwarves will stand when they are performing tasks. Defaults to 3:3 (bottom-right).
</td></tr>
<tr>
<td> BUILD_LABOR
</td>
<td> <a href="/index.php/DF2012:Labor_token" title="DF2012:Labor token">labor token</a>
</td>
<td> The labor required to construct the custom building. If multiple BUILD_LABOR tokens are specified, then any of the indicated labors can be used to construct the building; if none are specified, then no labors are required.<br />For furnaces, this labor does not come into play until after the workshop has been designed by an <a href="/index.php/DF2012:Architect" title="DF2012:Architect" class="mw-redirect">architect</a>.
</td></tr>
<tr>
<td> BUILD_KEY
</td>
<td> key token
</td>
<td> The shortcut key used in the Build menu for selecting the custom building.
</td></tr>
<tr>
<td> BLOCK
</td>
<td>
<ul><li> row
</li><li> tiles...
</li></ul>
</td>
<td> Specifies whether or not each workshop tile blocks movement. The first parameter is the row (1 = top), and each subsequent parameter is a 0 (nonblocking) or 1 (blocking) for each column, left to right.
</td></tr>
<tr>
<td> TILE
</td>
<td>
<ul><li> stage
</li><li> row
</li><li> tiles...
</li></ul>
</td>
<td> Specifies the characters used to represent the custom building. The first parameter is the building stage, varying from 0 (awaiting construction) to N (completed) where N is between 1 and 3, the 2nd parameter is the row number, and each subsequent parameter is a character number (or literal character enclosed in 'quotes').
</td></tr>
<tr>
<td> COLOR
</td>
<td>
<ul><li> stage
</li><li> row
</li><li> colors...
</li></ul>
</td>
<td> Specifies the colors in which the custom building's tiles will be displayed. The first parameter is the building stage, the 2nd parameter is the row number, and subsequent parameters are either sets of 3 numbers (foreground:background:brightness) or the token "MAT" to use the color of the primary building material.
</td></tr>
<tr>
<td> BUILD_ITEM
</td>
<td>
<ul><li> quantity
</li><li> <a href="/index.php/DF2012:Item_token" title="DF2012:Item token">item token</a>
</li><li> <a href="/index.php/DF2012:Material_token" title="DF2012:Material token">material token</a>
</li></ul>
</td>
<td> Specifies one of the objects necessary to construct the custom building. Each BUILD_ITEM can be followed by zero or more modifiers.
</td></tr>
<tr>
<td> NEEDS_MAGMA
</td>
<td>
</td>
<td> Specifies that one of the building's tiles (other than the WORK_LOCATION) must be hanging over <a href="/index.php/DF2012:Magma" title="DF2012:Magma">magma</a> in order for the building to function. Buildings with this token also ignore the [FUEL] token in their reactions.
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Building_token&amp;action=edit&amp;section=1" title="Edit section: Item Modifiers">edit</a>]</span> <span class="mw-headline" id="Item_Modifiers">Item Modifiers</span></h2>
<p>Building items have many of the same modifiers as <a href="/index.php/DF2012:Reactions#Modifiers" title="DF2012:Reactions">reagents</a> in custom reactions.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th> Token
</th>
<th> Meaning
</th></tr>
<tr>
<td> [REACTION_CLASS:X]
</td>
<td> Item's material has a [REACTION_CLASS] token with the appropriate ID.
</td></tr>
<tr>
<td> [HAS_MATERIAL_REACTION_PRODUCT:X]
</td>
<td> Item's material has a [MATERIAL_REACTION_PRODUCT] token with the appropriate ID.
</td></tr>
<tr>
<td> [UNROTTEN]
</td>
<td> Item must not be rotten, mainly for organic materials.
</td></tr>
<tr>
<td> [CONTAINS_LYE]
</td>
<td> Item must be a BARREL or TOOL which contains at least one item of type LIQUID_MISC made of LYE.
</td></tr>
<tr>
<td> [POTASHABLE]
</td>
<td> Alias for [CONTAINS_LYE].
</td></tr>
<tr>
<td> [NOT_WEB]
</td>
<td> Item must be collected (to distinguish silk thread from webs). Only makes sense for items of type THREAD.
</td></tr>
<tr>
<td> [WEB_ONLY]
</td>
<td> Item must be undisturbed (to distinguish silk thread from webs). Only makes sense for items of type THREAD.
</td></tr>
<tr>
<td> [EMPTY]
</td>
<td> If the item is a container, it must be empty.
</td></tr>
<tr>
<td> [NOT_CONTAIN_BARREL_ITEM]
</td>
<td> If the item is a container, it must not contain <a href="/index.php/DF2012:Lye" title="DF2012:Lye">lye</a> or <a href="/index.php/DF2012:Milk" title="DF2012:Milk">milk</a>. Not necessary if specifying [EMPTY].
</td></tr>
<tr>
<td> [BAG]
</td>
<td> Item must be a bag - that is, a BOX made of plant fiber, silk, yarn, or leather.
</td></tr>
<tr>
<td> [GLASS_MATERIAL]
</td>
<td> Item material must have the [IS_GLASS] token. All 3 types of <a href="/index.php/DF2012:Glass" title="DF2012:Glass">glass</a> have this token hardcoded.
</td></tr>
<tr>
<td> [BUILDMAT]
</td>
<td> Item must be a general <a href="/index.php/DF2012:Building_material" title="DF2012:Building material">building material</a> - BAR, BLOCKS, BOULDER, or WOOD.
</td></tr>
<tr>
<td> [FIRE_BUILD_SAFE]
</td>
<td> Item material must be stable at temperatures below 11000. Only works with items of type BAR, BLOCKS, BOULDER, WOOD, and ANVIL - all others are considered unsafe.
</td></tr>
<tr>
<td> [MAGMA_BUILD_SAFE]
</td>
<td> Item material must be stable at temperatures below 12000. Only works with items of type BAR, BLOCKS, BOULDER, WOOD, and ANVIL - all others are considered unsafe.
</td></tr>
<tr>
<td> [CAN_USE_ARTIFACT]
</td>
<td> Item can be an Artifact.
</td></tr>
<tr>
<td> [WORTHLESS_STONE_ONLY]
</td>
<td> Item material must be non-<a href="/index.php/DF2012:Economic" title="DF2012:Economic" class="mw-redirect">economic</a>.
</td></tr>
<tr>
<td> [ANY_PLANT_MATERIAL]
</td>
<td> Item material must be subordinate to a PLANT object.
</td></tr>
<tr>
<td> [ANY_SILK_MATERIAL]
</td>
<td> Item material must have the [SILK] token.
</td></tr>
<tr>
<td> [ANY_YARN_MATERIAL]
</td>
<td> Item material must have the [YARN] token.
</td></tr>
<tr>
<td> [ANY_SOAP_MATERIAL]
</td>
<td> Item material must have the [SOAP] token.
</td></tr>
<tr>
<td> [ANY_LEATHER_MATERIAL]
</td>
<td> Item material must have the [LEATHER] token.
</td></tr>
<tr>
<td> [ANY_BONE_MATERIAL]
</td>
<td> Item material must have the [BONE] token.
</td></tr>
<tr>
<td> [ANY_STRAND_TISSUE]
</td>
<td> Item is made of a tissue having [TISSUE_SHAPE:STRANDS], intended for matching hair and wool. Must be used with [USE_BODY_COMPONENT].
</td></tr>
<tr>
<td> [ANY_SHELL_MATERIAL]
</td>
<td> Item material must have the [SHELL] token.
</td></tr>
<tr>
<td> [ANY_TOOTH_MATERIAL]
</td>
<td> Item material must have the [TOOTH] token.
</td></tr>
<tr>
<td> [ANY_HORN_MATERIAL]
</td>
<td> Item material must have the [HORN] token.
</td></tr>
<tr>
<td> [ANY_PEARL_MATERIAL]
</td>
<td> Item material must have the [PEARL] token.
</td></tr>
<tr>
<td> [USE_BODY_COMPONENT]
</td>
<td> Item must be a body part (CORPSE or CORPSEPIECE).
</td></tr>
<tr>
<td> [NO_EDGE_ALLOWED]
</td>
<td> Item must not have an edge - excludes sharp stones (produced using knapping) and most types of weapon/ammo.
</td></tr>
<tr>
<td> [NOT_ENGRAVED]
</td>
<td> Item has not been engraved (excludes memorial slabs).
</td></tr>
<tr>
<td> [METAL_ORE:X]
</td>
<td> Item material must be an ore of the specified metal.
</td></tr>
<tr>
<td> [MIN_DIMENSION:X]
</td>
<td> Item's dimension must be at least this large. The item type must be BAR, POWDER_MISC, LIQUID_MISC, DRINK, THREAD, or CLOTH for this to work.
</td></tr>
<tr>
<td> [HAS_TOOL_USE:X]
</td>
<td> Item must be a <a href="/index.php/DF2012:Tool" title="DF2012:Tool">tool</a> with the specific TOOL_USE value. The item type must be TOOL:NONE for this to make any sense.
</td></tr></table>
