<p>Colors are primarily defined using the [COLOR:x:y:z] or [DISPLAY_COLOR:x:y:z] tokens. The three arguments are:
</p>
<ol><li> Foreground color [0-7]
</li><li> Background color [0-7]
</li><li> Brightness of the foreground color [0 or 1]
</li></ol>
<p>The brightness of the background color is always 0.
</p><p>By default*, the following 8 pairs of colors are displayed:
</p>
<table style="margin: 0 auto; border-spacing: 0">
 
<tr>
<td style="vertical-align: top; padding: 0">
<table style="text-align: center; border-spacing: 0 1px; margin: 0 auto; background: black; border-left: 1px solid black; border-right: 1px solid black">
 
<tr style="background: #fff">
<th style="padding: 0.15em 0.4em; width: 3em"> Col.
</th>
<th style="padding: 0.15em 0.4em; width: 3em"> Bri.
</th>
<th style="padding: 0.15em 0.4em; width: 9em"> Name
</th></tr>
<tr style="color: white; background: #000000">
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Black
</td></tr>
<tr style="color: white; background: #000080">
<td style="padding: 0.15em 0.4em"> 1
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Blue
</td></tr>
<tr style="color: white; background: #008000">
<td style="padding: 0.15em 0.4em"> 2
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Green
</td></tr>
<tr style="color: white; background: #008080">
<td style="padding: 0.15em 0.4em"> 3
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Cyan
</td></tr>
<tr style="color: white; background: #800000">
<td style="padding: 0.15em 0.4em"> 4
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Red
</td></tr>
<tr style="color: white; background: #800080">
<td style="padding: 0.15em 0.4em"> 5
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Magenta
</td></tr>
<tr style="color: white; background: #808000">
<td style="padding: 0.15em 0.4em"> 6
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Brown
</td></tr>
<tr style="color: black; background: #C0C0C0">
<td style="padding: 0.15em 0.4em"> 7
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Light grey
</td></tr></table>
</td>
<td style="vertical-align: top; padding: 0">
<table style="text-align: center; border-spacing: 0 1px; margin: 0 auto; background: black; border-left: 1px solid black; border-right: 1px solid black">
 
<tr style="background: #fff">
<th style="padding: 0.15em 0.4em; width: 3em"> Col.
</th>
<th style="padding: 0.15em 0.4em; width: 3em"> Bri.
</th>
<th style="padding: 0.15em 0.4em; width: 9em"> Name
</th></tr>
<tr style="color: white; background: #808080">
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 1
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Dark grey
</td></tr>
<tr style="color: black; background: #0000FF">
<td style="padding: 0.15em 0.4em"> 1
</td>
<td style="padding: 0.15em 0.4em"> 1
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Light blue
</td></tr>
<tr style="color: black; background: #00FF00">
<td style="padding: 0.15em 0.4em"> 2
</td>
<td style="padding: 0.15em 0.4em"> 1
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Light green
</td></tr>
<tr style="color: black; background: #00FFFF">
<td style="padding: 0.15em 0.4em"> 3
</td>
<td style="padding: 0.15em 0.4em"> 1
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Light cyan
</td></tr>
<tr style="color: black; background: #FF0000">
<td style="padding: 0.15em 0.4em"> 4
</td>
<td style="padding: 0.15em 0.4em"> 1
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Light red
</td></tr>
<tr style="color: black; background: #FF00FF">
<td style="padding: 0.15em 0.4em"> 5
</td>
<td style="padding: 0.15em 0.4em"> 1
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Light magenta
</td></tr>
<tr style="color: black; background: #FFFF00">
<td style="padding: 0.15em 0.4em"> 6
</td>
<td style="padding: 0.15em 0.4em"> 1
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> Yellow
</td></tr>
<tr style="color: black; background: #FFFFFF">
<td style="padding: 0.15em 0.4em"> 7
</td>
<td style="padding: 0.15em 0.4em"> 1
</td>
<td style="padding: 0.15em 0.4em; text-align: left"> White
</td></tr></table>
</td></tr></table>

<p>Material contaminants and <a href="/index.php/DF2012:Dye" title="DF2012:Dye">dyes</a> do not use color flags; instead, they reference color tokens defined in descriptor_color_standard.txt. Color tokens are simply referenced by the token name, e.g. <code>[STATE_COLOR:SOLID:DARK_GREEN]</code> or <code>[POWDER_DYE:EMERALD]</code>. However, the defined RGB values are never actually displayed in-game - instead, the game uses one of the above 16 colors, choosing the one with the closest RGB values.
</p><p>The following colors are defined via tokens:
</p>
<table style="margin: 0 auto; border-spacing: 0">
 
<tr>
<td style="vertical-align: top; padding: 0">
<table style="text-align: right; border-spacing: 0 1px; margin: 0 auto; background: black; border-left: 1px solid black; border-right: 1px solid black">
 
<tr style="background: #fff">
<th style="text-align: center; padding: 0.15em 0.4em"> Token
</th>
<th style="text-align: center; padding: 0.15em 0.4em" colspan="3"> RGB
</th></tr>
<tr style="color: white; background: rgb(0, 0, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> BLACK
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: white; background: rgb(128, 128, 128)">
<td style="padding: 0.15em 0.4em; text-align: left"> CLEAR
</td>
<td style="padding: 0.15em 0.4em"> 128
</td>
<td style="padding: 0.15em 0.4em"> 128
</td>
<td style="padding: 0.15em 0.4em"> 128
</td></tr>
<tr style="color: white; background: rgb(128, 128, 128)">
<td style="padding: 0.15em 0.4em; text-align: left"> GRAY
</td>
<td style="padding: 0.15em 0.4em"> 128
</td>
<td style="padding: 0.15em 0.4em"> 128
</td>
<td style="padding: 0.15em 0.4em"> 128
</td></tr>
<tr style="color: black; background: rgb(192, 192, 192)">
<td style="padding: 0.15em 0.4em; text-align: left"> SILVER
</td>
<td style="padding: 0.15em 0.4em"> 192
</td>
<td style="padding: 0.15em 0.4em"> 192
</td>
<td style="padding: 0.15em 0.4em"> 192
</td></tr>
<tr style="color: black; background: rgb(255, 255, 255)">
<td style="padding: 0.15em 0.4em; text-align: left"> WHITE
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 255
</td></tr>
<tr style="color: white; background: rgb(144, 93, 93)">
<td style="padding: 0.15em 0.4em; text-align: left"> TAUPE_ROSE
</td>
<td style="padding: 0.15em 0.4em"> 144
</td>
<td style="padding: 0.15em 0.4em"> 93
</td>
<td style="padding: 0.15em 0.4em"> 93
</td></tr>
<tr style="color: white; background: rgb(205, 92, 92)">
<td style="padding: 0.15em 0.4em; text-align: left"> CHESTNUT
</td>
<td style="padding: 0.15em 0.4em"> 205
</td>
<td style="padding: 0.15em 0.4em"> 92
</td>
<td style="padding: 0.15em 0.4em"> 92
</td></tr>
<tr style="color: white; background: rgb(128, 0, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> MAROON
</td>
<td style="padding: 0.15em 0.4em"> 128
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: white; background: rgb(255, 0, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> RED
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: white; background: rgb(227, 66, 52)">
<td style="padding: 0.15em 0.4em; text-align: left"> VERMILION
</td>
<td style="padding: 0.15em 0.4em"> 227
</td>
<td style="padding: 0.15em 0.4em"> 66
</td>
<td style="padding: 0.15em 0.4em"> 52
</td></tr>
<tr style="color: white; background: rgb(117, 90, 87)">
<td style="padding: 0.15em 0.4em; text-align: left"> RUSSET
</td>
<td style="padding: 0.15em 0.4em"> 117
</td>
<td style="padding: 0.15em 0.4em"> 90
</td>
<td style="padding: 0.15em 0.4em"> 87
</td></tr>
<tr style="color: white; background: rgb(255, 36, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> SCARLET
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 36
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: white; background: rgb(138, 51, 36)">
<td style="padding: 0.15em 0.4em; text-align: left"> BURNT_UMBER
</td>
<td style="padding: 0.15em 0.4em"> 138
</td>
<td style="padding: 0.15em 0.4em"> 51
</td>
<td style="padding: 0.15em 0.4em"> 36
</td></tr>
<tr style="color: white; background: rgb(103, 76, 71)">
<td style="padding: 0.15em 0.4em; text-align: left"> TAUPE_MEDIUM
</td>
<td style="padding: 0.15em 0.4em"> 103
</td>
<td style="padding: 0.15em 0.4em"> 76
</td>
<td style="padding: 0.15em 0.4em"> 71
</td></tr>
<tr style="color: white; background: rgb(152, 105, 96)">
<td style="padding: 0.15em 0.4em; text-align: left"> DARK_CHESTNUT
</td>
<td style="padding: 0.15em 0.4em"> 152
</td>
<td style="padding: 0.15em 0.4em"> 105
</td>
<td style="padding: 0.15em 0.4em"> 96
</td></tr>
<tr style="color: black; background: rgb(233, 116, 81)">
<td style="padding: 0.15em 0.4em; text-align: left"> BURNT_SIENNA
</td>
<td style="padding: 0.15em 0.4em"> 233
</td>
<td style="padding: 0.15em 0.4em"> 116
</td>
<td style="padding: 0.15em 0.4em"> 81
</td></tr>
<tr style="color: white; background: rgb(183, 65, 14)">
<td style="padding: 0.15em 0.4em; text-align: left"> RUST
</td>
<td style="padding: 0.15em 0.4em"> 183
</td>
<td style="padding: 0.15em 0.4em"> 65
</td>
<td style="padding: 0.15em 0.4em"> 14
</td></tr>
<tr style="color: white; background: rgb(111, 53, 26)">
<td style="padding: 0.15em 0.4em; text-align: left"> AUBURN
</td>
<td style="padding: 0.15em 0.4em"> 111
</td>
<td style="padding: 0.15em 0.4em"> 53
</td>
<td style="padding: 0.15em 0.4em"> 26
</td></tr>
<tr style="color: white; background: rgb(192, 64, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> MAHOGANY
</td>
<td style="padding: 0.15em 0.4em"> 192
</td>
<td style="padding: 0.15em 0.4em"> 64
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: black; background: rgb(255, 117, 24)">
<td style="padding: 0.15em 0.4em; text-align: left"> PUMPKIN
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 117
</td>
<td style="padding: 0.15em 0.4em"> 24
</td></tr>
<tr style="color: white; background: rgb(210, 105, 30)">
<td style="padding: 0.15em 0.4em; text-align: left"> CHOCOLATE
</td>
<td style="padding: 0.15em 0.4em"> 210
</td>
<td style="padding: 0.15em 0.4em"> 105
</td>
<td style="padding: 0.15em 0.4em"> 30
</td></tr>
<tr style="color: black; background: rgb(188, 152, 126)">
<td style="padding: 0.15em 0.4em; text-align: left"> TAUPE_PALE
</td>
<td style="padding: 0.15em 0.4em"> 188
</td>
<td style="padding: 0.15em 0.4em"> 152
</td>
<td style="padding: 0.15em 0.4em"> 126
</td></tr>
<tr style="color: white; background: rgb(72, 60, 50)">
<td style="padding: 0.15em 0.4em; text-align: left"> TAUPE_DARK
</td>
<td style="padding: 0.15em 0.4em"> 72
</td>
<td style="padding: 0.15em 0.4em"> 60
</td>
<td style="padding: 0.15em 0.4em"> 50
</td></tr>
<tr style="color: black; background: rgb(255, 218, 185)">
<td style="padding: 0.15em 0.4em; text-align: left"> DARK_PEACH
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 218
</td>
<td style="padding: 0.15em 0.4em"> 185
</td></tr>
<tr style="color: black; background: rgb(184, 115, 51)">
<td style="padding: 0.15em 0.4em; text-align: left"> COPPER
</td>
<td style="padding: 0.15em 0.4em"> 184
</td>
<td style="padding: 0.15em 0.4em"> 115
</td>
<td style="padding: 0.15em 0.4em"> 51
</td></tr>
<tr style="color: black; background: rgb(205, 133, 63)">
<td style="padding: 0.15em 0.4em; text-align: left"> LIGHT_BROWN
</td>
<td style="padding: 0.15em 0.4em"> 205
</td>
<td style="padding: 0.15em 0.4em"> 133
</td>
<td style="padding: 0.15em 0.4em"> 63
</td></tr>
<tr style="color: black; background: rgb(205, 127, 50)">
<td style="padding: 0.15em 0.4em; text-align: left"> BRONZE
</td>
<td style="padding: 0.15em 0.4em"> 205
</td>
<td style="padding: 0.15em 0.4em"> 127
</td>
<td style="padding: 0.15em 0.4em"> 50
</td></tr>
<tr style="color: white; background: rgb(152, 118, 84)">
<td style="padding: 0.15em 0.4em; text-align: left"> PALE_BROWN
</td>
<td style="padding: 0.15em 0.4em"> 152
</td>
<td style="padding: 0.15em 0.4em"> 118
</td>
<td style="padding: 0.15em 0.4em"> 84
</td></tr>
<tr style="color: white; background: rgb(101, 67, 33)">
<td style="padding: 0.15em 0.4em; text-align: left"> DARK_BROWN
</td>
<td style="padding: 0.15em 0.4em"> 101
</td>
<td style="padding: 0.15em 0.4em"> 67
</td>
<td style="padding: 0.15em 0.4em"> 33
</td></tr>
<tr style="color: white; background: rgb(112, 66, 20)">
<td style="padding: 0.15em 0.4em; text-align: left"> SEPIA
</td>
<td style="padding: 0.15em 0.4em"> 112
</td>
<td style="padding: 0.15em 0.4em"> 66
</td>
<td style="padding: 0.15em 0.4em"> 20
</td></tr>
<tr style="color: black; background: rgb(204, 119, 34)">
<td style="padding: 0.15em 0.4em; text-align: left"> OCHRE
</td>
<td style="padding: 0.15em 0.4em"> 204
</td>
<td style="padding: 0.15em 0.4em"> 119
</td>
<td style="padding: 0.15em 0.4em"> 34
</td></tr>
<tr style="color: white; background: rgb(150, 75, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> BROWN
</td>
<td style="padding: 0.15em 0.4em"> 150
</td>
<td style="padding: 0.15em 0.4em"> 75
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: white; background: rgb(123, 63, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> CINNAMON
</td>
<td style="padding: 0.15em 0.4em"> 123
</td>
<td style="padding: 0.15em 0.4em"> 63
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: black; background: rgb(210, 180, 140)">
<td style="padding: 0.15em 0.4em; text-align: left"> TAN
</td>
<td style="padding: 0.15em 0.4em"> 210
</td>
<td style="padding: 0.15em 0.4em"> 180
</td>
<td style="padding: 0.15em 0.4em"> 140
</td></tr>
<tr style="color: white; background: rgb(115, 74, 18)">
<td style="padding: 0.15em 0.4em; text-align: left"> RAW_UMBER
</td>
<td style="padding: 0.15em 0.4em"> 115
</td>
<td style="padding: 0.15em 0.4em"> 74
</td>
<td style="padding: 0.15em 0.4em"> 18
</td></tr>
<tr style="color: black; background: rgb(255, 165, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> ORANGE
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 165
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: black; background: rgb(255, 229, 180)">
<td style="padding: 0.15em 0.4em; text-align: left"> PEACH
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 229
</td>
<td style="padding: 0.15em 0.4em"> 180
</td></tr>
<tr style="color: white; background: rgb(150, 113, 23)">
<td style="padding: 0.15em 0.4em; text-align: left"> TAUPE_SANDY
</td>
<td style="padding: 0.15em 0.4em"> 150
</td>
<td style="padding: 0.15em 0.4em"> 113
</td>
<td style="padding: 0.15em 0.4em"> 23
</td></tr></table>
</td>
<td style="vertical-align: top; padding: 0">
<table style="text-align: right; border-spacing: 0 1px; margin: 0 auto; margin-left: 1px; background: black; border-left: 1px solid black; border-right: 1px solid black">
 
<tr style="background: #fff">
<th style="text-align: center; padding: 0.15em 0.4em"> Token
</th>
<th style="text-align: center; padding: 0.15em 0.4em" colspan="3"> RGB
</th></tr>
<tr style="color: black; background: rgb(218, 165, 32)">
<td style="padding: 0.15em 0.4em; text-align: left"> GOLDENROD
</td>
<td style="padding: 0.15em 0.4em"> 218
</td>
<td style="padding: 0.15em 0.4em"> 165
</td>
<td style="padding: 0.15em 0.4em"> 32
</td></tr>
<tr style="color: black; background: rgb(255, 191, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> AMBER
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 191
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: black; background: rgb(145, 129, 81)">
<td style="padding: 0.15em 0.4em; text-align: left"> DARK_TAN
</td>
<td style="padding: 0.15em 0.4em"> 145
</td>
<td style="padding: 0.15em 0.4em"> 129
</td>
<td style="padding: 0.15em 0.4em"> 81
</td></tr>
<tr style="color: black; background: rgb(244, 196, 48)">
<td style="padding: 0.15em 0.4em; text-align: left"> SAFFRON
</td>
<td style="padding: 0.15em 0.4em"> 244
</td>
<td style="padding: 0.15em 0.4em"> 196
</td>
<td style="padding: 0.15em 0.4em"> 48
</td></tr>
<tr style="color: black; background: rgb(194, 178, 128)">
<td style="padding: 0.15em 0.4em; text-align: left"> ECRU
</td>
<td style="padding: 0.15em 0.4em"> 194
</td>
<td style="padding: 0.15em 0.4em"> 178
</td>
<td style="padding: 0.15em 0.4em"> 128
</td></tr>
<tr style="color: black; background: rgb(212, 175, 55)">
<td style="padding: 0.15em 0.4em; text-align: left"> GOLD
</td>
<td style="padding: 0.15em 0.4em"> 212
</td>
<td style="padding: 0.15em 0.4em"> 175
</td>
<td style="padding: 0.15em 0.4em"> 55
</td></tr>
<tr style="color: black; background: rgb(240, 234, 214)">
<td style="padding: 0.15em 0.4em; text-align: left"> PEARL
</td>
<td style="padding: 0.15em 0.4em"> 240
</td>
<td style="padding: 0.15em 0.4em"> 234
</td>
<td style="padding: 0.15em 0.4em"> 214
</td></tr>
<tr style="color: black; background: rgb(240, 220, 130)">
<td style="padding: 0.15em 0.4em; text-align: left"> BUFF
</td>
<td style="padding: 0.15em 0.4em"> 240
</td>
<td style="padding: 0.15em 0.4em"> 220
</td>
<td style="padding: 0.15em 0.4em"> 130
</td></tr>
<tr style="color: black; background: rgb(238, 220, 130)">
<td style="padding: 0.15em 0.4em; text-align: left"> FLAX
</td>
<td style="padding: 0.15em 0.4em"> 238
</td>
<td style="padding: 0.15em 0.4em"> 220
</td>
<td style="padding: 0.15em 0.4em"> 130
</td></tr>
<tr style="color: black; background: rgb(181, 166, 66)">
<td style="padding: 0.15em 0.4em; text-align: left"> BRASS
</td>
<td style="padding: 0.15em 0.4em"> 181
</td>
<td style="padding: 0.15em 0.4em"> 166
</td>
<td style="padding: 0.15em 0.4em"> 66
</td></tr>
<tr style="color: black; background: rgb(255, 223, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> GOLDEN_YELLOW
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 223
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: black; background: rgb(253, 233, 16)">
<td style="padding: 0.15em 0.4em; text-align: left"> LEMON
</td>
<td style="padding: 0.15em 0.4em"> 253
</td>
<td style="padding: 0.15em 0.4em"> 233
</td>
<td style="padding: 0.15em 0.4em"> 16
</td></tr>
<tr style="color: black; background: rgb(255, 253, 208)">
<td style="padding: 0.15em 0.4em; text-align: left"> CREAM
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 253
</td>
<td style="padding: 0.15em 0.4em"> 208
</td></tr>
<tr style="color: black; background: rgb(245, 245, 220)">
<td style="padding: 0.15em 0.4em; text-align: left"> BEIGE
</td>
<td style="padding: 0.15em 0.4em"> 245
</td>
<td style="padding: 0.15em 0.4em"> 245
</td>
<td style="padding: 0.15em 0.4em"> 220
</td></tr>
<tr style="color: white; background: rgb(128, 128, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> OLIVE
</td>
<td style="padding: 0.15em 0.4em"> 128
</td>
<td style="padding: 0.15em 0.4em"> 128
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: black; background: rgb(255, 255, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> YELLOW
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: black; background: rgb(255, 255, 240)">
<td style="padding: 0.15em 0.4em; text-align: left"> IVORY
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 240
</td></tr>
<tr style="color: black; background: rgb(204, 255, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> LIME
</td>
<td style="padding: 0.15em 0.4em"> 204
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: black; background: rgb(154, 205, 50)">
<td style="padding: 0.15em 0.4em; text-align: left"> YELLOW_GREEN
</td>
<td style="padding: 0.15em 0.4em"> 154
</td>
<td style="padding: 0.15em 0.4em"> 205
</td>
<td style="padding: 0.15em 0.4em"> 50
</td></tr>
<tr style="color: white; background: rgb(85, 104, 50)">
<td style="padding: 0.15em 0.4em; text-align: left"> DARK_OLIVE
</td>
<td style="padding: 0.15em 0.4em"> 85
</td>
<td style="padding: 0.15em 0.4em"> 104
</td>
<td style="padding: 0.15em 0.4em"> 50
</td></tr>
<tr style="color: black; background: rgb(173, 255, 47)">
<td style="padding: 0.15em 0.4em; text-align: left"> GREEN-YELLOW
</td>
<td style="padding: 0.15em 0.4em"> 173
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 47
</td></tr>
<tr style="color: black; background: rgb(127, 255, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> CHARTREUSE
</td>
<td style="padding: 0.15em 0.4em"> 127
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: white; background: rgb(79, 121, 66)">
<td style="padding: 0.15em 0.4em; text-align: left"> FERN_GREEN
</td>
<td style="padding: 0.15em 0.4em"> 79
</td>
<td style="padding: 0.15em 0.4em"> 121
</td>
<td style="padding: 0.15em 0.4em"> 66
</td></tr>
<tr style="color: black; background: rgb(173, 223, 173)">
<td style="padding: 0.15em 0.4em; text-align: left"> MOSS_GREEN
</td>
<td style="padding: 0.15em 0.4em"> 173
</td>
<td style="padding: 0.15em 0.4em"> 223
</td>
<td style="padding: 0.15em 0.4em"> 173
</td></tr>
<tr style="color: black; background: rgb(0, 255, 0)">
<td style="padding: 0.15em 0.4em; text-align: left"> GREEN
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 0
</td></tr>
<tr style="color: black; background: rgb(152, 255, 152)">
<td style="padding: 0.15em 0.4em; text-align: left"> MINT_GREEN
</td>
<td style="padding: 0.15em 0.4em"> 152
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 152
</td></tr>
<tr style="color: black; background: rgb(178, 190, 181)">
<td style="padding: 0.15em 0.4em; text-align: left"> ASH_GRAY
</td>
<td style="padding: 0.15em 0.4em"> 178
</td>
<td style="padding: 0.15em 0.4em"> 190
</td>
<td style="padding: 0.15em 0.4em"> 181
</td></tr>
<tr style="color: black; background: rgb(80, 200, 120)">
<td style="padding: 0.15em 0.4em; text-align: left"> EMERALD
</td>
<td style="padding: 0.15em 0.4em"> 80
</td>
<td style="padding: 0.15em 0.4em"> 200
</td>
<td style="padding: 0.15em 0.4em"> 120
</td></tr>
<tr style="color: white; background: rgb(46, 139, 87)">
<td style="padding: 0.15em 0.4em; text-align: left"> SEA_GREEN
</td>
<td style="padding: 0.15em 0.4em"> 46
</td>
<td style="padding: 0.15em 0.4em"> 139
</td>
<td style="padding: 0.15em 0.4em"> 87
</td></tr>
<tr style="color: black; background: rgb(0, 255, 127)">
<td style="padding: 0.15em 0.4em; text-align: left"> SPRING_GREEN
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 127
</td></tr>
<tr style="color: white; background: rgb(1, 50, 32)">
<td style="padding: 0.15em 0.4em; text-align: left"> DARK_GREEN
</td>
<td style="padding: 0.15em 0.4em"> 1
</td>
<td style="padding: 0.15em 0.4em"> 50
</td>
<td style="padding: 0.15em 0.4em"> 32
</td></tr>
<tr style="color: white; background: rgb(0, 168, 107)">
<td style="padding: 0.15em 0.4em; text-align: left"> JADE
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 168
</td>
<td style="padding: 0.15em 0.4em"> 107
</td></tr>
<tr style="color: black; background: rgb(127, 255, 212)">
<td style="padding: 0.15em 0.4em; text-align: left"> AQUAMARINE
</td>
<td style="padding: 0.15em 0.4em"> 127
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 212
</td></tr>
<tr style="color: white; background: rgb(1, 121, 111)">
<td style="padding: 0.15em 0.4em; text-align: left"> PINE_GREEN
</td>
<td style="padding: 0.15em 0.4em"> 1
</td>
<td style="padding: 0.15em 0.4em"> 121
</td>
<td style="padding: 0.15em 0.4em"> 111
</td></tr>
<tr style="color: black; background: rgb(48, 213, 200)">
<td style="padding: 0.15em 0.4em; text-align: left"> TURQUOISE
</td>
<td style="padding: 0.15em 0.4em"> 48
</td>
<td style="padding: 0.15em 0.4em"> 213
</td>
<td style="padding: 0.15em 0.4em"> 200
</td></tr>
<tr style="color: black; background: rgb(175, 238, 238)">
<td style="padding: 0.15em 0.4em; text-align: left"> PALE_BLUE
</td>
<td style="padding: 0.15em 0.4em"> 175
</td>
<td style="padding: 0.15em 0.4em"> 238
</td>
<td style="padding: 0.15em 0.4em"> 238
</td></tr>
<tr style="color: white; background: rgb(0, 128, 128)">
<td style="padding: 0.15em 0.4em; text-align: left"> TEAL
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 128
</td>
<td style="padding: 0.15em 0.4em"> 128
</td></tr></table>
</td>
<td style="vertical-align: top; padding: 0">
<table style="text-align: right; border-spacing: 0 1px; margin: 0 auto; margin-left: 1px; background: black; border-left: 1px solid black; border-right: 1px solid black">
 
<tr style="background: #fff">
<th style="text-align: center; padding: 0.15em 0.4em"> Token
</th>
<th style="text-align: center; padding: 0.15em 0.4em" colspan="3"> RGB
</th></tr>
<tr style="color: black; background: rgb(0, 255, 255)">
<td style="padding: 0.15em 0.4em; text-align: left"> AQUA
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 255
</td></tr>
<tr style="color: black; background: rgb(173, 216, 230)">
<td style="padding: 0.15em 0.4em; text-align: left"> LIGHT_BLUE
</td>
<td style="padding: 0.15em 0.4em"> 173
</td>
<td style="padding: 0.15em 0.4em"> 216
</td>
<td style="padding: 0.15em 0.4em"> 230
</td></tr>
<tr style="color: white; background: rgb(0, 123, 167)">
<td style="padding: 0.15em 0.4em; text-align: left"> CERULEAN
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 123
</td>
<td style="padding: 0.15em 0.4em"> 167
</td></tr>
<tr style="color: black; background: rgb(135, 206, 235)">
<td style="padding: 0.15em 0.4em; text-align: left"> SKY_BLUE
</td>
<td style="padding: 0.15em 0.4em"> 135
</td>
<td style="padding: 0.15em 0.4em"> 206
</td>
<td style="padding: 0.15em 0.4em"> 235
</td></tr>
<tr style="color: white; background: rgb(54, 69, 79)">
<td style="padding: 0.15em 0.4em; text-align: left"> CHARCOAL
</td>
<td style="padding: 0.15em 0.4em"> 54
</td>
<td style="padding: 0.15em 0.4em"> 69
</td>
<td style="padding: 0.15em 0.4em"> 79
</td></tr>
<tr style="color: white; background: rgb(112, 128, 144)">
<td style="padding: 0.15em 0.4em; text-align: left"> SLATE_GRAY
</td>
<td style="padding: 0.15em 0.4em"> 112
</td>
<td style="padding: 0.15em 0.4em"> 128
</td>
<td style="padding: 0.15em 0.4em"> 144
</td></tr>
<tr style="color: white; background: rgb(0, 51, 102)">
<td style="padding: 0.15em 0.4em; text-align: left"> MIDNIGHT_BLUE
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 51
</td>
<td style="padding: 0.15em 0.4em"> 102
</td></tr>
<tr style="color: white; background: rgb(0, 127, 255)">
<td style="padding: 0.15em 0.4em; text-align: left"> AZURE
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 127
</td>
<td style="padding: 0.15em 0.4em"> 255
</td></tr>
<tr style="color: white; background: rgb(0, 71, 171)">
<td style="padding: 0.15em 0.4em; text-align: left"> COBALT
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 71
</td>
<td style="padding: 0.15em 0.4em"> 171
</td></tr>
<tr style="color: black; background: rgb(230, 230, 250)">
<td style="padding: 0.15em 0.4em; text-align: left"> LAVENDER
</td>
<td style="padding: 0.15em 0.4em"> 230
</td>
<td style="padding: 0.15em 0.4em"> 230
</td>
<td style="padding: 0.15em 0.4em"> 250
</td></tr>
<tr style="color: white; background: rgb(0, 0, 139)">
<td style="padding: 0.15em 0.4em; text-align: left"> DARK_BLUE
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 139
</td></tr>
<tr style="color: white; background: rgb(0, 0, 255)">
<td style="padding: 0.15em 0.4em; text-align: left"> BLUE
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 255
</td></tr>
<tr style="color: black; background: rgb(204, 204, 255)">
<td style="padding: 0.15em 0.4em; text-align: left"> PERIWINKLE
</td>
<td style="padding: 0.15em 0.4em"> 204
</td>
<td style="padding: 0.15em 0.4em"> 204
</td>
<td style="padding: 0.15em 0.4em"> 255
</td></tr>
<tr style="color: white; background: rgb(66, 49, 137)">
<td style="padding: 0.15em 0.4em; text-align: left"> DARK_VIOLET
</td>
<td style="padding: 0.15em 0.4em"> 66
</td>
<td style="padding: 0.15em 0.4em"> 49
</td>
<td style="padding: 0.15em 0.4em"> 137
</td></tr>
<tr style="color: black; background: rgb(153, 102, 204)">
<td style="padding: 0.15em 0.4em; text-align: left"> AMETHYST
</td>
<td style="padding: 0.15em 0.4em"> 153
</td>
<td style="padding: 0.15em 0.4em"> 102
</td>
<td style="padding: 0.15em 0.4em"> 204
</td></tr>
<tr style="color: white; background: rgb(49, 0, 98)">
<td style="padding: 0.15em 0.4em; text-align: left"> DARK_INDIGO
</td>
<td style="padding: 0.15em 0.4em"> 49
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 98
</td></tr>
<tr style="color: white; background: rgb(139, 0, 255)">
<td style="padding: 0.15em 0.4em; text-align: left"> VIOLET
</td>
<td style="padding: 0.15em 0.4em"> 139
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 255
</td></tr>
<tr style="color: white; background: rgb(75, 0, 130)">
<td style="padding: 0.15em 0.4em; text-align: left"> INDIGO
</td>
<td style="padding: 0.15em 0.4em"> 75
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 130
</td></tr>
<tr style="color: white; background: rgb(102, 0, 153)">
<td style="padding: 0.15em 0.4em; text-align: left"> PURPLE
</td>
<td style="padding: 0.15em 0.4em"> 102
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 153
</td></tr>
<tr style="color: black; background: rgb(223, 115, 255)">
<td style="padding: 0.15em 0.4em; text-align: left"> HELIOTROPE
</td>
<td style="padding: 0.15em 0.4em"> 223
</td>
<td style="padding: 0.15em 0.4em"> 115
</td>
<td style="padding: 0.15em 0.4em"> 255
</td></tr>
<tr style="color: black; background: rgb(200, 162, 200)">
<td style="padding: 0.15em 0.4em; text-align: left"> LILAC
</td>
<td style="padding: 0.15em 0.4em"> 200
</td>
<td style="padding: 0.15em 0.4em"> 162
</td>
<td style="padding: 0.15em 0.4em"> 200
</td></tr>
<tr style="color: white; background: rgb(102, 0, 102)">
<td style="padding: 0.15em 0.4em; text-align: left"> PLUM
</td>
<td style="padding: 0.15em 0.4em"> 102
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 102
</td></tr>
<tr style="color: white; background: rgb(80, 64, 77)">
<td style="padding: 0.15em 0.4em; text-align: left"> TAUPE_PURPLE
</td>
<td style="padding: 0.15em 0.4em"> 80
</td>
<td style="padding: 0.15em 0.4em"> 64
</td>
<td style="padding: 0.15em 0.4em"> 77
</td></tr>
<tr style="color: black; background: rgb(139, 133, 137)">
<td style="padding: 0.15em 0.4em; text-align: left"> TAUPE_GRAY
</td>
<td style="padding: 0.15em 0.4em"> 139
</td>
<td style="padding: 0.15em 0.4em"> 133
</td>
<td style="padding: 0.15em 0.4em"> 137
</td></tr>
<tr style="color: white; background: rgb(244, 0, 161)">
<td style="padding: 0.15em 0.4em; text-align: left"> FUCHSIA
</td>
<td style="padding: 0.15em 0.4em"> 244
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 161
</td></tr>
<tr style="color: white; background: rgb(153, 51, 102)">
<td style="padding: 0.15em 0.4em; text-align: left"> MAUVE
</td>
<td style="padding: 0.15em 0.4em"> 153
</td>
<td style="padding: 0.15em 0.4em"> 51
</td>
<td style="padding: 0.15em 0.4em"> 102
</td></tr>
<tr style="color: black; background: rgb(255, 240, 245)">
<td style="padding: 0.15em 0.4em; text-align: left"> LAVENDER_BLUSH
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 240
</td>
<td style="padding: 0.15em 0.4em"> 245
</td></tr>
<tr style="color: black; background: rgb(231, 84, 128)">
<td style="padding: 0.15em 0.4em; text-align: left"> DARK_PINK
</td>
<td style="padding: 0.15em 0.4em"> 231
</td>
<td style="padding: 0.15em 0.4em"> 84
</td>
<td style="padding: 0.15em 0.4em"> 128
</td></tr>
<tr style="color: white; background: rgb(145, 95, 109)">
<td style="padding: 0.15em 0.4em; text-align: left"> MAUVE_TAUPE
</td>
<td style="padding: 0.15em 0.4em"> 145
</td>
<td style="padding: 0.15em 0.4em"> 95
</td>
<td style="padding: 0.15em 0.4em"> 109
</td></tr>
<tr style="color: white; background: rgb(86, 3, 25)">
<td style="padding: 0.15em 0.4em; text-align: left"> DARK_SCARLET
</td>
<td style="padding: 0.15em 0.4em"> 86
</td>
<td style="padding: 0.15em 0.4em"> 3
</td>
<td style="padding: 0.15em 0.4em"> 25
</td></tr>
<tr style="color: black; background: rgb(204, 136, 153)">
<td style="padding: 0.15em 0.4em; text-align: left"> PUCE
</td>
<td style="padding: 0.15em 0.4em"> 204
</td>
<td style="padding: 0.15em 0.4em"> 136
</td>
<td style="padding: 0.15em 0.4em"> 153
</td></tr>
<tr style="color: white; background: rgb(220, 20, 60)">
<td style="padding: 0.15em 0.4em; text-align: left"> CRIMSON
</td>
<td style="padding: 0.15em 0.4em"> 220
</td>
<td style="padding: 0.15em 0.4em"> 20
</td>
<td style="padding: 0.15em 0.4em"> 60
</td></tr>
<tr style="color: black; background: rgb(255, 192, 203)">
<td style="padding: 0.15em 0.4em; text-align: left"> PINK
</td>
<td style="padding: 0.15em 0.4em"> 255
</td>
<td style="padding: 0.15em 0.4em"> 192
</td>
<td style="padding: 0.15em 0.4em"> 203
</td></tr>
<tr style="color: white; background: rgb(196, 30, 58)">
<td style="padding: 0.15em 0.4em; text-align: left"> CARDINAL
</td>
<td style="padding: 0.15em 0.4em"> 196
</td>
<td style="padding: 0.15em 0.4em"> 30
</td>
<td style="padding: 0.15em 0.4em"> 58
</td></tr>
<tr style="color: white; background: rgb(150, 0, 24)">
<td style="padding: 0.15em 0.4em; text-align: left"> CARMINE
</td>
<td style="padding: 0.15em 0.4em"> 150
</td>
<td style="padding: 0.15em 0.4em"> 0
</td>
<td style="padding: 0.15em 0.4em"> 24
</td></tr>
<tr style="color: black; background: rgb(250, 218, 221)">
<td style="padding: 0.15em 0.4em; text-align: left"> PALE_PINK
</td>
<td style="padding: 0.15em 0.4em"> 250
</td>
<td style="padding: 0.15em 0.4em"> 218
</td>
<td style="padding: 0.15em 0.4em"> 221
</td></tr>
<tr style="color: black; background: rgb(221, 173, 175)">
<td style="padding: 0.15em 0.4em; text-align: left"> PALE_CHESTNUT
</td>
<td style="padding: 0.15em 0.4em"> 221
</td>
<td style="padding: 0.15em 0.4em"> 173
</td>
<td style="padding: 0.15em 0.4em"> 175
</td></tr></table>
</td></tr></table>

