<p>These tokens define positions in entity_*.txt files. See <a href="/index.php/DF2012:Entity_token" title="DF2012:Entity token">Entity token</a>.
</p>
<table id="toc" class="toc"><tr><td><div id="toctitle"><h2>Contents</h2></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Position_Tokens"><span class="tocnumber">1</span> <span class="toctext">Position Tokens</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Responsibilities"><span class="tocnumber">2</span> <span class="toctext">Responsibilities</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Related_Tokens"><span class="tocnumber">3</span> <span class="toctext">Related Tokens</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Why_Won.27t_My_Positions_Appear.3F"><span class="tocnumber">4</span> <span class="toctext">Why Won't My Positions Appear?</span></a></li>
</ul>
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Position_token&amp;action=edit&amp;section=1" title="Edit section: Position Tokens">edit</a>]</span> <span class="mw-headline" id="Position_Tokens">Position Tokens</span></h2>
<p>These tokens belong in an entity definition. These tokens apply to a position (such as monarch) and should follow the [POSITION:POSITION_NAME] token.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th> Token
</th>
<th> Arguments
</th>
<th> Description
</th></tr>
<tr>
<td> ACCOUNT_EXEMPT
</td>
<td>
</td>
<td> The position holder is not subjected to the Dwarven Economy.
</td></tr>
<tr>
<td> ALLOWED_CLASS
</td>
<td> CREATURE_CLASS Token
</td>
<td> Only creatures with the specified class token can be appointed to this position.
</td></tr>
<tr>
<td> ALLOWED_CREATURE
</td>
<td> CREATURE:CASTE
</td>
<td> Restricts the position to only the defined caste. Only works with a caste of the entity's current race (If the entity had multiple CREATURE: tokens)
</td></tr>
<tr>
<td> APPOINTED_BY
</td>
<td> position
</td>
<td> The position used as an argument selects creatures to fill the role in question. For example, the GENERAL is [APPOINTED_BY:MONARCH].
</td></tr>
<tr>
<td> BRAG_ON_KILL
</td>
<td>
</td>
<td> A creature that kills this position will be sure to talk about it a lot.
</td></tr>
<tr>
<td> CHAT_WORTHY
</td>
<td>
</td>
<td> In adventure mode, when referencing locations an NPC may mention this position holder living there or having done some deed there.
</td></tr>
<tr>
<td> COLOR
</td>
<td> color
</td>
<td> Creatures of this position will have this colour, instead of their profession colour. e.g. [COLOR:5:0:1]
</td></tr>
<tr>
<td> COMMANDER
</td>
<td> position:ALL
</td>
<td> This position will act as a commander of the specified position<small><sup><a href="/index.php?title=DF2012_Talk:Position_token&amp;action=edit&amp;redlink=1" class="new" title="DF2012 Talk:Position token (page does not exist)">Verify</a></sup></small>. E.g. GENERAL is [COMMANDER:LIEUTENANT:ALL]. Unknown if values other than ALL work.
</td></tr>
<tr>
<td> CONQUERED_SITE
</td>
<td>
</td>
<td> This position will be available to creatures when the site has been taken over by another civilisation.
</td></tr>
<tr>
<td> DEMAND_MAX
</td>
<td> number (0-100)
</td>
<td> How many demands at one time the position can make of the population.
</td></tr>
<tr>
<td> DETERMINES_COIN_DESIGN
</td>
<td>
</td>
<td> Coins minted will have images that reflect the personality of this position holder.
</td></tr>
<tr>
<td> DO_NOT_CULL
</td>
<td>
</td>
<td> The position won't be culled during world generation.<small><sup><a href="/index.php?title=DF2012_Talk:Position_token&amp;action=edit&amp;redlink=1" class="new" title="DF2012 Talk:Position token (page does not exist)">Verify</a></sup></small>
</td></tr>
<tr>
<td> DUTY_BOUND
</td>
<td>
</td>
<td> Members of this position will never agree to 'join' your character during adventure mode.
</td></tr>
<tr>
<td> ELECTED
</td>
<td>
</td>
<td> The population will periodically select the creature to fill this position.
</td></tr>
<tr>
<td> EXECUTION_SKILL
</td>
<td> weapon skill
</td>
<td> required for the [RESPONSIBILITY:EXECUTIONS] on which weapon class to use for it
</td></tr>
<tr>
<td> EXPORTED_IN_LEGENDS
</td>
<td>
</td>
<td> The various members who have filled this role will be listed in the civilisation's history.
</td></tr>
<tr>
<td> FLASHES
</td>
<td>
</td>
<td> The creature holding this position will flash on the display.
</td></tr>
<tr>
<td> GENDER
</td>
<td>
<ul><li>MALE/FEMALE
</li></ul>
</td>
<td> The position can only be held by specified gender.
</td></tr>
<tr>
<td> KILL_QUEST
</td>
<td>
</td>
<td> The position can assign quests to adventurers.
</td></tr>
<tr>
<td> LAND_HOLDER
</td>
<td> number
</td>
<td> The position will arrive when the LAND_HOLDER_TRIGGER in the entity definition has been met.
</td></tr>
<tr>
<td> LAND_NAME
</td>
<td> string
</td>
<td> The name the area takes on when under the control of a LAND_HOLDER. E.g. for the DUKE, [LAND_NAME:a duchy]
</td></tr>
<tr>
<td> MANDATE_MAX
</td>
<td> number (0-100)
</td>
<td> The maximum number of mandates the position can make at once.
</td></tr>
<tr>
<td> MENIAL_WORK_EXEMPTION
</td>
<td>
</td>
<td> The position cannot be assigned labours, and will generally just lounge around like nobles do. Currently does not actually work. <sup>Bug:<a href="http://www.bay12games.com/dwarves/mantisbt/view.php?id=3721" class="external text" rel="nofollow">3721</a></sup>
</td></tr>
<tr>
<td> MENIAL_WORK_EXEMPTION_SPOUSE
</td>
<td>
</td>
<td> The spouse of the position holder doesn't have to work, either. Also doesn't work either. <sup>Bug:<a href="http://www.bay12games.com/dwarves/mantisbt/view.php?id=3721" class="external text" rel="nofollow">3721</a></sup>
</td></tr>
<tr>
<td> MILITARY_SCREEN_ONLY
</td>
<td>
</td>
<td> The position only shows up in the Military screen.<small><sup><a href="/index.php?title=DF2012_Talk:Position_token&amp;action=edit&amp;redlink=1" class="new" title="DF2012 Talk:Position token (page does not exist)">Verify</a></sup></small>
</td></tr>
<tr>
<td> NAME
</td>
<td> singular:plural
</td>
<td> The name of the position.
</td></tr>
<tr>
<td> NAME_MALE
</td>
<td> singular:plural
</td>
<td> If the creature holding the position is male, this is the position's name. E.g. for MONARCH, [NAME_MALE:king:kings]
</td></tr>
<tr>
<td> NAME_FEMALE
</td>
<td> singular:plural
</td>
<td> If the creature holding the position is female, this is the position's name. E.g. for MONARCH, [NAME_FEMALE:queen:queens]
</td></tr>
<tr>
<td> NUMBER
</td>
<td>
<ul><li> number/AS_NEEDED
</li></ul>
</td>
<td> How many of the position there should be. If the [SITE] token exists, this is per site, otherwise this is per civilisation.
</td></tr>
<tr>
<td> PRECEDENCE
</td>
<td> number (0-30000)
</td>
<td> How important the position is in society; a lower number is more important. For MONARCH it's 1, for MILITIA_CAPTAIN it's 200.
</td></tr>
<tr>
<td> PUNISHMENT_EXEMPTION
</td>
<td>
</td>
<td> The position holder will not be held accountable for his or her crimes. Does not appear to work. <sup>Bug:<a href="http://www.bay12games.com/dwarves/mantisbt/view.php?id=4589" class="external text" rel="nofollow">4589</a></sup>
</td></tr>
<tr>
<td> QUEST_GIVER
</td>
<td>
</td>
<td> The position holder can give quests in Adventurer mode. Functionality in 0.31.13 and later is uncertain.
</td></tr>
<tr>
<td> REJECTED_CLASS
</td>
<td> CREATURE_CLASS Token
</td>
<td> Creatures of the specified class cannot be appointed to this position.
</td></tr>
<tr>
<td> REJECTED_CREATURE
</td>
<td>&#160;???
</td>
<td> Unknown - may restrict position holders by CREATURE type.
</td></tr>
<tr>
<td> REPLACED_BY
</td>
<td> position
</td>
<td> For when one position is a lesser form of another. For example, expedition leader is [REPLACED_BY:MAYOR].
</td></tr>
<tr>
<td> REQUIRED_BEDROOM
</td>
<td> number (0-1000000)
</td>
<td> The position holder requires a bedroom with at least this value.
</td></tr>
<tr>
<td> REQUIRED_BOXES
</td>
<td> number (0-100)
</td>
<td> The position holder requires at least this many boxes.
</td></tr>
<tr>
<td> REQUIRED_CABINETS
</td>
<td> number (0-100)
</td>
<td> The position holder requires at least this many cabinets.
</td></tr>
<tr>
<td> REQUIRED_DINING
</td>
<td> number (0-1000000)
</td>
<td> The position holder requires a dining room with at least this value.
</td></tr>
<tr>
<td> REQUIRED_OFFICE
</td>
<td> number (0-1000000)
</td>
<td> The position holder requires an office with at least this value.
</td></tr>
<tr>
<td> REQUIRED_RACKS
</td>
<td> number (0-100)
</td>
<td> The position holder requires at least this many weapon racks.
</td></tr>
<tr>
<td> REQUIRED_STANDS
</td>
<td> number (0-100)
</td>
<td> The position holder requires at least this many armour stands.
</td></tr>
<tr>
<td> REQUIRED_TOMB
</td>
<td> number (0-1000000)
</td>
<td> The position holder requires a tomb with at least this value.
</td></tr>
<tr>
<td> REQUIRES_POPULATION
</td>
<td> number
</td>
<td> The position requires the population to be at least this number before it becomes available or before the position holder will move in.
</td></tr>
<tr>
<td> RESPONSIBILITY
</td>
<td> responsibility
</td>
<td> See the table below for the available responsibility tokens. E.g. [RESPONSIBILITY:TAME_EXOTICS]
</td></tr>
<tr>
<td> RULES_FROM_LOCATION
</td>
<td>
</td>
<td> Unknown<small><sup><a href="/index.php?title=DF2012_Talk:Position_token&amp;action=edit&amp;redlink=1" class="new" title="DF2012 Talk:Position token (page does not exist)">Verify</a></sup></small>
</td></tr>
<tr>
<td> SITE
</td>
<td>
</td>
<td> The civilisation will attempt to have this position separate for each site.
</td></tr>
<tr>
<td> SLEEP_PRETENSION
</td>
<td>
</td>
<td> The position holder will get upset if someone with a higher precedence holds quarters with a greater value than their own.
</td></tr>
<tr>
<td> SPOUSE
</td>
<td> singular:plural
</td>
<td> The name of the position holder's spouse.
</td></tr>
<tr>
<td> SPOUSE_FEMALE
</td>
<td> singular:plural
</td>
<td> If the spouse of the creature holding the position is female, this is the spouse's position name.
</td></tr>
<tr>
<td> SPOUSE_MALE
</td>
<td> singular:plural
</td>
<td> If the spouse of the creature holding the position is male, this is the spouse's position name.
</td></tr>
<tr>
<td> SQUAD
</td>
<td> number:singular:plural
</td>
<td> The position holder will be accompanied by this many whatevers; e.g. for HAMMERER, [SQUAD:10:royal guard:royal guards]
</td></tr>
<tr>
<td> SUCCESSION
</td>
<td>
<ul><li> BY_HEIR / BY_POSITION:position
</li></ul>
</td>
<td> How a new position holder is chosen.
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Position_token&amp;action=edit&amp;section=2" title="Edit section: Responsibilities">edit</a>]</span> <span class="mw-headline" id="Responsibilities"> Responsibilities </span></h2>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th> Argument
</th>
<th> Description
</th></tr>
<tr>
<td> ACCOUNTING
</td>
<td> Found on bookkeeper. Position will keep track of stocks.
</td></tr>
<tr>
<td> ATTACK_ENEMIES
</td>
<td> Found on elven ranger captain and human warrior. Effect<small><sup><a href="/index.php?title=DF2012_Talk:Position_token&amp;action=edit&amp;redlink=1" class="new" title="DF2012 Talk:Position token (page does not exist)">Verify</a></sup></small>
</td></tr>
<tr>
<td> BUILD_MORALE
</td>
<td> Found on champion. Effect<small><sup><a href="/index.php?title=DF2012_Talk:Position_token&amp;action=edit&amp;redlink=1" class="new" title="DF2012 Talk:Position token (page does not exist)">Verify</a></sup></small>
</td></tr>
<tr>
<td> COLLECT_TAXES
</td>
<td> Not found anywhere in game; has no effect.
</td></tr>
<tr>
<td> EQUIPMENT_MANIFESTS
</td>
<td> Not found anywhere in game; has no effect.
</td></tr>
<tr>
<td> ESCORT_TAX_COLLECTOR
</td>
<td> Found on hammerer. Position will accompany the COLLECT_TAXES position during tax collection.
</td></tr>
<tr>
<td> ESTABLISH_COLONY_TRADE_AGREEMENTS
</td>
<td> Found on outpost liaison. Position will make trade agreements with the civilisation's colonies.
</td></tr>
<tr>
<td> EXECUTIONS
</td>
<td> Found on hammerer. Position will deliver beatings for great justice.
</td></tr>
<tr>
<td> HEALTH_MANAGEMENT
</td>
<td> Found on chief medical dwarf. Enables the <span style="background-color: #F0F0F0; width: 32px; border-style: outset; border-width: 1px; margin:0; padding:0 2px; clear:none; font-family:monospace">z</span> menu health screen. Other effect<small><sup><a href="/index.php?title=DF2012_Talk:Position_token&amp;action=edit&amp;redlink=1" class="new" title="DF2012 Talk:Position token (page does not exist)">Verify</a></sup></small>
</td></tr>
<tr>
<td> LAW_ENFORCEMENT
</td>
<td> Found on sheriff/captain of the guard. Position is in charge of imprisoning criminals.
</td></tr>
<tr>
<td> LAW_MAKING
</td>
<td> Found on monarch/landholders. Effect<small><sup><a href="/index.php?title=DF2012_Talk:Position_token&amp;action=edit&amp;redlink=1" class="new" title="DF2012 Talk:Position token (page does not exist)">Verify</a></sup></small>
</td></tr>
<tr>
<td> MAKE_INTRODUCTIONS
</td>
<td> Found on diplomat. Effect<small><sup><a href="/index.php?title=DF2012_Talk:Position_token&amp;action=edit&amp;redlink=1" class="new" title="DF2012 Talk:Position token (page does not exist)">Verify</a></sup></small>
</td></tr>
<tr>
<td> MAKE_PEACE_AGREEMENTS
</td>
<td> Found on diplomat. Will request peace treaties in order to end wars.
</td></tr>
<tr>
<td> MAKE_TOPIC_AGREEMENTS
</td>
<td> Found on diplomat. Will make various types of agreements when visiting - tree cutting quotas (for Elves) or simply "such a nice place you've carved out for yourselves".
</td></tr>
<tr>
<td> MANAGE_PRODUCTION
</td>
<td> Found on manager. Position will verify work orders.
</td></tr>
<tr>
<td> MEET_WORKERS
</td>
<td> Found on expedition leader/mayor. Dwarves want one of these around to complain to.
</td></tr>
<tr>
<td> MILITARY_GOALS
</td>
<td> Found on monarch/landholder/leaders. Effect<small><sup><a href="/index.php?title=DF2012_Talk:Position_token&amp;action=edit&amp;redlink=1" class="new" title="DF2012 Talk:Position token (page does not exist)">Verify</a></sup></small>
</td></tr>
<tr>
<td> MILITARY_STRATEGY
</td>
<td> Found on general/militia commander. During worldgen, position will go on expeditions to tame exotic creatures.
</td></tr>
<tr>
<td> PATROL_TERRITORY
</td>
<td> Found on elven ranger captain and human warrior. Effect<small><sup><a href="/index.php?title=DF2012_Talk:Position_token&amp;action=edit&amp;redlink=1" class="new" title="DF2012 Talk:Position token (page does not exist)">Verify</a></sup></small>
</td></tr>
<tr>
<td> RECEIVE_DIPLOMATS
</td>
<td> Found on monarch/landholder/leaders. Position will hold meetings with incoming diplomats/liaisons.
</td></tr>
<tr>
<td> RELIGION
</td>
<td> Found on elven druid. Possibly it's the one who can tell you information about worship cults<small><sup><a href="/index.php?title=DF2012_Talk:Position_token&amp;action=edit&amp;redlink=1" class="new" title="DF2012 Talk:Position token (page does not exist)">Verify</a></sup></small>
</td></tr>
<tr>
<td> SORT_AMMUNITION
</td>
<td> Not found anywhere in game; has no effect.
</td></tr>
<tr>
<td> TAME_EXOTICS
</td>
<td> Not found anywhere in game; has no effect.
</td></tr>
<tr>
<td> TRADE
</td>
<td> Found on broker. Position will trade at the depot when set to broker only. When applied to other civilizations, the position will arrive with the caravan to make trade agreements.
</td></tr>
<tr>
<td> UPGRADE_SQUAD_EQUIPMENT
</td>
<td> Not found anywhere in game; has no effect.
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Position_token&amp;action=edit&amp;section=3" title="Edit section: Related Tokens">edit</a>]</span> <span class="mw-headline" id="Related_Tokens"> Related Tokens </span></h2>
<p>The following two ENTITY tokens are not actually position tokens, but bear mentioning on this page because they can modify the way that a civilization's positions behave:
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th> Token
</th>
<th> Arguments
</th>
<th> Description
</th></tr>
<tr>
<td> LAND_HOLDER_TRIGGER
</td>
<td>
<ul><li> land holder number
</li><li> population
</li><li> wealth exported
</li><li> created wealth
</li></ul>
</td>
<td> Defines when a particular land-holding noble (baron, count, duke in vanilla) will arrive at a fortress.
</td></tr>
<tr>
<td> VARIABLE_POSITIONS
</td>
<td> Position responsibility or ALL
</td>
<td> Allows a responsibility to be taken up by a dynamically generated position (such as Law-maker).
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Position_token&amp;action=edit&amp;section=4" title="Edit section: Why Won't My Positions Appear?">edit</a>]</span> <span class="mw-headline" id="Why_Won.27t_My_Positions_Appear.3F"> Why Won't My Positions Appear? </span></h2>
<p>The way DF determines what positions will actually <i>appear</i> in your fortress is somewhat counterintuitive and fairly limiting. This guide should help you understand what you can do to actually get your positions working properly.
</p><p>There are five tokens governing which positions appear in your fortress - LAND_HOLDER, REQUIRES_POPULATION, APPOINTED_BY, ELECTED, and REPLACED_BY. The first two determine when your fortress is eligible for a new position, the next two determine how a new position for which your fortress is eligible can be added, and the fifth allows you to clear up obsolete positions. Unfortunately, they also interact in some strange ways that makes creating interesting position structures difficult.
</p><p>When you start a new fortress, DF compiles a list of your initial positions. To do this, it looks at the requirements for each position - any position whose only requirement is less than seven dwarves (either because they have no requirement tokens, or because their only requirement tokens are [REQUIRES_POPULATION: =&lt; 7] or [LAND_HOLDER:some trigger whose only requirement is some number of dwarves equal to or less than 7]). Most importantly, <i>any</i> position whose only requirement is a LAND_HOLDER requirement, regardless of what the trigger for that requirement is, will be added if another eligible starting position is REPLACED_BY it. <b>A non-LAND_HOLDER position that is REPLACED_BY a LAND_HOLDER position will never appear.</b> With this list compiled, the game culls all positions that are REPLACED_BY another eligible position, and then culls all positions that have the APPOINTED_BY token. <b>You may not embark with any appointed positions.</b> Any remaining positions are then filled by a dwarf chosen at random.
</p><p><b>Positions do not automatically appear when you reach their requirements.</b> For example, if you remove the ELECTED token from the Mayor, then the Mayor will never appear, even once you reach his required number of dwarves. <b>For a position that does not appear at embark to appear in your fortress, it must be APPOINTED_BY another position or ELECTED.</b>
</p><p>Naturally, this is more complicated than it looks. <b>APPOINTED_BY positions must be appointed by another position already in your fortress, or a civ-level position. Only LAND_HOLDER positions may be appointed by civ-level positions.</b> LAND_HOLDER positions that are APPOINTED_BY civ-level positions are inherently tied to civ-level tokens with the ESTABLISH_COLONY_TRADE_AGREEMENTS responsibility. If a fortress meets the LAND_HOLDER_TRIGGER for a new LAND_HOLDER tier when a caravan leaves, then the next time the outpost liaison or equivalent arrives, he will offer to make you an official colony, which will allow you to select all positions for that LAND_HOLDER level. <b>Each time he appears, the outpost liaison will only promote your fortress one tier up the LAND_HOLDER track.</b> The biggest problem with this system is that you may set your LAND_HOLDER_TRIGGERS such that you are eligible for the first tier of LAND_HOLDER positions at embark. <b>If you are eligible for the first tier of LAND_HOLDER positions at embark, then all first-tier positions will appear twice - once at embark, and again when the outpost liaison comes to appoint you to the first tier.</b>
</p>
