<p>Ethics tags are used in the entity_default raw file to determine how races feel about various issues. Relationships between civs are based on their ethics value numbers in relation to each other; Some yield favourable positive numbers or unfavourable negative numbers that result in ethic/civ conflict. Civs with UNTHINKABLE in a specific ethic will happily go to war with a different civ that has ACCEPTABLE in that same ethic type. 
</p><p>Example usage: [ETHIC:ASSAULT:PUNISH_SERIOUS]
</p><p>In un-modded DF, this corresponds to wars over eating sapients and elves declaring war on everybody for harming plants and hunting/displaying trophies.
</p>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Ethics&amp;action=edit&amp;section=2" title="Edit section: Ethics types">edit</a>]</span> <span class="mw-headline" id="Ethics_types"> Ethics types </span></h2>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th>Token
</th>
<th>Extra Information
</th></tr>
<tr>
<td>ASSAULT
</td>
<td>
</td></tr>
<tr>
<td>EAT_SAPIENT_KILL
</td>
<td> This determines if the race will sometimes devour dead enemy combatants.
</td></tr>
<tr>
<td>EAT_SAPIENT_OTHER
</td>
<td> This also determines whatever or not a race is willing to butcher other sapients.
</td></tr>
<tr>
<td>KILL_ANIMAL
</td>
<td> A response between MISGUIDED and UNTHINKABLE (see below) causes the entity to refuse animal products in trade - namely, <a href="/index.php/DF2012:Material_token" title="DF2012:Material token">materials</a> with [IMPLIES_ANIMAL_KILL].
</td></tr>
<tr>
<td>KILL_ENEMY
</td>
<td>
</td></tr>
<tr>
<td>KILL_ENTITY_MEMBER
</td>
<td>
</td></tr>
<tr>
<td>KILL_NEUTRAL
</td>
<td>
</td></tr>
<tr>
<td>KILL_PLANT
</td>
<td> This determines a race's position towards wood as well - a response between MISGUIDED and UNTHINKABLE (see below) causes the entity to refuse wooden objects in trade, and it also prohibits them from bringing caravan <a href="/index.php/DF2012:Wagon" title="DF2012:Wagon">wagons</a>.
</td></tr>
<tr>
<td>LYING
</td>
<td>
</td></tr>
<tr>
<td>MAKE_TROPHY_ANIMAL
</td>
<td>
</td></tr>
<tr>
<td>MAKE_TROPHY_SAME_RACE
</td>
<td>
</td></tr>
<tr>
<td>MAKE_TROPHY_SAPIENT
</td>
<td>
</td></tr>
<tr>
<td>OATH_BREAKING
</td>
<td>
</td></tr>
<tr>
<td>SLAVERY
</td>
<td>
</td></tr>
<tr>
<td>THEFT
</td>
<td> This determines whether the race will try to steal goods.
</td></tr>
<tr>
<td>TORTURE_ANIMALS
</td>
<td>
</td></tr>
<tr>
<td>TORTURE_AS_EXAMPLE
</td>
<td>
</td></tr>
<tr>
<td>TORTURE_FOR_FUN
</td>
<td>
</td></tr>
<tr>
<td>TORTURE_FOR_INFORMATION
</td>
<td>
</td></tr>
<tr>
<td>TREASON
</td>
<td>
</td></tr>
<tr>
<td>TRESPASSING
</td>
<td>
</td></tr>
<tr>
<td>VANDALISM
</td>
<td>
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Ethics&amp;action=edit&amp;section=3" title="Edit section: Ethics values">edit</a>]</span> <span class="mw-headline" id="Ethics_values">Ethics values</span></h2>
<p>In order of acceptability:
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th> Num </th>
<th> Token
</th></tr>
<tr>
<td> 0 </td>
<td> NOT_APPLICABLE
</td></tr>
<tr>
<td> 1 </td>
<td> ACCEPTABLE
</td></tr>
<tr>
<td> 2 </td>
<td> PERSONAL_MATTER
</td></tr>
<tr>
<td> 3 </td>
<td> JUSTIFIED_IF_NO_REPERCUSSIONS
</td></tr>
<tr>
<td> 4 </td>
<td> JUSTIFIED_IF_GOOD_REASON
</td></tr>
<tr>
<td> 5 </td>
<td> JUSTIFIED_IF_EXTREME_REASON
</td></tr>
<tr>
<td> 6 </td>
<td> JUSTIFIED_IF_SELF_DEFENSE
</td></tr>
<tr>
<td> 7 </td>
<td> ONLY_IF_SANCTIONED
</td></tr>
<tr>
<td> 8 </td>
<td> MISGUIDED
</td></tr>
<tr>
<td> 9 </td>
<td> SHUN
</td></tr>
<tr>
<td> 10 </td>
<td> APPALLING
</td></tr>
<tr>
<td> 11 </td>
<td> PUNISH_REPRIMAND
</td></tr>
<tr>
<td> 12 </td>
<td> PUNISH_SERIOUS
</td></tr>
<tr>
<td> 13 </td>
<td> PUNISH_EXILE
</td></tr>
<tr>
<td> 14 </td>
<td> PUNISH_CAPITAL
</td></tr>
<tr>
<td> 15 </td>
<td> UNTHINKABLE
</td></tr></table>
<p><a href="/index.php/DF2012:String_dump" title="DF2012:String dump">String Dump</a> also lists "REQUIRED" as a possible ethic response token
</p>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Ethics&amp;action=edit&amp;section=4" title="Edit section: Ethics value numbers in relation to each other">edit</a>]</span> <span class="mw-headline" id="Ethics_value_numbers_in_relation_to_each_other">Ethics value numbers in relation to each other</span></h2>
<p>Note: These were given by Toady himself <a href="http://www.bay12forums.com/smf/index.php?topic=22151.msg239689" class="external autonumber" rel="nofollow">[1]</a>. Anything above listed value indicator is counted for same value difference.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th>Token
</th></tr>
<tr>
<td>JUSTIFIED_IF_GOOD_REASON
</td>
<td><pre>JUSTIFIED_IF_GOOD_REASON +2
JUSTIFIED_IF_EXTREME_REASON +1
SHUN
APPALLING
PUNISH_REPRIMAND
PUNISH_SERIOUS
PUNISH_EXILE
PUNISH_CAPITAL
UNTHINKABLE
   -1
</pre>
</td></tr>
<tr>
<td>JUSTIFIED_IF_EXTREME_REASON
</td>
<td><pre>JUSTIFIED_IF_GOOD_REASON +1
JUSTIFIED_IF_EXTREME_REASON +2
SHUN
APPALLING
PUNISH_REPRIMAND
PUNISH_SERIOUS
PUNISH_EXILE
PUNISH_CAPITAL
UNTHINKABLE
PERSONAL_MATTER
ACCEPTABLE
   -1
</pre>
</td></tr>
<tr>
<td>JUSTIFIED_IF_SELF_DEFENSE
</td>
<td><pre>JUSTIFIED_IF_EXTREME_REASON +1
JUSTIFIED_IF_SELF_DEFENSE +2
APPALLING
PUNISH_REPRIMAND
PUNISH_SERIOUS
PUNISH_EXILE
PUNISH_CAPITAL
UNTHINKABLE
JUSTIFIED_IF_NO_REPERCUSSIONS
   -1
PERSONAL_MATTER
ACCEPTABLE
   -2
</pre>
</td></tr>
<tr>
<td>ONLY_IF_SANCTIONED
</td>
<td><pre>ONLY_IF_SANCTIONED +2
JUSTIFIED_IF_EXTREME_REASON +1
JUSTIFIED_IF_NO_REPERCUSSIONS
UNTHINKABLE
APPALLING
PUNISH_REPRIMAND
PUNISH_SERIOUS
PUNISH_EXILE
PUNISH_CAPITAL
   -1
PERSONAL_MATTER
ACCEPTABLE
   -2
</pre>
</td></tr>
<tr>
<td>MISGUIDED
</td>
<td><pre>MISGUIDED +2
SHUN
APPALLING
PUNISH_REPRIMAND
UNTHINKABLE
   +1
PUNISH_CAPITAL
PERSONAL_MATTER
ACCEPTABLE
   -1
</pre>
</td></tr>
<tr>
<td>SHUN
</td>
<td><pre>SHUN +2
MISGUIDED
APPALLING
PUNISH_REPRIMAND
UNTHINKABLE
   +1
PUNISH_CAPITAL
PERSONAL_MATTER
ACCEPTABLE
   -1
</pre>
</td></tr>
<tr>
<td>APPALLING
</td>
<td><pre>PERSONAL_MATTER
ACCEPTABLE
   -5
JUSTIFIED_IF_NO_REPERCUSSIONS -3
JUSTIFIED_IF_GOOD_REASON
ONLY_IF_SANCTIONED
   -2
JUSTIFIED_IF_EXTREME_REASON
JUSTIFIED_IF_SELF_DEFENSE
   -1
SHUN
PUNISH_REPRIMAND
PUNISH_SERIOUS
MISGUIDED
PUNISH_EXILE
UNTHINKABLE
   +1
APPALLING +2
</pre>
</td></tr>
<tr>
<td>PUNISH_REPRIMAND
</td>
<td><pre>PERSONAL_MATTER
ACCEPTABLE
   -5
JUSTIFIED_IF_NO_REPERCUSSIONS -3
JUSTIFIED_IF_GOOD_REASON
ONLY_IF_SANCTIONED
   -2
JUSTIFIED_IF_EXTREME_REASON
JUSTIFIED_IF_SELF_DEFENSE
   -1
SHUN
PUNISH_SERIOUS
APPALLING
MISGUIDED
PUNISH_EXILE
UNTHINKABLE
   +1
PUNISH_REPRIMAND +2
</pre>
</td></tr>
<tr>
<td>PUNISH_SERIOUS
</td>
<td><pre>PERSONAL_MATTER
ACCEPTABLE
      -10
JUSTIFIED_IF_NO_REPERCUSSIONS
      -7
JUSTIFIED_IF_GOOD_REASON
ONLY_IF_SANCTIONED
      -3
JUSTIFIED_IF_EXTREME_REASON
JUSTIFIED_IF_SELF_DEFENSE
   -2
SHUN
APPALLING
PUNISH_EXILE
UNTHINKABLE
PUNISH_CAPITAL
   1
PUNISH_SERIOUS +2
</pre>
</td></tr>
<tr>
<td>PUNISH_EXILE
</td>
<td><pre>PERSONAL_MATTER
ACCEPTABLE
   -10
JUSTIFIED_IF_NO_REPERCUSSIONS
   -7
JUSTIFIED_IF_GOOD_REASON
ONLY_IF_SANCTIONED
   -3
JUSTIFIED_IF_EXTREME_REASON
JUSTIFIED_IF_SELF_DEFENSE
   -2
SHUN
APPALLING
PUNISH_SERIOUS
UNTHINKABLE
PUNISH_CAPITAL
   +1
PUNISH_EXILE +2
</pre>
</td></tr>
<tr>
<td>PUNISH_CAPITAL
</td>
<td><pre>PERSONAL_MATTER
ACCEPTABLE
   -15
JUSTIFIED_IF_NO_REPERCUSSIONS
   -10
JUSTIFIED_IF_GOOD_REASON
ONLY_IF_SANCTIONED
   -5
JUSTIFIED_IF_EXTREME_REASON
JUSTIFIED_IF_SELF_DEFENSE
   -3
APPALLING
PUNISH_SERIOUS
UNTHINKABLE
PUNISH_EXILE
   +1
PUNISH_CAPITAL +2
</pre>
</td></tr>
<tr>
<td>UNTHINKABLE
</td>
<td><pre>PERSONAL_MATTER
ACCEPTABLE
   -15
JUSTIFIED_IF_NO_REPERCUSSIONS
   -10
JUSTIFIED_IF_GOOD_REASON
ONLY_IF_SANCTIONED
   -5
JUSTIFIED_IF_EXTREME_REASON
JUSTIFIED_IF_SELF_DEFENSE
   -3
SHUN
APPALLING
PUNISH_SERIOUS
PUNISH_EXILE
PUNISH_CAPITAL
   +1
UNTHINKABLE
   +2
</pre>
</td></tr>
<tr>
<td>JUSTIFIED_IF_NO_REPERCUSSIONS<br />PERSONAL_MATTER<br />ACCEPTABLE
</td>
<td><pre>MISGUIDED -1
SHUN
APPALLING
PUNISH_REPRIMAND
UNTHINKABLE
   -2
PUNISH_SERIOUS -3
PUNISH_EXILE
PUNISH_CAPITAL
   -5
JUSTIFIED_IF_NO_REPERCUSSIONS
PERSONAL_MATTER
ACCEPTABLE
   +1
</pre>
</td></tr></table>
