If reactions seem to get the better of you, let me walk you through the basics, and some more complex stuff.<br><br>

<hr><br>

[REACTION:XXXX]<br>
   &nbsp;&nbsp;&nbsp;[NAME:xxxx xxxx xxxx]<br>
   &nbsp;&nbsp;&nbsp;[BUILDING:{building id}:CUSTOM_<font color=blue>letter/SHIFT_ + letter/ALT_ + letter/CTRL_ + letter</font>] --- remember all caps, or use NONE for the hotkey<br>
   &nbsp;&nbsp;&nbsp;[REAGENT:{custom id}:###:{item_id}:{item_subtype}:{material_id}:{material_subtype}] --- if CREATURE_MAT,PLANT_MAT is used there are two {mat_subs}<br>
   &nbsp;&nbsp;&nbsp;[PRODUCT:%%%:###:{item_id}:{item_subtype}:{material_id}:{material_subtype}]<br>
   &nbsp;&nbsp;&nbsp;[SKILL:{skill_id}]<br><br>

<ul>some reagents can go like this:<br>
<li>[REAGENT:A:1:WOOD:NONE]</li><br><br> 
heck you might be able to get away with:<br> 
<li>[REAGENT:A:1:WOOD</li>]<br><br> 
just to grab any wood, now me being old fasion always make my reagents look like this:<br> 
<li>[REAGENT:log:1:WOOD:NONE:NONE:NONE]</li><br>
reason for me being old fasion like that, is in *case* I use GET_MATERIAL_FROM_REAGENT<br>
more on this later</ul><br><br>

now since the reagent is very general about what it takes it is usefull in two ways.<br>
1. you just need any wooden log for the reaction, just to make it seem needed for an output/product<br>
2. make something that is wood and acts like the carpenters workshop<br><br>

for 2. you need a Product line like this:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[PRODUCT:100:1:SLAB:NONE:GET_MATERIAL_FROM_REAGENT:log:NONE] --- points to the above mentioned reagent's custom_id.<br><br>

But someting a bit more complex:<br><br>

This is my advanced brewing (thanks to Stronghammer for educating me on RL brewing) now allow me to chop it down to size (as the full verison is alot bigger)<br><br>



[REACTION:BREW_GOOD_1]<br>
	&nbsp;&nbsp;&nbsp;[NAME:brew aged dwarven wine]<br>
	&nbsp;&nbsp;&nbsp;[BUILDING:BREW_REGEN:NONE]<br>
	&nbsp;&nbsp;&nbsp;[REAGENT:plants:10:PLANT:NONE:PLANT_MAT:MUSHROOM_HELMET_PLUMP:STRUCTURAL]<br>
	&nbsp;&nbsp;&nbsp;[REAGENT:sweetener:1:NONE:NONE:NONE:NONE][REACTION_CLASS:SWEET]<br>
	&nbsp;&nbsp;&nbsp;[REAGENT:sweet container:1:NONE:NONE:NONE:NONE]<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[CONTAINS:sweetener]<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[PRESERVE_REAGENT]<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[DOES_NOT_DETERMINE_PRODUCT_AMOUNT]<br>
	&nbsp;&nbsp;&nbsp;[REAGENT:tallow:1:GLOB:NONE:NONE:NONE][REACTION_CLASS:TALLOW][UNROTTEN]<br>
	&nbsp;&nbsp;&nbsp;[REAGENT:barrel/pot1:1:NONE:NONE:NONE:NONE]<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[EMPTY]<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[FOOD_STORAGE_CONTAINER]<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[PRESERVE_REAGENT]<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[DOES_NOT_DETERMINE_PRODUCT_AMOUNT]<br>
	&nbsp;&nbsp;&nbsp;[PRODUCT:100:5:DRINK:NONE:PLANT_MAT:MUSHROOM_HELMET_PLUMP:DRINK2][PRODUCT_TO_CONTAINER:barrel/pot1]<br>
	&nbsp;&nbsp;&nbsp;[PRODUCT:100:1:SEEDS:NONE:GET_MATERIAL_FROM_REAGENT:plants:SEED_MAT]<br>
	&nbsp;&nbsp;&nbsp;[SKILL:BREWING]<br><br>

This was a very big reaction, and trust me I had to make a custom program that it's sole purpose was to make these reactions... Anyways<br>
the reaction is a perfect mix of what can go wrong if you don't know what you are doing.<br><br>

   &nbsp;&nbsp;&nbsp;[REAGENT:sweetener:1:NONE:NONE:NONE:NONE][REACTION_CLASS:SWEET]<br>
   &nbsp;&nbsp;&nbsp;[REAGENT:sweet container:1:NONE:NONE:NONE:NONE]<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[CONTAINS:sweetener]<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[PRESERVE_REAGENT]<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[DOES_NOT_DETERMINE_PRODUCT_AMOUNT]<br><br>

This here looks for any item made from a material with a REACTION_CLASS of SWEET which in Regen is "Dwarven Suger" and "Dwarven Syrup"<br>
But not only that it looks for this item+class inside a container (be it Bag, chest, barrel, or Jug) since I know the item i'm looking for must be<br>
stored in a bag or barrel<br><br>

   &nbsp;&nbsp;&nbsp;[REAGENT:barrel/pot1:1:NONE:NONE:NONE:NONE]<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[EMPTY]<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[FOOD_STORAGE_CONTAINER]<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[PRESERVE_REAGENT]<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[DOES_NOT_DETERMINE_PRODUCT_AMOUNT]<br><br>

Kindof explains it'self but this acually will grab anything that can hold food (which is anything that has a EDIBLE I believe)<br><br>

   [PRODUCT:100:5:DRINK:NONE:PLANT_MAT:MUSHROOM_HELMET_PLUMP:DRINK2][PRODUCT_TO_CONTAINER:barrel/pot1]<br><br>

Now in the plump helmet plant, I added a new drink that has more value and a boost for being drank. And it places the product "DRINK" <br>
in the food container I requested above<br><br>

   [PRODUCT:100:1:SEEDS:NONE:GET_MATERIAL_FROM_REAGENT:plants:SEED_MAT]<br><br>

Now this one is a bit harder, and then again not. When I was making these reactions I made a "generic brew" so to do so<br>
I used alot of MATERIAL_REACTION_PRODUCT which in the end looks like I didn't need it,  which is a lie I have it for my <br>
tree processing reactions.<br><br>

Anyways in the STRUCTUAL_TEMPLATE that all plants use I dropped [MATERIAL_REACTION_PRODUCT:SEED_MAT:LOCAL_PLANT_MAT:SEED] so now every plant has this.<br>
Now since I'm just taking the SEED_MAT from Plump Helmets because I know they have it. But if I wanted to generically grab an item to make a generic related other item<br><br>

I would use<br>
&nbsp;&nbsp;&nbsp;[REAGENT:A:1:NONE:NONE:NONE:NONE][HAS_MATERIAL_REACTION_PRODUCT:SEED_MAT]<br>
   &nbsp;&nbsp;&nbsp;[PRODUCT:100:1:SEEDS:NONE:GET_MATERIAL_FROM_REAGENT:A:SEED_MAT]<br><br>

this will grab basically any plant (due to my addition to the template) which means even seedless plants will be taken, and all ITEMS that is made from the STRUCTUAL_TEMPLATE will fall victum. And if a seedless plant item is taken, un-useable seeds will be made.<br>

<hr>

About [REACTION_CLASS:xxxx] I use this for very simple things, normally I place this nifty tag on 'inorganics' or single material types<br><br> 

Lets say I wanted a reaction that took any wooden chair just a chair that is made from wood<br>
but this doesn't work:<br>
&nbsp;&nbsp;&nbsp;[REAGENT:chair:1:CHAIR:NONE:PLANT_MAT:NONE:WOOD]<br> 
Well now I am stumped, I want chairs, that are wooden, and don't want to make a reaction for each and every type of wooden chair.<br>
So I add [REACTION_CLASS:GET_WOOD] on the WOOD_TEMPLATE. Ha now anything that is wooden is now classed as GET_WOOD<br><br>

now I can do this:<br>
&nbsp;&nbsp;&nbsp;[REAGENT:chair:1:CHAIR:NONE:NONE:NONE][REACTION_CLASS:GET_WOOD]<br><br>

Bam now metal,stone,cloth,etc.. Chairs are ignored and only my desired wooden chairs are choosen, <br>
or anything that is wood if I wanted:<br>
&nbsp;&nbsp;&nbsp;[REAGENT:wood:1:NONE:NONE:NONE:NONE][REACTION_CLASS:GET_WOOD] <br><br>

Now anything that is made from a material that is classed as GET_WOOD will be choosen doesn't matter if it is a 'log' or a chair, or splint, or block. It will just grab 1 wooden item.<br><br>

I can even add [REACTION_CLASS:COIN_METAL] on SILVER, GOLD, and COPPER "in the inorganic_metal.txt"<br><br>

then use:<br> 
&nbsp;&nbsp;&nbsp;[REAGENT:bar:150:NONE:NONE:NONE][REACTION_CLASS:COIN_METAL]<br>
&nbsp;&nbsp;&nbsp;[PRODUCT:100:500:COIN:NONE:GET_MATERIAL_FROM_REAGENT:bar:NONE]<br><br>

now the reaction will take any SILVER,GOLD,COPPER bar and make 500 coins from whatever taken metal.<br><br>

[MATERIAL_REACTION_PRODUCT:{custom_id}:{material_id}:{material_subtype}] is related to [REACTION_CLASS:xxxx] only it has more functions.<br>

<hr><br>

REACTION_CLASS is like the little brother to MATERIAL_REACTION_PRODUCT because REACTION_CLASS can only do one thing and that is class a material as something. MATERIAL_REACTION_PRODUCT can not only class, but also reach out to another material<br><br>

A good example is tanning<br>
the SKIN_TEMPLATE has:<br> 
&nbsp;&nbsp;&nbsp;[MATERIAL_REACTION_PRODUCT:TAN_MAT:LOCAL_CREATURE_MAT:LEATHER]<br>
which means anything made from SKIN is classed as TAN_MAT and if so desired a material LEATHER can be used (hard to word right)<br>
to help clear up what I mean this example will help (I hope)<br><br>

&nbsp;&nbsp;&nbsp;[REAGENT:skin:1:NONE:NONE:NONE:NONE] --- let us say this grabs a unrotten piece of dog skin<br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[USE_BODY_COMPONENT] --- another way to use CORPSEPIECE I guess, may include other bodyparts too<br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[UNROTTEN] --- right on the tin, has to be fresh<br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[HAS_MATERIAL_REACTION_PRODUCT:TAN_MAT] --- now this is another thing that sets it apart from REACTION_CLASS is the "HAS_" when it is called in a reaction<br>
&nbsp;&nbsp;&nbsp;[PRODUCT:100:1:SLAB:NONE:GET_MATERIAL_FROM_REAGENT:skin:NONE] --- this will make a "dog skin slab"<br>
&nbsp;&nbsp;&nbsp;[PRODUCT:100:1:SLAB:NONE:GET_MATERIAL_FROM_REAGENT:skin:TAN_MAT] --- this will make a "dog leather slab"<br><br>

Now another cool thing is when you really play with it.<br>
I help with Kobold Camp, not only for Regen but for Lago (man incharge of Kobold Camp)<br>
I wanted a way to make crude metal stuff, and the easiest way to do that is make new metals<br>
So now I have crude copper/iron/bronze/silver/steel but I only want this metal when a weapon/armor is broken down to chunks<br><br>

Remember MATERIAL_REACTION_PRODUCT is related to REACTION_CLASS they can both class things.<br>
So to IRON/COPPER/SILVER/BRONZE/STEEL I added these:<br>
&nbsp;&nbsp;&nbsp;[MATERIAL_REACTION_CLASS:CRUDE_TARGET:INORGANIC:IRON_CRUDE]<br>
&nbsp;&nbsp;&nbsp;[MATERIAL_REACTION_CLASS:CRUDE_TARGET:INORGANIC:COPPER_CRUDE]<br>
&nbsp;&nbsp;&nbsp;[MATERIAL_REACTION_CLASS:CRUDE_TARGET:INORGANIC:SILVER_CRUDE]<br>
&nbsp;&nbsp;&nbsp;[MATERIAL_REACTION_CLASS:CRUDE_TARGET:INORGANIC:BRONZE_CRUDE]<br>
&nbsp;&nbsp;&nbsp;[MATERIAL_REACTION_CLASS:CRUDE_TARGET:INORGANIC:STEEL_CRUDE]<br><br>

Now all 5 true metals are classed as CRUDE_TARGET and have their crude and weaker versions related to them<br>
I can now make a reaction like this:<br><br>

&nbsp;&nbsp;&nbsp;[REAGENT:weapon:1:WEAPON:NONE:NONE:NONE] --- I just want any weapon<br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[HAS_MATERIAL_REACTION_PRODUCT:CRUDE_TARGET] --- now I want any WEAPON that is made from my 5 classed metals<br>
&nbsp;&nbsp;&nbsp;[PRODUCT:100:150:BAR:NONE:GET_MATERIAL_FROM_REAGENT:weapon:CRUDE_TARGET]<br><br>
now if this reaction grabbed a "iron long sword" I would get a "crude iron bar" in which I can use to forge other "crude iron" items at a forge or I can go farther and add<br>
&nbsp;&nbsp;&nbsp;[REACTION_CLASS:CRUDE_METAL] to all the crude metals so I can use a cold-hammer reaction to take a bar of "crude" metal and make something from that.<br><br>

You can stack/layer these things, or chain them all together. A material can have many REACTION_CLASSes or MATERIAL_REACTION_PRODUCTs just as long as their {custom_id}s are not the same.<br><br>

But you may wonder about my method of the crude metal, well I could have said take any IRON WEAPON and make a IRON_CRUDE BAR and had that reaction for all the true<br> metals and crudes. But I knew I had break armor, break helm, break pants, break shoes, etc..<br>
Now will I have each one 5 times? Or will I make break war-grade xxxx to get it's child "crude xxxx"<br><br>

I chose the lazy path  I don't like cluttering up a workshop with a huge list of reactions, when I can have a "do it all" reaction.<br><br>

<hr>

I hope there are not too many typos, or confusing issues. I typed this up late at night.



