<span class="toctext">Standard Item Tokens</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Limited.2FSpecial_Use_Item_Tokens"><span class="tocnumber">2</span> <span class="toctext">Limited/Special Use Item Tokens</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Related_Tokens"><span class="tocnumber">3</span> <span class="toctext">Related Tokens</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#See_Also"><span class="tocnumber">4</span> <span class="toctext">See Also</span></a></li>
</ul>
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Item_token&amp;action=edit&amp;section=1" title="Edit section: Standard Item Tokens">edit</a>]</span> <span class="mw-headline" id="Standard_Item_Tokens">Standard Item Tokens</span></h2>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;" class="sortable">
 
<tr bgcolor="#ddd">
<th> # </th>
<th> Token </th>
<th> Subtype </th>
<th> Description
</th></tr>
<tr>
<td> 0 </td>
<td> BAR </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Bar" title="DF2012:Bar">Bars</a>, such as <a href="/index.php/DF2012:Metal" title="DF2012:Metal">metal</a>, <a href="/index.php/DF2012:Fuel" title="DF2012:Fuel">fuel</a>, or <a href="/index.php/DF2012:Soap" title="DF2012:Soap">soap</a>.
</td></tr>
<tr>
<td> 1 </td>
<td> SMALLGEM </td>
<td> NONE </td>
<td> Cut <a href="/index.php/DF2012:Gem" title="DF2012:Gem">gemstones</a> usable in <a href="/index.php/DF2012:Jeweler%27s_workshop" title="DF2012:Jeweler's workshop">jeweler's workshop</a>
</td></tr>
<tr>
<td> 2 </td>
<td> BLOCKS </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Block" title="DF2012:Block">Blocks</a> of any kind.
</td></tr>
<tr>
<td> 3 </td>
<td> ROUGH </td>
<td> NONE </td>
<td> Rough <a href="/index.php/DF2012:Gem" title="DF2012:Gem">gemstones</a> or raw <a href="/index.php/DF2012:Glass" title="DF2012:Glass">glass</a>.
</td></tr>
<tr>
<td> 4 </td>
<td> BOULDER / STONE </td>
<td> NONE </td>
<td> Raw mined <a href="/index.php/DF2012:Stone" title="DF2012:Stone">stone</a>.
</td></tr>
<tr>
<td> 5 </td>
<td> WOOD </td>
<td> NONE </td>
<td> Wooden <a href="/index.php/DF2012:Log" title="DF2012:Log" class="mw-redirect">logs</a>.
</td></tr>
<tr>
<td> 6 </td>
<td> DOOR </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Door" title="DF2012:Door">Doors</a>.
</td></tr>
<tr>
<td> 7 </td>
<td> FLOODGATE </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Floodgate" title="DF2012:Floodgate">Floodgates</a>.
</td></tr>
<tr>
<td> 8 </td>
<td> BED </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Bed" title="DF2012:Bed">Beds</a>.
</td></tr>
<tr>
<td> 9 </td>
<td> CHAIR </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Chair" title="DF2012:Chair" class="mw-redirect">Chairs</a> and thrones.
</td></tr>
<tr>
<td> 10 </td>
<td> CHAIN </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Chain" title="DF2012:Chain">Chains</a> and <a href="/index.php/DF2012:Rope" title="DF2012:Rope">ropes</a>.
</td></tr>
<tr>
<td> 11 </td>
<td> FLASK </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Flask" title="DF2012:Flask">Flasks</a>.
</td></tr>
<tr>
<td> 12 </td>
<td> GOBLET </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Goblet" title="DF2012:Goblet" class="mw-redirect">Goblets</a>.
</td></tr>
<tr>
<td> 13 </td>
<td> INSTRUMENT </td>
<td> item_instrument.txt </td>
<td> Musical <a href="/index.php/DF2012:Instrument" title="DF2012:Instrument" class="mw-redirect">instruments</a>.
</td></tr>
<tr>
<td> 14 </td>
<td> TOY </td>
<td> item_toy.txt </td>
<td> <a href="/index.php/DF2012:Toy" title="DF2012:Toy" class="mw-redirect">Toys</a>.
</td></tr>
<tr>
<td> 15 </td>
<td> WINDOW </td>
<td> NONE </td>
<td> Glass <a href="/index.php/DF2012:Window" title="DF2012:Window">windows</a>.
</td></tr>
<tr>
<td> 16 </td>
<td> CAGE </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Cage" title="DF2012:Cage">Cages</a>.
</td></tr>
<tr>
<td> 17 </td>
<td> BARREL </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Barrel" title="DF2012:Barrel">Barrels</a>.
</td></tr>
<tr>
<td> 18 </td>
<td> BUCKET </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Bucket" title="DF2012:Bucket">Buckets</a>.
</td></tr>
<tr>
<td> 19 </td>
<td> ANIMALTRAP </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Animal_trap" title="DF2012:Animal trap">Animal traps</a>.
</td></tr>
<tr>
<td> 20 </td>
<td> TABLE </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Table" title="DF2012:Table">Tables</a>.
</td></tr>
<tr>
<td> 21 </td>
<td> COFFIN </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Coffin" title="DF2012:Coffin">Coffins</a>.
</td></tr>
<tr>
<td> 22 </td>
<td> STATUE </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Statue" title="DF2012:Statue">Statues</a>.
</td></tr>
<tr>
<td> 23 </td>
<td> CORPSE </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Corpse" title="DF2012:Corpse">Corpses</a>. Does not have a material.
</td></tr>
<tr>
<td> 24 </td>
<td> WEAPON </td>
<td> item_weapon.txt </td>
<td> <a href="/index.php/DF2012:Weapon" title="DF2012:Weapon">Weapons</a>.
</td></tr>
<tr>
<td> 25 </td>
<td> ARMOR </td>
<td> item_armor.txt </td>
<td> <a href="/index.php/DF2012:Armor" title="DF2012:Armor">Armor</a> and clothing worn on the upper body.
</td></tr>
<tr>
<td> 26 </td>
<td> SHOES </td>
<td> item_shoes.txt </td>
<td> Armor and clothing worn on the feet.
</td></tr>
<tr>
<td> 27 </td>
<td> SHIELD </td>
<td> item_shield.txt </td>
<td> <a href="/index.php/DF2012:Shield" title="DF2012:Shield" class="mw-redirect">Shields</a> and bucklers.
</td></tr>
<tr>
<td> 28 </td>
<td> HELM </td>
<td> item_helm.txt </td>
<td> Armor and clothing worn on the head.
</td></tr>
<tr>
<td> 29 </td>
<td> GLOVES </td>
<td> item_gloves.txt </td>
<td> Armor and clothing worn on the hands.
</td></tr>
<tr>
<td> 30 </td>
<td> BOX </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Container" title="DF2012:Container">Chests</a> (wood), coffers (stone), boxes (glass), and bags (cloth or leather).
</td></tr>
<tr>
<td> 31 </td>
<td> BIN </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Bin" title="DF2012:Bin">Bins</a>.
</td></tr>
<tr>
<td> 32 </td>
<td> ARMORSTAND </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Armor_stand" title="DF2012:Armor stand">Armor stands</a>.
</td></tr>
<tr>
<td> 33 </td>
<td> WEAPONRACK </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Weapon_rack" title="DF2012:Weapon rack">Weapon racks</a>.
</td></tr>
<tr>
<td> 34 </td>
<td> CABINET </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Cabinet" title="DF2012:Cabinet">Cabinets</a>.
</td></tr>
<tr>
<td> 35 </td>
<td> FIGURINE </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Figurine" title="DF2012:Figurine">Figurines</a>.
</td></tr>
<tr>
<td> 36 </td>
<td> AMULET </td>
<td> NONE </td>
<td> <a href="/index.php?title=DF2012:Amulet&amp;action=edit&amp;redlink=1" class="new" title="DF2012:Amulet (page does not exist)">Amulets</a>.
</td></tr>
<tr>
<td> 37 </td>
<td> SCEPTER </td>
<td> NONE </td>
<td> <a href="/index.php?title=DF2012:Scepter&amp;action=edit&amp;redlink=1" class="new" title="DF2012:Scepter (page does not exist)">Scepters</a>.
</td></tr>
<tr>
<td> 38 </td>
<td> AMMO </td>
<td> item_ammo.txt </td>
<td> <a href="/index.php/DF2012:Ammunition" title="DF2012:Ammunition">Ammunition</a> for hand-held weapons.
</td></tr>
<tr>
<td> 39 </td>
<td> CROWN </td>
<td> NONE </td>
<td> <a href="/index.php?title=DF2012:Crown&amp;action=edit&amp;redlink=1" class="new" title="DF2012:Crown (page does not exist)">Crowns</a>.
</td></tr>
<tr>
<td> 40 </td>
<td> RING </td>
<td> NONE </td>
<td> <a href="/index.php?title=DF2012:Ring&amp;action=edit&amp;redlink=1" class="new" title="DF2012:Ring (page does not exist)">Rings</a>.
</td></tr>
<tr>
<td> 41 </td>
<td> EARRING </td>
<td> NONE </td>
<td> <a href="/index.php?title=DF2012:Earring&amp;action=edit&amp;redlink=1" class="new" title="DF2012:Earring (page does not exist)">Earrings</a>.
</td></tr>
<tr>
<td> 42 </td>
<td> BRACELET </td>
<td> NONE </td>
<td> <a href="/index.php?title=DF2012:Bracelet&amp;action=edit&amp;redlink=1" class="new" title="DF2012:Bracelet (page does not exist)">Bracelets</a>.
</td></tr>
<tr>
<td> 43 </td>
<td> GEM </td>
<td> NONE </td>
<td> Large <a href="/index.php/DF2012:Gem" title="DF2012:Gem">gems</a>.
</td></tr>
<tr>
<td> 44 </td>
<td> ANVIL </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Anvil" title="DF2012:Anvil">Anvils</a>.
</td></tr>
<tr>
<td> 45 </td>
<td> CORPSEPIECE </td>
<td> NONE </td>
<td> <a href="/index.php?title=DF2012:Body_part&amp;action=edit&amp;redlink=1" class="new" title="DF2012:Body part (page does not exist)">Body parts</a>. Does not have a material.
</td></tr>
<tr>
<td> 46 </td>
<td> REMAINS </td>
<td> NONE </td>
<td> Dead <a href="/index.php/DF2012:Vermin" title="DF2012:Vermin">vermin</a> bodies. Material is CREATURE_ID:CASTE.
</td></tr>
<tr>
<td> 47 </td>
<td> MEAT </td>
<td> NONE </td>
<td> Butchered <a href="/index.php/DF2012:Meat" title="DF2012:Meat">meat</a>.
</td></tr>
<tr>
<td> 48 </td>
<td> FISH </td>
<td> NONE </td>
<td> Prepared <a href="/index.php/DF2012:Fish" title="DF2012:Fish">fish</a>. Material is CREATURE_ID:CASTE.
</td></tr>
<tr>
<td> 49 </td>
<td> FISH_RAW </td>
<td> NONE </td>
<td> Unprepared <a href="/index.php/DF2012:Fish" title="DF2012:Fish">fish</a>. Material is CREATURE_ID:CASTE.
</td></tr>
<tr>
<td> 50 </td>
<td> VERMIN </td>
<td> NONE </td>
<td> Live <a href="/index.php/DF2012:Vermin" title="DF2012:Vermin">vermin</a>. Material is CREATURE_ID:CASTE.
</td></tr>
<tr>
<td> 51 </td>
<td> PET </td>
<td> NONE </td>
<td> Tame <a href="/index.php/DF2012:Vermin" title="DF2012:Vermin">vermin</a>. Material is CREATURE_ID:CASTE.
</td></tr>
<tr>
<td> 52 </td>
<td> SEEDS </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Seed" title="DF2012:Seed">Seeds</a> from plants.
</td></tr>
<tr>
<td> 53 </td>
<td> PLANT </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Plant" title="DF2012:Plant" class="mw-redirect">Plants</a>.
</td></tr>
<tr>
<td> 54 </td>
<td> SKIN_TANNED </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Leather" title="DF2012:Leather">Leather</a>.
</td></tr>
<tr>
<td> 55 </td>
<td> LEAVES </td>
<td> NONE </td>
<td> Leaves, usually from <a href="/index.php/DF2012:Quarry_bush" title="DF2012:Quarry bush">quarry bushes</a>.
</td></tr>
<tr>
<td> 56 </td>
<td> THREAD </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Thread" title="DF2012:Thread">Thread</a> gathered from webs or made at the <a href="/index.php/DF2012:Farmer%27s_workshop" title="DF2012:Farmer's workshop">farmer's workshop</a>.
</td></tr>
<tr>
<td> 57 </td>
<td> CLOTH </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Cloth" title="DF2012:Cloth">Cloth</a> made at the <a href="/index.php/DF2012:Loom" title="DF2012:Loom">loom</a>.
</td></tr>
<tr>
<td> 58 </td>
<td> TOTEM </td>
<td> NONE </td>
<td> Skull <a href="/index.php/DF2012:Totem" title="DF2012:Totem" class="mw-redirect">totems</a>.
</td></tr>
<tr>
<td> 59 </td>
<td> PANTS </td>
<td> item_pants.txt </td>
<td> Armor and clothing worn on the legs.
</td></tr>
<tr>
<td> 60 </td>
<td> BACKPACK </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Backpack" title="DF2012:Backpack" class="mw-redirect">Backpacks</a>.
</td></tr>
<tr>
<td> 61 </td>
<td> QUIVER </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Quiver" title="DF2012:Quiver" class="mw-redirect">Quivers</a>.
</td></tr>
<tr>
<td> 62 </td>
<td> CATAPULTPARTS </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Catapult" title="DF2012:Catapult" class="mw-redirect">Catapult</a> parts.
</td></tr>
<tr>
<td> 63 </td>
<td> BALLISTAPARTS </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Ballista" title="DF2012:Ballista" class="mw-redirect">Ballista</a> parts.
</td></tr>
<tr>
<td> 64 </td>
<td> SIEGEAMMO </td>
<td> item_siegeammo.txt </td>
<td> Siege engine ammunition.
</td></tr>
<tr>
<td> 65 </td>
<td> BALLISTAARROWHEAD </td>
<td> NONE </td>
<td> Ballista arrow heads.
</td></tr>
<tr>
<td> 66 </td>
<td> TRAPPARTS </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Mechanism" title="DF2012:Mechanism">Mechanisms</a>.
</td></tr>
<tr>
<td> 67 </td>
<td> TRAPCOMP </td>
<td> item_trapcomp.txt </td>
<td> <a href="/index.php/DF2012:Trap_component" title="DF2012:Trap component">Trap components</a>.
</td></tr>
<tr>
<td> 68 </td>
<td> DRINK </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Alcohol" title="DF2012:Alcohol">Alcoholic</a> drinks.
</td></tr>
<tr>
<td> 69 </td>
<td> POWDER_MISC </td>
<td> NONE </td>
<td> Powders such as <a href="/index.php/DF2012:Flour" title="DF2012:Flour">flour</a>, <a href="/index.php/DF2012:Gypsum_plaster" title="DF2012:Gypsum plaster">gypsum plaster</a>, <a href="/index.php/DF2012:Dye" title="DF2012:Dye">dye</a>, or <a href="/index.php/DF2012:Sand" title="DF2012:Sand">sand</a>.
</td></tr>
<tr>
<td> 70 </td>
<td> CHEESE </td>
<td> NONE </td>
<td> Pieces of <a href="/index.php/DF2012:Cheese" title="DF2012:Cheese">cheese</a>.
</td></tr>
<tr>
<td> 71 </td>
<td> FOOD </td>
<td> item_food.txt </td>
<td> <a href="/index.php/DF2012:Prepared_meal" title="DF2012:Prepared meal" class="mw-redirect">Prepared meals</a>.
</td></tr>
<tr>
<td> 72 </td>
<td> LIQUID_MISC </td>
<td> NONE </td>
<td> Liquids such as <a href="/index.php/DF2012:Water" title="DF2012:Water">water</a>, <a href="/index.php/DF2012:Lye" title="DF2012:Lye">lye</a>, and extracts.
</td></tr>
<tr>
<td> 73 </td>
<td> COIN </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Coin" title="DF2012:Coin" class="mw-redirect">Coins</a>.
</td></tr>
<tr>
<td> 74 </td>
<td> GLOB </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Fat" title="DF2012:Fat">Fat</a>, <a href="/index.php/DF2012:Tallow" title="DF2012:Tallow">tallow</a>, pastes/pressed objects, and small bits of molten rock/metal.
</td></tr>
<tr>
<td> 75 </td>
<td> ROCK </td>
<td> NONE </td>
<td> Small rocks (usually <a href="/index.php/DF2012:Knapper" title="DF2012:Knapper">sharpened</a> and/or <a href="/index.php/DF2012:Thrower" title="DF2012:Thrower" class="mw-redirect">thrown</a> in <a href="/index.php/DF2012:Adventurer_mode" title="DF2012:Adventurer mode">adventurer mode</a>).
</td></tr>
<tr>
<td> 76 </td>
<td> PIPE_SECTION </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Pipe_section" title="DF2012:Pipe section">Pipe sections</a>.
</td></tr>
<tr>
<td> 77 </td>
<td> HATCH_COVER </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Hatch_cover" title="DF2012:Hatch cover">Hatch covers</a>.
</td></tr>
<tr>
<td> 78 </td>
<td> GRATE </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Grate" title="DF2012:Grate">Grates</a>.
</td></tr>
<tr>
<td> 79 </td>
<td> QUERN </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Quern" title="DF2012:Quern">Querns</a>.
</td></tr>
<tr>
<td> 80 </td>
<td> MILLSTONE </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Millstone" title="DF2012:Millstone">Millstones</a>.
</td></tr>
<tr>
<td> 81 </td>
<td> SPLINT </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Splint" title="DF2012:Splint">Splints</a>.
</td></tr>
<tr>
<td> 82 </td>
<td> CRUTCH </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Crutch" title="DF2012:Crutch">Crutches</a>.
</td></tr>
<tr>
<td> 83 </td>
<td> TRACTION_BENCH </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Traction_bench" title="DF2012:Traction bench" class="mw-redirect">Traction benches</a>.
</td></tr>
<tr>
<td> 84 </td>
<td> ORTHOPEDIC_CAST </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Cast" title="DF2012:Cast" class="mw-redirect">Casts</a>.
</td></tr>
<tr>
<td> 85 </td>
<td> TOOL </td>
<td> item_tool.txt </td>
<td> <a href="/index.php/DF2012:Tool" title="DF2012:Tool">Tools</a>.
</td></tr>
<tr>
<td> 86 </td>
<td> SLAB </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Slab" title="DF2012:Slab">Slabs</a>.
</td></tr>
<tr>
<td> 87 </td>
<td> EGG </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Egg" title="DF2012:Egg">Eggs</a>. Material is CREATURE_ID:CASTE.
</td></tr>
<tr>
<td> 88 </td>
<td> BOOK </td>
<td> NONE </td>
<td> <a href="/index.php/DF2012:Book" title="DF2012:Book">Books</a>.
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Item_token&amp;action=edit&amp;section=2" title="Edit section: Limited/Special Use Item Tokens">edit</a>]</span> <span class="mw-headline" id="Limited.2FSpecial_Use_Item_Tokens">Limited/Special Use Item Tokens</span></h2>
<p>In several specific locations, the values below can be substituted for the item type and subtype (and be followed directly by the <a href="/index.php/DF2012:Material_token" title="DF2012:Material token">material token</a>).
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background-color:#ddd">
<th> Token
</th>
<th> Subtype
</th>
<th> Valid Uses
</th>
<th> Description
</th></tr>
<tr>
<td> ANY_CRAFT
</td>
<td> NONE
</td>
<td> <a href="/index.php/DF2012:Reaction" title="DF2012:Reaction" class="mw-redirect">Reaction</a> [REAGENT]
</td>
<td> Matches FIGURINE, AMULET, SCEPTER, CROWN, RING, EARRING, or BRACELET.
</td></tr>
<tr>
<td> ANY_RAW_MATERIAL
</td>
<td> NONE
</td>
<td> <a href="/index.php/DF2012:Reaction" title="DF2012:Reaction" class="mw-redirect">Reaction</a> [REAGENT]
</td>
<td> Matches POWDER_MISC, BAR, BOULDER, or GLOB.
</td></tr>
<tr>
<td> CRAFTS
</td>
<td> NONE
</td>
<td> <a href="/index.php/DF2012:Reaction" title="DF2012:Reaction" class="mw-redirect">Reaction</a> [PRODUCT]
</td>
<td> Produces 1-3 items of type FIGURINE, AMULET, SCEPTER, CROWN, RING, EARRING, or BRACELET.
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Item_token&amp;action=edit&amp;section=3" title="Edit section: Related Tokens">edit</a>]</span> <span class="mw-headline" id="Related_Tokens">Related Tokens</span></h2>
<p>These tokens are not Item Tokens at all, but can take the place of them in some circumstances.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background-color:#ddd">
<th> Token
</th>
<th> Subtype
</th>
<th> Valid Uses
</th>
<th> Description
</th></tr>
<tr>
<td> METAL_ORE
</td>
<td> Metal
</td>
<td> <a href="/index.php/DF2012:Reaction" title="DF2012:Reaction" class="mw-redirect">Reaction</a> [REAGENT]
</td>
<td> Matches a BOULDER item made of a material having [METAL_ORE:&lt;Metal&gt;:###].
</td></tr></table>
