<p>A list of all labor tokens, mainly used in custom buildings.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;" class="sortable">
 
<tr style="background-color:#ddd">
<th> #
</th>
<th> Token
</th>
<th> Labor
</th></tr>
<tr>
<td>0</td>
<td>MINE</td>
<td><a href="/index.php/DF2012:Mining" title="DF2012:Mining">Mining</a>
</td></tr>
<tr>
<td>1</td>
<td>HAUL_STONE</td>
<td><a href="/index.php/DF2012:Stone_hauling" title="DF2012:Stone hauling" class="mw-redirect">Stone hauling</a>
</td></tr>
<tr>
<td>2</td>
<td>HAUL_WOOD</td>
<td><a href="/index.php/DF2012:Wood_hauling" title="DF2012:Wood hauling" class="mw-redirect">Wood hauling</a>
</td></tr>
<tr>
<td>3</td>
<td>HAUL_BODY</td>
<td><a href="/index.php/DF2012:Burial" title="DF2012:Burial" class="mw-redirect">Burial</a>
</td></tr>
<tr>
<td>4</td>
<td>HAUL_FOOD</td>
<td><a href="/index.php/DF2012:Food_hauling" title="DF2012:Food hauling">Food hauling</a>
</td></tr>
<tr>
<td>5</td>
<td>HAUL_REFUSE</td>
<td><a href="/index.php/DF2012:Refuse_hauling" title="DF2012:Refuse hauling" class="mw-redirect">Refuse hauling</a>
</td></tr>
<tr>
<td>6</td>
<td>HAUL_ITEM</td>
<td><a href="/index.php/DF2012:Item_hauling" title="DF2012:Item hauling" class="mw-redirect">Item hauling</a>
</td></tr>
<tr>
<td>7</td>
<td>HAUL_FURNITURE</td>
<td><a href="/index.php/DF2012:Furniture_hauling" title="DF2012:Furniture hauling" class="mw-redirect">Furniture hauling</a>
</td></tr>
<tr>
<td>8</td>
<td>HAUL_ANIMALS</td>
<td><a href="/index.php/DF2012:Animal_hauling" title="DF2012:Animal hauling" class="mw-redirect">Animal hauling</a>
</td></tr>
<tr>
<td>9</td>
<td>CLEAN</td>
<td><a href="/index.php/DF2012:Cleaning" title="DF2012:Cleaning">Cleaning</a>
</td></tr>
<tr>
<td>10</td>
<td>CUTWOOD</td>
<td><a href="/index.php/DF2012:Wood_cutting" title="DF2012:Wood cutting" class="mw-redirect">Wood cutting</a>
</td></tr>
<tr>
<td>11</td>
<td>CARPENTER</td>
<td><a href="/index.php/DF2012:Carpentry" title="DF2012:Carpentry" class="mw-redirect">Carpentry</a>
</td></tr>
<tr>
<td>12</td>
<td>DETAIL</td>
<td><a href="/index.php/DF2012:Stone_detailing" title="DF2012:Stone detailing">Stone detailing</a>
</td></tr>
<tr>
<td>13</td>
<td>MASON</td>
<td><a href="/index.php/DF2012:Masonry" title="DF2012:Masonry" class="mw-redirect">Masonry</a>
</td></tr>
<tr>
<td>14</td>
<td>ARCHITECT</td>
<td><a href="/index.php/DF2012:Architecture" title="DF2012:Architecture" class="mw-redirect">Architecture</a>
</td></tr>
<tr>
<td>15</td>
<td>ANIMALTRAIN</td>
<td><a href="/index.php/DF2012:Animal_training" title="DF2012:Animal training" class="mw-redirect">Animal training</a>
</td></tr>
<tr>
<td>16</td>
<td>ANIMALCARE</td>
<td><a href="/index.php/DF2012:Animal_care" title="DF2012:Animal care" class="mw-redirect">Animal care</a>
</td></tr>
<tr>
<td>17</td>
<td>DIAGNOSE</td>
<td><a href="/index.php/DF2012:Diagnosis" title="DF2012:Diagnosis" class="mw-redirect">Diagnosis</a>
</td></tr>
<tr>
<td>18</td>
<td>SURGERY</td>
<td><a href="/index.php/DF2012:Surgery" title="DF2012:Surgery" class="mw-redirect">Surgery</a>
</td></tr>
<tr>
<td>19</td>
<td>BONE_SETTING</td>
<td><a href="/index.php/DF2012:Setting_bones" title="DF2012:Setting bones" class="mw-redirect">Setting bones</a>
</td></tr>
<tr>
<td>20</td>
<td>SUTURING</td>
<td><a href="/index.php/DF2012:Suturing" title="DF2012:Suturing" class="mw-redirect">Suturing</a>
</td></tr>
<tr>
<td>21</td>
<td>DRESSING_WOUNDS</td>
<td><a href="/index.php/DF2012:Dressing_wounds" title="DF2012:Dressing wounds" class="mw-redirect">Dressing wounds</a>
</td></tr>
<tr>
<td>22</td>
<td>FEED_WATER_CIVILIANS</td>
<td><a href="/index.php/DF2012:Feed_patients/prisoners" title="DF2012:Feed patients/prisoners" class="mw-redirect">Feed patients/prisoners</a>
</td></tr>
<tr>
<td>23</td>
<td>RECOVER_WOUNDED</td>
<td><a href="/index.php/DF2012:Recovering_wounded" title="DF2012:Recovering wounded" class="mw-redirect">Recovering wounded</a>
</td></tr>
<tr>
<td>24</td>
<td>BUTCHER</td>
<td><a href="/index.php/DF2012:Butchery" title="DF2012:Butchery" class="mw-redirect">Butchery</a>
</td></tr>
<tr>
<td>25</td>
<td>TRAPPER</td>
<td><a href="/index.php/DF2012:Tanning" title="DF2012:Tanning" class="mw-redirect">Tanning</a>
</td></tr>
<tr>
<td>26</td>
<td>DISSECT_VERMIN</td>
<td><a href="/index.php/DF2012:Small_animal_dissection" title="DF2012:Small animal dissection" class="mw-redirect">Small animal dissection</a>
</td></tr>
<tr>
<td>27</td>
<td>LEATHER</td>
<td><a href="/index.php/DF2012:Leatherworking" title="DF2012:Leatherworking" class="mw-redirect">Leatherworking</a>
</td></tr>
<tr>
<td>28</td>
<td>TANNER</td>
<td><a href="/index.php/DF2012:Tanning" title="DF2012:Tanning" class="mw-redirect">Tanning</a>
</td></tr>
<tr>
<td>29</td>
<td>BREWER</td>
<td><a href="/index.php/DF2012:Brewing" title="DF2012:Brewing" class="mw-redirect">Brewing</a>
</td></tr>
<tr>
<td>30</td>
<td>ALCHEMIST</td>
<td><a href="/index.php/DF2012:Alchemy" title="DF2012:Alchemy">Alchemy</a>
</td></tr>
<tr>
<td>31</td>
<td>SOAP_MAKER</td>
<td><a href="/index.php/DF2012:Soap_making" title="DF2012:Soap making" class="mw-redirect">Soap making</a>
</td></tr>
<tr>
<td>32</td>
<td>WEAVER</td>
<td><a href="/index.php/DF2012:Weaving" title="DF2012:Weaving" class="mw-redirect">Weaving</a>
</td></tr>
<tr>
<td>33</td>
<td>CLOTHESMAKER</td>
<td><a href="/index.php/DF2012:Clothesmaking" title="DF2012:Clothesmaking" class="mw-redirect">Clothesmaking</a>
</td></tr>
<tr>
<td>34</td>
<td>MILLER</td>
<td><a href="/index.php/DF2012:Milling" title="DF2012:Milling" class="mw-redirect">Milling</a>
</td></tr>
<tr>
<td>35</td>
<td>PROCESS_PLANT</td>
<td><a href="/index.php/DF2012:Plant_processing" title="DF2012:Plant processing" class="mw-redirect">Plant processing</a>
</td></tr>
<tr>
<td>36</td>
<td>MAKE_CHEESE</td>
<td><a href="/index.php/DF2012:Cheese_making" title="DF2012:Cheese making" class="mw-redirect">Cheese making</a>
</td></tr>
<tr>
<td>37</td>
<td>MILK</td>
<td><a href="/index.php/DF2012:Milking" title="DF2012:Milking" class="mw-redirect">Milking</a>
</td></tr>
<tr>
<td>38</td>
<td>COOK</td>
<td><a href="/index.php/DF2012:Cooking" title="DF2012:Cooking" class="mw-redirect">Cooking</a>
</td></tr>
<tr>
<td>39</td>
<td>PLANT</td>
<td><a href="/index.php/DF2012:Farming_(fields)" title="DF2012:Farming (fields)" class="mw-redirect">Farming (fields)</a>
</td></tr>
<tr>
<td>40</td>
<td>HERBALIST</td>
<td><a href="/index.php/DF2012:Plant_gathering" title="DF2012:Plant gathering" class="mw-redirect">Plant gathering</a>
</td></tr>
<tr>
<td>41</td>
<td>FISH</td>
<td><a href="/index.php/DF2012:Fishing" title="DF2012:Fishing" class="mw-redirect">Fishing</a>
</td></tr>
<tr>
<td>42</td>
<td>CLEAN_FISH</td>
<td><a href="/index.php/DF2012:Fish_cleaning" title="DF2012:Fish cleaning" class="mw-redirect">Fish cleaning</a>
</td></tr>
<tr>
<td>43</td>
<td>DISSECT_FISH</td>
<td><a href="/index.php/DF2012:Fish_dissection" title="DF2012:Fish dissection" class="mw-redirect">Fish dissection</a>
</td></tr>
<tr>
<td>44</td>
<td>HUNT</td>
<td><a href="/index.php/DF2012:Hunting" title="DF2012:Hunting" class="mw-redirect">Hunting</a>
</td></tr>
<tr>
<td>45</td>
<td>SMELT</td>
<td><a href="/index.php/DF2012:Furnace_operating" title="DF2012:Furnace operating" class="mw-redirect">Furnace operating</a>
</td></tr>
<tr>
<td>46</td>
<td>FORGE_WEAPON</td>
<td><a href="/index.php/DF2012:Weaponsmithing" title="DF2012:Weaponsmithing" class="mw-redirect">Weaponsmithing</a>
</td></tr>
<tr>
<td>47</td>
<td>FORGE_ARMOR</td>
<td><a href="/index.php/DF2012:Armoring" title="DF2012:Armoring" class="mw-redirect">Armoring</a>
</td></tr>
<tr>
<td>48</td>
<td>FORGE_FURNITURE</td>
<td><a href="/index.php/DF2012:Blacksmithing" title="DF2012:Blacksmithing" class="mw-redirect">Blacksmithing</a>
</td></tr>
<tr>
<td>49</td>
<td>METAL_CRAFT</td>
<td><a href="/index.php/DF2012:Metalcrafting" title="DF2012:Metalcrafting" class="mw-redirect">Metalcrafting</a>
</td></tr>
<tr>
<td>50</td>
<td>CUT_GEM</td>
<td><a href="/index.php/DF2012:Gem_cutting" title="DF2012:Gem cutting" class="mw-redirect">Gem cutting</a>
</td></tr>
<tr>
<td>51</td>
<td>ENCRUST_GEM</td>
<td><a href="/index.php/DF2012:Gem_setting" title="DF2012:Gem setting" class="mw-redirect">Gem setting</a>
</td></tr>
<tr>
<td>52</td>
<td>WOOD_CRAFT</td>
<td><a href="/index.php/DF2012:Woodcrafting" title="DF2012:Woodcrafting" class="mw-redirect">Woodcrafting</a>
</td></tr>
<tr>
<td>53</td>
<td>STONE_CRAFT</td>
<td><a href="/index.php/DF2012:Stonecrafting" title="DF2012:Stonecrafting" class="mw-redirect">Stonecrafting</a>
</td></tr>
<tr>
<td>54</td>
<td>BONE_CARVE</td>
<td><a href="/index.php/DF2012:Bone_carving" title="DF2012:Bone carving" class="mw-redirect">Bone carving</a>
</td></tr>
<tr>
<td>55</td>
<td>GLASSMAKER</td>
<td><a href="/index.php/DF2012:Glassmaking" title="DF2012:Glassmaking" class="mw-redirect">Glassmaking</a>
</td></tr>
<tr>
<td>56</td>
<td>EXTRACT_STRAND</td>
<td><a href="/index.php/DF2012:Strand_extraction" title="DF2012:Strand extraction" class="mw-redirect">Strand extraction</a>
</td></tr>
<tr>
<td>57</td>
<td>SIEGECRAFT</td>
<td><a href="/index.php/DF2012:Siege_engineering" title="DF2012:Siege engineering" class="mw-redirect">Siege engineering</a>
</td></tr>
<tr>
<td>58</td>
<td>SIEGEOPERATE</td>
<td><a href="/index.php/DF2012:Siege_operating" title="DF2012:Siege operating" class="mw-redirect">Siege operating</a>
</td></tr>
<tr>
<td>59</td>
<td>BOWYER</td>
<td><a href="/index.php/DF2012:Crossbow-making" title="DF2012:Crossbow-making" class="mw-redirect">Crossbow-making</a>
</td></tr>
<tr>
<td>60</td>
<td>MECHANIC</td>
<td><a href="/index.php/DF2012:Mechanics" title="DF2012:Mechanics" class="mw-redirect">Mechanics</a>
</td></tr>
<tr>
<td>61</td>
<td>POTASH_MAKING</td>
<td><a href="/index.php/DF2012:Potash_making" title="DF2012:Potash making" class="mw-redirect">Potash making</a>
</td></tr>
<tr>
<td>62</td>
<td>LYE_MAKING</td>
<td><a href="/index.php/DF2012:Lye_making" title="DF2012:Lye making" class="mw-redirect">Lye making</a>
</td></tr>
<tr>
<td>63</td>
<td>DYER</td>
<td><a href="/index.php/DF2012:Dyeing" title="DF2012:Dyeing" class="mw-redirect">Dyeing</a>
</td></tr>
<tr>
<td>64</td>
<td>BURN_WOOD</td>
<td><a href="/index.php/DF2012:Wood_burning" title="DF2012:Wood burning" class="mw-redirect">Wood burning</a>
</td></tr>
<tr>
<td>65</td>
<td>OPERATE_PUMP</td>
<td><a href="/index.php/DF2012:Pump_operating" title="DF2012:Pump operating" class="mw-redirect">Pump operating</a>
</td></tr>
<tr>
<td>66</td>
<td>SHEARER</td>
<td><a href="/index.php/DF2012:Shearing" title="DF2012:Shearing" class="mw-redirect">Shearing</a>
</td></tr>
<tr>
<td>67</td>
<td>SPINNER</td>
<td><a href="/index.php/DF2012:Spinning" title="DF2012:Spinning" class="mw-redirect">Spinning</a>
</td></tr>
<tr>
<td>68</td>
<td>POTTERY</td>
<td><a href="/index.php/DF2012:Pottery" title="DF2012:Pottery" class="mw-redirect">Pottery</a>
</td></tr>
<tr>
<td>69</td>
<td>GLAZING</td>
<td><a href="/index.php/DF2012:Glazing" title="DF2012:Glazing" class="mw-redirect">Glazing</a>
</td></tr>
<tr>
<td>70</td>
<td>PRESSING</td>
<td><a href="/index.php/DF2012:Pressing" title="DF2012:Pressing" class="mw-redirect">Pressing</a>
</td></tr>
<tr>
<td>71</td>
<td>BEEKEEPING</td>
<td><a href="/index.php/DF2012:Beekeeping" title="DF2012:Beekeeping" class="mw-redirect">Beekeeping</a>
</td></tr>
<tr>
<td>72</td>
<td>WAX_WORKING</td>
<td><a href="/index.php/DF2012:Wax_working" title="DF2012:Wax working" class="mw-redirect">Wax working</a>
</td></tr>
<tr>
<td>73</td>
<td>HANDLE_VEHICLES</td>
<td><a href="/index.php?title=DF2012:Push/haul_vehicles&amp;action=edit&amp;redlink=1" class="new" title="DF2012:Push/haul vehicles (page does not exist)">Push/haul vehicles</a>
</td></tr></table>
