<p>Language tokens are used within the language_*.txt raw files. Each token is permitted in a specific context.
</p>
<table id="toc" class="toc"><tr><td><div id="toctitle"><h2>Contents</h2></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#WORD"><span class="tocnumber">1</span> <span class="toctext">WORD</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#SYMBOL"><span class="tocnumber">2</span> <span class="toctext">SYMBOL</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#TRANSLATION"><span class="tocnumber">3</span> <span class="toctext">TRANSLATION</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#See_Also"><span class="tocnumber">4</span> <span class="toctext">See Also</span></a></li>
</ul>
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Language_token&amp;action=edit&amp;section=1" title="Edit section: WORD">edit</a>]</span> <span class="mw-headline" id="WORD">WORD</span></h2>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th width="20%"> Token
</th>
<th width="20%"> Arguments
</th>
<th width="60%"> Description
</th></tr>
<tr>
<td> NOUN
</td>
<td>
<ul><li> singular
</li><li> plural
</li></ul>
</td>
<td> Begins defining a noun usage of a word
</td></tr>
<tr>
<td> ADJ
</td>
<td>
<ul><li> adjective
</li></ul>
</td>
<td> Begins defining an adjective usage of a word
</td></tr>
<tr>
<td> PREFIX
</td>
<td>
<ul><li> prefix  
</li></ul>
</td>
<td> Begins defining a prefix usage of a word
</td></tr>
<tr>
<td> VERB
</td>
<td>
<ul><li> base
</li><li> present simple
</li><li> past tense
</li><li> past participle
</li><li> present participle
</li></ul>
</td>
<td> Defines a verb usage of a word
</td></tr>
<tr>
<td> ADJ_DIST
</td>
<td> number 1-5
</td>
<td> Determines what order the adjective being defined comes in when in a string of multiple adjectives.
</td></tr>
<tr>
<td> THE_NOUN_SING
</td>
<td>
</td>
<td> Lets the singular noun form of the word be used after "the". ("The X of Y", where X is the word with the tag)
</td></tr>
<tr>
<td> THE_NOUN_PLUR
</td>
<td>
</td>
<td> As above, but with plural. ("The Xs of Y")
</td></tr>
<tr>
<td> THE_COMPOUND_NOUN_SING
</td>
<td>
</td>
<td> Lets the singular noun form of the word be used as part of a compound noun after "the" ("The Z-X of Y")
</td></tr>
<tr>
<td> THE_COMPOUND_NOUN_PLUR
</td>
<td>
</td>
<td> As above, but with plural. ("The Z-Xs of Y")
</td></tr>
<tr>
<td> THE_COMPOUND_ADJ
</td>
<td>
</td>
<td> Lets the adjective form of the word be used as part of a compound noun after "the" ("The Z-X of Y")
</td></tr>
<tr>
<td> OF_NOUN_SING
</td>
<td>
</td>
<td> Lets the singular noun form of the word be used after "of" ("The Y of X")
</td></tr>
<tr>
<td> OF_NOUN_PLUR
</td>
<td>
</td>
<td> As above, but with plural. (The Y of Xs)
</td></tr>
<tr>
<td> FRONT_COMPOUND_NOUN_SING
</td>
<td>
</td>
<td> Lets the singular noun form of the word be used at the front of a compound noun (XY, as in surnames)
</td></tr>
<tr>
<td> FRONT_COMPOUND_NOUN_PLUR
</td>
<td>
</td>
<td> As above, but with plural.
</td></tr>
<tr>
<td> REAR_COMPOUND_NOUN_SING
</td>
<td>
</td>
<td> Lets the singular noun form of the word be used at the rear of a compound noun (YX, as in surnames)
</td></tr>
<tr>
<td> REAR_COMPOUND_NOUN_PLUR
</td>
<td>
</td>
<td> As above, but with plural.
</td></tr>
<tr>
<td> FRONT_COMPOUND_ADJ
</td>
<td>
</td>
<td> Lets the adjective form of the word be used at the front of a compound noun
</td></tr>
<tr>
<td> REAR_COMPOUND_ADJ
</td>
<td>
</td>
<td> As above, but at the rear instead.
</td></tr>
<tr>
<td> FRONT_COMPOUND_PREFIX
</td>
<td>
</td>
<td> Allows the prefix form to be appended as a prefix to a compound noun.
</td></tr>
<tr>
<td> THE_COMPOUND_PREFIX
</td>
<td>
</td>
<td> Allows the prefix form to be appended as a prefix to a compound noun following "the".
</td></tr>
<tr>
<td> STANDARD_VERB
</td>
<td>
</td>
<td> Allows the Verb to used in a Compound Noun.
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Language_token&amp;action=edit&amp;section=2" title="Edit section: SYMBOL">edit</a>]</span> <span class="mw-headline" id="SYMBOL">SYMBOL</span></h2>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th width="20%"> Token
</th>
<th width="20%"> Arguments
</th>
<th width="60%"> Description
</th></tr>
<tr>
<td> S_WORD
</td>
<td>
<ul><li> WORD
</li></ul>
</td>
<td> Specifies the given WORD (defined in language_words.txt) as belonging to the symbol being defined. A given word can belong to multiple symbols.
</td></tr></table>
<p><br />
</p>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Language_token&amp;action=edit&amp;section=3" title="Edit section: TRANSLATION">edit</a>]</span> <span class="mw-headline" id="TRANSLATION">TRANSLATION</span></h2>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th width="20%"> Token
</th>
<th width="20%"> Arguments
</th>
<th width="60%"> Description
</th></tr>
<tr>
<td> T_WORD
</td>
<td>
<ul><li> WORD
</li><li> translation
</li></ul>
</td>
<td> Specifies a translation from a given WORD (defined in language_words.txt) into the language being defined.
</td></tr></table>
