By: Putnam<br>
Notes from Hugo: I think this is for text that is not a LANG file. So like a WEAPON name or creature DESCRIPTION.<br>
Also this is taken from Putnam, but may have lost some vital info along the way.<br><br>

In the order of a e i o u, with missing ones simply replaced by the original letter<br><br>

Circumflex: (as in â)<br><br>

    <br><br>

Diaresis: (as in ü)<br><br>

    u (couldn't find ü, ironically)<br><br>

Acute accent: (as in é) (The one for á is between the two elbow brackets; it's a space in notepad++)<br><br>

< >  ¡ ¢ £<br><br>

Grave accent (as in ì) (ì is between the elbow brackets; it appears as nothing at all, not even as a space, in notepad++; I've included 10 in between the brackets for more ease)<br><br>

  <>  <br><br>

Ring (just a, I believe, is in the dwarf files):<br><br>

 e i o u