<p>Each trait has a value from 0 to 100. The value triggers a report in "thoughts and preferences" depending on where it falls in these seven levels:
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th> Token </th>
<th> Value Range </th>
<th> Value Points </th>
<th> Effect
</th></tr>
<tr>
<th rowspan="7">&#160;???
</th>
<td> 91 - 100 </td>
<td> 10 </td>
<td> Highest
</td></tr>
<tr>
<td> 76 -  90 </td>
<td> 15 </td>
<td> Very High
</td></tr>
<tr>
<td> 61 -  75 </td>
<td> 15 </td>
<td> High
</td></tr>
<tr>
<td> 40 -  60 </td>
<td> 21 </td>
<td> Neutral
</td></tr>
<tr>
<td> 25 -  39 </td>
<td> 15 </td>
<td> Low
</td></tr>
<tr>
<td> 10 -  24 </td>
<td> 15 </td>
<td> Very Low
</td></tr>
<tr>
<td>  0 -   9 </td>
<td> 10 </td>
<td> Lowest
</td></tr></table>
<p>The 40-60 range does not cause a report. 
</p><p>Traits are also influenced by species via the use of the PERSONALITY <a href="/index.php/DF2012:Creature_token" title="DF2012:Creature token">creature token</a>. For example, dwarves are slightly more straightforward than average with a median of 55 in that trait, whereas goblins aren't likely to help others out - their altruism median is a mere 25, and is capped at 50.
</p><p>Traits also have an effect on which social skills are learned in social interaction, and determine whether certain actions may give a good or bad <a href="/index.php/DF2012:Thought" title="DF2012:Thought">thought</a>. Traits may have other, more subtle effects on creature behaviour, which are currently not entirely understood.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th> Token
</th>
<th style="width:4em"> Value
</th>
<th> Description
</th>
<th> Gameplay effects
</th></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> ANXIETY
</th>
<td> 91 - 100 </td>
<td> is a nervous wreck
</td>
<td rowspan="3"> More likely to go <a href="/index.php/DF2012:Insane" title="DF2012:Insane" class="mw-redirect">stark raving mad</a>.
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is always tense and jittery
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is often nervous
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> has a calm demeanor
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> has a very calm demeanor
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> has an incredibly calm demeanor
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> ANGER
</th>
<td> 91 - 100 </td>
<td> is in a constant state of internal rage
</td>
<td rowspan="3"> Prone to becoming <a href="/index.php/DF2012:Status_icon" title="DF2012:Status icon">enraged</a>. More likely to go <a href="/index.php/DF2012:Insane" title="DF2012:Insane" class="mw-redirect">berserk</a>.
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is very quick to anger
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is quick to anger
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is slow to anger
</td>
<td rowspan="3"> Not prone to becoming <a href="/index.php/DF2012:Status_icon" title="DF2012:Status icon">enraged</a>
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is very slow to anger
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> never becomes angry
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> DEPRESSION
</th>
<td> 91 - 100 </td>
<td> is frequently depressed
</td>
<td rowspan="3"> More likely to be <a href="/index.php/DF2012:Insane" title="DF2012:Insane" class="mw-redirect">stricken by melancholy</a>.
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is often sad and dejected
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> often feels discouraged
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> rarely feels discouraged
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> almost never feels discouraged
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> never feels discouraged
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> SELF_CONSCIOUSNESS
</th>
<td> 91 - 100 </td>
<td> is socially crippled by thoughts that everyone is watching and judging (him)
</td>
<td rowspan="2"> Cannot gain <a href="/index.php/DF2012:Comedian" title="DF2012:Comedian">Comedian</a> experience
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is concerned about rejection and ridicule
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is self-conscious
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is comfortable in social situations
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is very comfortable in social situations
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> is absolutely unfazed by the opinions of others
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> IMMODERATION
</th>
<td> 91 - 100 </td>
<td> is ruled by irresistible cravings and urges
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> feels strong urges and seeks short-term rewards
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> occasionally overindulges
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> doesn't often experience strong cravings or urges
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> only rarely feels strong cravings or urges
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> never feels tempted to overindulge in anything
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> VULNERABILITY
</th>
<td> 91 - 100 </td>
<td> becomes completely helpless in stressful situations
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> cracks easily under pressure
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> doesn't handle stress well
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> can handle stress
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is confident under pressure
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> is impervious to the effects of stress
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> FRIENDLINESS
</th>
<td> 91 - 100 </td>
<td> genuinely likes others and openly expresses positive feelings toward them
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> makes friends quickly
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is very friendly
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is somewhat reserved
</td>
<td rowspan="3"> Cannot gain <a href="/index.php/DF2012:Conversationalist" title="DF2012:Conversationalist">Conversationalist</a> experience
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is very distant and reserved
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> does not actively seek friendships and is incredibly distant and reserved
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> GREGARIOUSNESS
</th>
<td> 91 - 100 </td>
<td> truly treasures the company of others
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> enjoys being in crowds
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> enjoys the company of others
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> tends to avoid crowds
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> prefers to be alone
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> considers spending time alone much more important than associating with others
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> ASSERTIVENESS
</th>
<td> 91 - 100 </td>
<td> loves to take charge and direct activities
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is very assertive
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is assertive
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is unassertive
</td>
<td rowspan="3"> Cannot gain <a href="/index.php/DF2012:Persuader" title="DF2012:Persuader">Persuader</a> experience
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> prefers that others handle the leadership roles
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> never speaks out or attempts to direct activities
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> ACTIVITY_LEVEL
</th>
<td> 91 - 100 </td>
<td> is constantly active and energetic
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is very energetic and active
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is very active
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is relaxed
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> lives life at a leisurely pace
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> can't be bothered with frantic, fast-paced living
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> EXCITEMENT_SEEKING
</th>
<td> 91 - 100 </td>
<td> lives for risk and excitement
</td>
<td rowspan="3"> More likely to join <a href="/index.php/DF2012:Adventurer_mode" title="DF2012:Adventurer mode">adventurers</a>
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is a risk-taker and a thrill-seeker
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> loves a good thrill
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is not a risk-taker
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> doesn't need thrills or risks in life
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> is entirely averse to risk and excitement
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> CHEERFULNESS
</th>
<td> 91 - 100 </td>
<td> often feels filled with joy
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> can be very happy and optimistic
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is often cheerful
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is rarely happy or enthusiastic
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is a pessimist
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> is never optimistic or enthusiastic about anything
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> IMAGINATION
</th>
<td> 91 - 100 </td>
<td> is bored by reality and has a wonderful imagination
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is incredibly creative
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> has a fertile imagination
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> isn't given to flights of fancy
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is grounded in reality
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> is interested only in facts and the real world
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> ARTISTIC_INTEREST
</th>
<td> 91 - 100 </td>
<td> can easily become absorbed in art and the beauty of the natural world
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> greatly appreciates art and natural beauty
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> appreciates art and natural beauty
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> does not have a great aesthetic sensitivity
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is not interested in art
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> is completely uninterested in art
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> EMOTIONALITY
</th>
<td> 91 - 100 </td>
<td> has a profound understanding of (his) own feelings
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> has a great awareness of (his) own emotions
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> has a good awareness of (his) own emotions
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> tends not to openly express emotions
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is mostly unaware of (his) own emotions and rarely expresses them
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> does not display (his) own emotions and has no awareness of them
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> ADVENTUROUSNESS
</th>
<td> 91 - 100 </td>
<td> is highly adventurous and loves fresh experiences
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is eager for new experiences
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> likes to try new things
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> prefers familiar routines
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is uncomfortable with change
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> is resistant to change
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> INTELLECTUAL_CURIOSITY
</th>
<td> 91 - 100 </td>
<td> is entranced by riddles and puzzles and loves to debate issues and ideas
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> loves new and fresh ideas
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is open-minded to new ideas
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> dislikes intellectual discussions
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> regards intellectual exercises as a waste of energy
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> is completely uninterested in ideas and debates over intellectual issues
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> LIBERALISM
</th>
<td> 91 - 100 </td>
<td> revels in chaos and disorder
</td>
<td rowspan="3"> Receives unhappy <a href="/index.php/DF2012:Thought" title="DF2012:Thought">thought</a> from talking to <a href="/index.php/DF2012:Noble" title="DF2012:Noble">nobles</a><small><sup><a href="/index.php/DF2012_Talk:Personality_trait" title="DF2012 Talk:Personality trait">Verify</a></sup></small>
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> loves to defy convention
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is put off by authority and tradition
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> admires tradition
</td>
<td rowspan="3"> Receives happy <a href="/index.php/DF2012:Thought" title="DF2012:Thought">thought</a> from talking to <a href="/index.php/DF2012:Noble" title="DF2012:Noble">nobles</a><small><sup><a href="/index.php/DF2012_Talk:Personality_trait" title="DF2012 Talk:Personality trait">Verify</a></sup></small>
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> prefers stability and security to ambiguity and disorder
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> is an ardent believer in convention and traditional society
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> TRUST
</th>
<td> 91 - 100 </td>
<td> is naturally trustful of everybody
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is very trusting
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is trusting
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is slow to trust others
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> does not trust others
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> sees others as selfish and conniving
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> STRAIGHTFORWARDNESS
</th>
<td> 91 - 100 </td>
<td> is incredibly frank and candid in dealings with others
</td>
<td rowspan="3"> Cannot gain <a href="/index.php/DF2012:Flatterer" title="DF2012:Flatterer">Flatterer</a> experience.
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is very straightforward with others
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is candid and sincere in dealings with others
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is guarded in relationships with others
</td>
<td rowspan="3"> Cannot gain <a href="/index.php/DF2012:Consoler" title="DF2012:Consoler">Consoler</a> experience<br />Can gain <a href="/index.php/DF2012:Liar" title="DF2012:Liar">Liar</a> experience.
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is not straightforward when dealing with others
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> believes that some deception is necessary in relationships with others
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> ALTRUISM
</th>
<td> 91 - 100 </td>
<td> is truly fulfilled by assisting those in need
</td>
<td rowspan="3"> Receives happy <a href="/index.php/DF2012:Thought" title="DF2012:Thought">thought</a> from rescuing wounded
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> finds helping others very rewarding
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> finds helping others rewarding
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> does not go out of (his) way to help others
</td>
<td rowspan="3"> Receives unhappy <a href="/index.php/DF2012:Thought" title="DF2012:Thought">thought</a> from rescuing wounded
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> dislikes helping others
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> views helping others as an imposition on (his) time
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> COOPERATION
</th>
<td> 91 - 100 </td>
<td> sacrifices (his) own needs to get along with others
</td>
<td rowspan="3"> Cannot gain <a href="/index.php/DF2012:Intimidator" title="DF2012:Intimidator" class="mw-redirect">Intimidator</a> experience
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> dislikes confrontations
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is willing to compromise with others
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> doesn't like to compromise with others
</td>
<td rowspan="3"> Cannot gain <a href="/index.php/DF2012:Pacifier" title="DF2012:Pacifier" class="mw-redirect">Pacifier</a> experience
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> would rather intimidate others than compromise with them
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> would never deny (his) own needs just to compromise with somebody else
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> MODESTY
</th>
<td> 91 - 100 </td>
<td> would never claim to be better than somebody else
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> finds immodesty distasteful
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is modest
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is immodest
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is very willing to compare (himself) favorably with others
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> would never shy away from an opportunity to say (he) is better than somebody else
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> SYMPATHY
</th>
<td> 91 - 100 </td>
<td> is incredibly compassionate and feels the pain of others
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is easily moved to pity
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is compassionate
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is not easily moved to pity
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is not affected by the suffering of others
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> would never let an objective judgement be tempered by mercy or pity
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> SELF_EFFICACY
</th>
<td> 91 - 100 </td>
<td> is incredibly confident
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is very confident
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is confident
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> lacks confidence
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> does not feel effective in life
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> always feels as if (he) is not in control of (his) life
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> ORDERLINESS
</th>
<td> 91 - 100 </td>
<td> loves to make lists and keep schedules
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> tries to live a well-organized life
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is organized
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is disorganized
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> is very disorganized
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> is completely disorganized
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> DUTIFULNESS
</th>
<td> 91 - 100 </td>
<td> has a profound sense of duty and obligation
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> has a strong sense of duty
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> has a sense of duty
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> finds rules confining
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> dislikes contracts and regulations
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> hates rules, contracts and other confining elements in (his) life
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> ACHIEVEMENT_STRIVING
</th>
<td> 91 - 100 </td>
<td> constantly strives for perfection
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> thinks it is incredibly important to strive for excellence
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> strives for excellence
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> doesn't go out of (his) way to do more work than necessary
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> very rarely does more work than necessary
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> does the bare minimum necessary to accomplish the task at hand
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> SELF_DISCIPLINE
</th>
<td> 91 - 100 </td>
<td> will persist in the face of any difficulty until the task is complete
</td>
<td rowspan="6"> Affects duration of <a href="/index.php/DF2012:On_break" title="DF2012:On break">breaks</a><small><sup><a href="/index.php/DF2012_Talk:Personality_trait" title="DF2012 Talk:Personality trait">Verify</a></sup></small>
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> possesses great willpower
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> is self-disciplined
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> is occasionally given to procrastination
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> has very little self-discipline
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> rarely completes tasks and is often overcome by distractions
</td></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="6"> CAUTIOUSNESS
</th>
<td> 91 - 100 </td>
<td> thinks through every alternative and its consequences before acting
</td></tr>
<tr>
<td> 76 - 90 </td>
<td> is extremely cautious
</td></tr>
<tr>
<td> 61 - 75 </td>
<td> takes time when making decisions
</td></tr>
<tr>
<td> 25 - 39 </td>
<td> often does the first thing that comes to mind
</td></tr>
<tr>
<td> 10 - 24 </td>
<td> acts impulsively
</td></tr>
<tr>
<td> 0 - 9 </td>
<td> always acts without considering alternatives or thinking through possibilities
</td></tr></table>
<p>The Normal traits consisted of 432000 entries.
</p>
<pre>It is possible to skew non normal traits to this breakdown.
</pre>
<p>Example: For 45 Mean Traits, by stretching 0 to 45 to 0 to 50, and 55 to 100 to 50 to 100.
</p><p>Requires an if check and a formula similar to this:
</p><p>Example: Converting + Traits to Normal
</p><p>=IF(Value&lt;=55,(Value/55)*50,(((Value-55)/45)*50)+50)
</p>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="margin-left:-.75pt;border-collapse:collapse;mso-yfti-tbllook:1184; mso-padding-alt:0in 5.4pt 0in 5.4pt">
 <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:15.0pt">
  <td width="64" nowrap="nowrap" valign="bottom" style="width:48.0pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">Traits<span style="mso-spacerun:yes">   </span></span></p>
  </td>
  <td width="67" nowrap="nowrap" valign="bottom" style="width:50.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt"></td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt"></td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt"></td>
  <td width="83" nowrap="nowrap" valign="bottom" style="width:62.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt"></td>
 </tr>
 <tr style="mso-yfti-irow:1;height:15.0pt">
  <td width="64" nowrap="nowrap" valign="bottom" style="width:48.0pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">Normal </span></p>
  </td>
  <td width="67" nowrap="nowrap" valign="bottom" style="width:50.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">Original </span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">Averaged </span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">Proposed</span></p>
  </td>
  <td width="83" nowrap="nowrap" valign="bottom" style="width:62.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">Cumulative<span style="mso-spacerun:yes">  </span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2;height:15.0pt">
  <td width="64" nowrap="nowrap" valign="bottom" style="width:48.0pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">0 to 9 </span></p>
  </td>
  <td width="67" nowrap="nowrap" valign="bottom" style="width:50.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.003863</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.003822</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.003875</span></p>
  </td>
  <td width="83" nowrap="nowrap" valign="bottom" style="width:62.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.003875</span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3;height:15.0pt">
  <td width="64" nowrap="nowrap" valign="bottom" style="width:48.0pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">10 to 24 </span></p>
  </td>
  <td width="67" nowrap="nowrap" valign="bottom" style="width:50.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.018995</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.01928</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.01925</span></p>
  </td>
  <td width="83" nowrap="nowrap" valign="bottom" style="width:62.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.023125</span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4;height:15.0pt">
  <td width="64" nowrap="nowrap" valign="bottom" style="width:48.0pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">25 to 39 </span></p>
  </td>
  <td width="67" nowrap="nowrap" valign="bottom" style="width:50.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.085086</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.084666</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.084625</span></p>
  </td>
  <td width="83" nowrap="nowrap" valign="bottom" style="width:62.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.10775</span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5;height:15.0pt">
  <td width="64" nowrap="nowrap" valign="bottom" style="width:48.0pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">40 to 60 </span></p>
  </td>
  <td width="67" nowrap="nowrap" valign="bottom" style="width:50.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.784465</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.784465</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.7845</span></p>
  </td>
  <td width="83" nowrap="nowrap" valign="bottom" style="width:62.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.89225</span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6;height:15.0pt">
  <td width="64" nowrap="nowrap" valign="bottom" style="width:48.0pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">61 to 75 </span></p>
  </td>
  <td width="67" nowrap="nowrap" valign="bottom" style="width:50.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.084245</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.084666</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.084625</span></p>
  </td>
  <td width="83" nowrap="nowrap" valign="bottom" style="width:62.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.976875</span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7;height:15.0pt">
  <td width="64" nowrap="nowrap" valign="bottom" style="width:48.0pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">76 to 90 </span></p>
  </td>
  <td width="67" nowrap="nowrap" valign="bottom" style="width:50.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.019565</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.01928</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.01925</span></p>
  </td>
  <td width="83" nowrap="nowrap" valign="bottom" style="width:62.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.996125</span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8;mso-yfti-lastrow:yes;height:15.0pt">
  <td width="64" nowrap="nowrap" valign="bottom" style="width:48.0pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;color:black">91 to 100</span></p>
  </td>
  <td width="67" nowrap="nowrap" valign="bottom" style="width:50.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.00378</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.003822</span></p>
  </td>
  <td width="73" nowrap="nowrap" valign="bottom" style="width:55.05pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">0.003875</span></p>
  </td>
  <td width="83" nowrap="nowrap" valign="bottom" style="width:62.55pt;padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
  <p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;color:black">1</span></p>
  </td>
 </tr>
</table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Personality_trait&amp;action=edit&amp;section=2" title="Edit section: Personality-Trait-Like Characteristics">edit</a>]</span> <span class="mw-headline" id="Personality-Trait-Like_Characteristics">Personality-Trait-Like Characteristics</span></h2>
<p>The following are not moddable personality traits, and unlike true personality traits, they can vary in response to certain hardcoded stimuli however in other respects they are tracked by the game in a related manner. 
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr style="background:#ddd">
<th> Attribute
</th>
<th> Value Range
</th>
<th> Value Points
</th>
<th> Effect
</th></tr>
<tr style="border-top: 3px solid #aaa">
<th rowspan="5"> <a href="/index.php/DF2012:Cave_adaptation" title="DF2012:Cave adaptation">Cave adaptation</a>
</th>
<td> 0
</td>
<td rowspan="3"> (There aren't actually personality traits that appear, but there are multiple levels of this  that control how <a href="/index.php/DF2012:Cave_adaptation" title="DF2012:Cave adaptation">cave adapted</a> the creature actually is (whether or not they will grow irritated or <a href="/index.php/DF2012:Vomit" title="DF2012:Vomit">vomit</a>).  This trait goes lower as creatures spend time in the <a href="/index.php/DF2012:Sun" title="DF2012:Sun">sun</a>.)
</td>
<td> Unhappy Thought: 'nauseated by the sun'<br />Vomit
</td></tr>
<tr>
<td> 0 </td>
<td> Unhappy Thought: 'irritated by the sun'
</td></tr>
<tr>
<td> 0
</td>
<td rowspan="3"> These low levels of Cave Adaptation cause no ill effects.
</td></tr>
<tr>
<td> 1
</td>
<td> Does not mind being outdoors, at least for a time.
</td></tr>
<tr>
<td> 2
</td>
<td> Likes working outdoors and grumbles only mildly at inclement weather.
</td></tr></table>
