<h2><span class="mw-headline" id="Full_Token_List">Full Token List</span></h2>
<p>For the sake of convenience and readability this is a complete compilation of the previously listed reaction tokens in alphabetical order
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th> Token
</th>
<th> Arguments
</th>
<th> Description
</th></tr>
<tr>
<td> ADVENTURE_MODE_ENABLED
</td>
<td>
</td>
<td> this version of the reaction is not used by dwarves at home in a fortress, but rather the wanderers of Adventure Mode.  When using this token, it will be allowed for adventurers of any race, without editing Entity files
</td></tr>
<tr>
<td> ANY_BONE_MATERIAL
</td>
<td>
</td>
<td> Reagent material must have the [BONE] token.
</td></tr>
<tr>
<td> ANY_HORN_MATERIAL
</td>
<td>
</td>
<td> Reagent material must have the [HORN] token.
</td></tr>
<tr>
<td> ANY_LEATHER_MATERIAL
</td>
<td>
</td>
<td> Reagent material must have the [LEATHER] token.
</td></tr>
<tr>
<td> ANY_PEARL_MATERIAL
</td>
<td>
</td>
<td> Reagent material must have the [PEARL] token.
</td></tr>
<tr>
<td> ANY_PLANT_MATERIAL
</td>
<td>
</td>
<td> Reagent material must be subordinate to a PLANT object.
</td></tr>
<tr>
<td> ANY_SHELL_MATERIAL
</td>
<td>
</td>
<td> Reagent material must have the [SHELL] token.
</td></tr>
<tr>
<td> ANY_SILK_MATERIAL
</td>
<td>
</td>
<td> Reagent material must have the [SILK] token.
</td></tr>
<tr>
<td> ANY_SOAP_MATERIAL
</td>
<td>
</td>
<td> Reagent material must have the [SOAP] token.
</td></tr>
<tr>
<td> ANY_STRAND_TISSUE
</td>
<td>
</td>
<td> Reagent is made of a tissue having [TISSUE_SHAPE:STRANDS], intended for matching hair and wool. Must be used with [USE_BODY_COMPONENT].
</td></tr>
<tr>
<td> ANY_TOOTH_MATERIAL
</td>
<td>
</td>
<td> Reagent material must have the [TOOTH] token.
</td></tr>
<tr>
<td> ANY_YARN_MATERIAL
</td>
<td>
</td>
<td> Reagent material must have the [YARN] token.
</td></tr>
<tr>
<td> AUTOMATIC
</td>
<td>
</td>
<td> the reaction will be queued automatically if the reaction reagents are all present.
</td></tr>
<tr>
<td> BAG
</td>
<td>
</td>
<td> Reagent has to be a bag. Intended to be used with an item type of BOX, to prevent chests, coffers, and other containers from being used instead.
</td></tr>
<tr>
<td> BUILDING
</td>
<td>
<ul><li> Building name
</li><li> in-building reaction hotkey 
</li></ul>
</td>
<td> Sets the building that the reaction will be performed in, and the button used to queue the reaction once that building's menu is accessed in-game <br>
KILN, SMELTER, TANNER, KITCHEN, QUERN, MILLSTONE, STILL, CRAFTSMAN, SOAP_MAKER, SCREW_PRESS
</td></tr>
<tr>
<td> BUILDMAT
</td>
<td>
</td>
<td> Reagent is able to be used to build structures (Stone, Wood, Blocks, Bars?).
</td></tr>
<tr>
<td> CAN_USE_ARTIFACT
</td>
<td>
</td>
<td> Reagent can be an Artifact.  Using [PRESERVE_REAGENT] with this is strongly advised.
</td></tr>
<tr>
<td> CONTAINS
</td>
<td> required content
</td>
<td> Reagent is a container that holds the specified reagent.
</td></tr>
<tr>
<td> CONTAINS_LYE
</td>
<td>
</td>
<td> If the reagent is a container, it must contain LYE. No longer used - instead, use one reagent for the LYE itself and another reagent with [CONTAINS:lye_reagent].
</td></tr>
<tr>
<td> DOES_NOT_ABSORB
</td>
<td>
</td>
<td> Reagent material must have [ABSORPTION:0]
</td></tr>
<tr>
<td> DOES_NOT_DETERMINE_PRODUCT_AMOUNT
</td>
<td>
</td>
<td> Setting this dis-allows the quantity of a reagent (probably first in the list) to determine the output quantity. Used where the input is a stack, e.g. liquids in a barrel.
</td></tr>
<tr>
<td> EMPTY
</td>
<td>
</td>
<td> If the reagent is a container, it must be empty.
</td></tr>
<tr>
<td> FIRE_BUILD_SAFE
</td>
<td>
</td>
<td> Reagent must be considered fire safe - ie. not wood, and not coal.
</td></tr>
<tr>
<td> FORCE_EDGE
</td>
<td>
</td>
<td> Product is given a sharp edge. Used for knapping.
</td></tr>
<tr>
<td> FUEL
</td>
<td>
</td>
<td> Requires that the reaction either use up a unit of coal or charcoal or else be performed at a magma workshop
</td></tr>
<tr>
<td> GLASS_MATERIAL
</td>
<td>
</td>
<td> Reagent material has [IS_GLASS].
</td></tr>
<tr>
<td> HAS_MATERIAL_REACTION_PRODUCT
</td>
<td> required reaction product
</td>
<td>
</td></tr>
<tr>
<td> HAS_TOOL_USE
</td>
<td> Tool-use token
</td>
<td> Reagent must be a <a href="/index.php/DF2012:Tool" title="DF2012:Tool">tool</a> with the specific TOOL_USE value. The reagent's item type must be TOOL:NONE for this to make any sense.
</td></tr>
<tr>
<td> IMPROVEMENT
</td>
<td>
<ul><li> Probability
</li><li> Reagent Name
</li><li> Improvement type
</li><li> Material Token
</li></ul>
</td>
<td> Improvement types include BANDS, COVERED, GLAZED, RINGS_HANGING, and SPIKES
</td></tr>
<tr>
<td> MAGMA_BUILD_SAFE
</td>
<td>
</td>
<td> Currently broken - behaves exactly the same as FIRE_BUILD_SAFE.
</td></tr>
<tr>
<td> METAL_ORE
</td>
<td>
<ul><li> Inorganic material
</li></ul>
</td>
<td> Reagent material must be an ore of the specified metal
</td></tr>
<tr>
<td> MIN_DIMENSION
</td>
<td>
<ul><li> size
</li></ul>
</td>
<td> Requires that the reagent have a dimension of at least this value. Only effective with BAR, POWDER_MISC, LIQUID_MISC, DRINK, THREAD, and CLOTH items.
</td></tr>
<tr>
<td> NAME
</td>
<td> name
</td>
<td> defines the name used by the reaction in-game
</td></tr>
<tr>
<td> NO_EDGE_ALLOWED
</td>
<td>
</td>
<td> Reagent must not be sharpened (used for knapping).
</td></tr>
<tr>
<td> NOT_CONTAIN_BARREL_ITEM
</td>
<td>
</td>
<td> If the reagent is a Barrel, it must not contain an item that has to reside in a barrel.  Barrel items appear to be lye and milk.  Alcohol appears to be covered as part of [EMPTY].  A reaction which places an item in a barrel should probably have both tags.
</td></tr>
<tr>
<td> NOT_ENGRAVED
</td>
<td>
</td>
<td> Reagent must not be engraved?
</td></tr>
<tr>
<td> NOT_IMPROVED
</td>
<td>
</td>
<td> Reagent has not been decorated.
</td></tr>
<tr>
<td> NOT_PRESSED
</td>
<td>
</td>
<td> Reagent must not be in the SOLID_PRESSED state.
</td></tr>
<tr>
<td> NOT_WEB
</td>
<td>
</td>
<td> Reagent must be "collected" - used with THREAD:NONE to exclude webs.
</td></tr>
<tr>
<td> POTASHABLE
</td>
<td>
</td>
<td> Alias for CONTAINS_LYE.
</td></tr>
<tr>
<td> PRESERVE_REAGENT
</td>
<td>
</td>
<td> Reagent is not destroyed, which is the normal effect, at the completion of the reaction. Typically used for containers.
</td></tr>
<tr>
<td> PRODUCT
</td>
<td>
<ul><li>Probability
</li><li>Quantity
</li><li>Item Token
</li><li>Material Token
</li></ul>
</td>
<td> Defines one of the products to be outputted by the reaction
</td></tr>
<tr>
<td> PRODUCT_DIMENSION
</td>
<td> size
</td>
<td> Specifies the size of the product. A size of 150 is typical for BAR, POWDER_MISC, LIQUID_MISC, and DRINK.  A size of 15000 is typical for THREAD, and a size of 10000 is typical for CLOTH.
</td></tr>
<tr>
<td> PRODUCT_PASTE
</td>
<td>
</td>
<td> Product is created in the SOLID_PASTE state.
</td></tr>
<tr>
<td> PRODUCT_PRESSED
</td>
<td>
</td>
<td> Product is created in the SOLID_PRESSED state.
</td></tr>
<tr>
<td> PRODUCT_TO_CONTAINER
</td>
<td> Reagent ID
</td>
<td> Places the product in a container; &lt;id&gt; must be the name of a reagent with the PRESERVE_REAGENT token and a container item type.
</td></tr>
<tr>
<td> REACTION
</td>
<td> Identifier
</td>
<td> defines a new reaction
</td></tr>
<tr>
<td> REACTION_CLASS
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td>REAGENT
</td>
<td>
<ul><li> name/id
</li><li> quantity
</li><li> <a href="/index.php/DF2012:Item_token" title="DF2012:Item token">item token</a>
</li><li> <a href="/index.php/DF2012:Material_token" title="DF2012:Material token">material token</a>
</li></ul>
</td>
<td> Requires a given reagent as an input for a reaction
</td></tr>
<tr>
<td> SKILL
</td>
<td> Skill Token
</td>
<td> Skill used by the reaction
</td></tr>
<tr>
<td> UNROTTEN
</td>
<td>
</td>
<td> Reagent must not be rotten, mainly for organic materials.
</td></tr>
<tr>
<td> USE_BODY_COMPONENT
</td>
<td>
</td>
<td> Reagent material must come off a creature's body.
</td></tr>
<tr>
<td> WEB_ONLY
</td>
<td>
</td>
<td> Reagent must be "undisturbed" - used with THREAD:NONE to gather webs.
</td></tr>
<tr>
<td> WORTHLESS_STONE_ONLY
</td>
<td>
</td>
<td> Reagent is not made of an economic stone.
</td></tr></table>
