<span class="mw-headline" id="Complete_List">Complete List</span></h2>
<p>A list of all skill tokens, generally used in <a href="/index.php/DF2012:Reaction" title="DF2012:Reaction" class="mw-redirect">reactions</a>.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;" class="sortable">
 
<tr style="background-color:#ddd">
<th> #
</th>
<th> Token
</th>
<th> Skill
</th>
<th> Description
</th></tr>
<tr>
<td>0</td>
<td>MINING</td>
<td><a href="/index.php/DF2012:Miner" title="DF2012:Miner">Miner</a></td>
<td>Mining
</td></tr>
<tr>
<td>1</td>
<td>WOODCUTTING</td>
<td><a href="/index.php/DF2012:Wood_cutter" title="DF2012:Wood cutter">Wood cutter</a></td>
<td>Wood Cutting
</td></tr>
<tr>
<td>2</td>
<td>CARPENTRY</td>
<td><a href="/index.php/DF2012:Carpenter" title="DF2012:Carpenter">Carpenter</a></td>
<td>Carpentry
</td></tr>
<tr>
<td>3</td>
<td>DETAILSTONE</td>
<td><a href="/index.php/DF2012:Engraver" title="DF2012:Engraver">Engraver</a></td>
<td>Engraving
</td></tr>
<tr>
<td>4</td>
<td>MASONRY</td>
<td><a href="/index.php/DF2012:Mason" title="DF2012:Mason">Mason</a></td>
<td>Masonry
</td></tr>
<tr>
<td>5</td>
<td>ANIMALTRAIN</td>
<td><a href="/index.php/DF2012:Animal_trainer" title="DF2012:Animal trainer">Animal trainer</a></td>
<td>Animal Training
</td></tr>
<tr>
<td>6</td>
<td>ANIMALCARE</td>
<td><a href="/index.php/DF2012:Animal_caretaker" title="DF2012:Animal caretaker">Animal caretaker</a></td>
<td>Animal Caretaking
</td></tr>
<tr>
<td>7</td>
<td>DISSECT_FISH</td>
<td><a href="/index.php/DF2012:Fish_dissector" title="DF2012:Fish dissector">Fish dissector</a></td>
<td>Fish Dissection
</td></tr>
<tr>
<td>8</td>
<td>DISSECT_VERMIN</td>
<td><a href="/index.php/DF2012:Animal_dissector" title="DF2012:Animal dissector">Animal dissector</a></td>
<td>Animal Dissection
</td></tr>
<tr>
<td>9</td>
<td>PROCESSFISH</td>
<td><a href="/index.php/DF2012:Fish_cleaner" title="DF2012:Fish cleaner">Fish cleaner</a></td>
<td>Fish Cleaning
</td></tr>
<tr>
<td>10</td>
<td>BUTCHER</td>
<td><a href="/index.php/DF2012:Butcher" title="DF2012:Butcher">Butcher</a></td>
<td>Butchery
</td></tr>
<tr>
<td>11</td>
<td>TRAPPING</td>
<td><a href="/index.php/DF2012:Trapper" title="DF2012:Trapper">Trapper</a></td>
<td>Trapping
</td></tr>
<tr>
<td>12</td>
<td>TANNER</td>
<td><a href="/index.php/DF2012:Tanner" title="DF2012:Tanner">Tanner</a></td>
<td>Tanning
</td></tr>
<tr>
<td>13</td>
<td>WEAVING</td>
<td><a href="/index.php/DF2012:Weaver" title="DF2012:Weaver">Weaver</a></td>
<td>Weaving
</td></tr>
<tr>
<td>14</td>
<td>BREWING</td>
<td><a href="/index.php/DF2012:Brewer" title="DF2012:Brewer">Brewer</a></td>
<td>Brewing
</td></tr>
<tr>
<td>15</td>
<td>ALCHEMY</td>
<td><a href="/index.php/DF2012:Alchemist" title="DF2012:Alchemist">Alchemist</a></td>
<td>Alchemy
</td></tr>
<tr>
<td>16</td>
<td>CLOTHESMAKING</td>
<td><a href="/index.php/DF2012:Clothier" title="DF2012:Clothier">Clothier</a></td>
<td>Clothes Making
</td></tr>
<tr>
<td>17</td>
<td>MILLING</td>
<td><a href="/index.php/DF2012:Miller" title="DF2012:Miller">Miller</a></td>
<td>Milling
</td></tr>
<tr>
<td>18</td>
<td>PROCESSPLANTS</td>
<td><a href="/index.php/DF2012:Thresher" title="DF2012:Thresher">Thresher</a></td>
<td>Threshing
</td></tr>
<tr>
<td>19</td>
<td>CHEESEMAKING</td>
<td><a href="/index.php/DF2012:Cheese_maker" title="DF2012:Cheese maker">Cheese maker</a></td>
<td>Cheese Making
</td></tr>
<tr>
<td>20</td>
<td>MILK</td>
<td><a href="/index.php/DF2012:Milker" title="DF2012:Milker">Milker</a></td>
<td>Milking
</td></tr>
<tr>
<td>21</td>
<td>COOK</td>
<td><a href="/index.php/DF2012:Cook" title="DF2012:Cook">Cook</a></td>
<td>Cooking
</td></tr>
<tr>
<td>22</td>
<td>PLANT</td>
<td><a href="/index.php/DF2012:Grower" title="DF2012:Grower">Grower</a></td>
<td>Growing
</td></tr>
<tr>
<td>23</td>
<td>HERBALISM</td>
<td><a href="/index.php/DF2012:Herbalist" title="DF2012:Herbalist">Herbalist</a></td>
<td>Herbalism
</td></tr>
<tr>
<td>24</td>
<td>FISH</td>
<td><a href="/index.php/DF2012:Fisherdwarf" title="DF2012:Fisherdwarf">Fisherman</a></td>
<td>Fishing
</td></tr>
<tr>
<td>25</td>
<td>SMELT</td>
<td><a href="/index.php/DF2012:Furnace_operator" title="DF2012:Furnace operator">Furnace operator</a></td>
<td>Furnace Operation
</td></tr>
<tr>
<td>26</td>
<td>EXTRACT_STRAND</td>
<td><a href="/index.php/DF2012:Strand_extractor" title="DF2012:Strand extractor">Strand extractor</a></td>
<td>Strand Extraction
</td></tr>
<tr>
<td>27</td>
<td>FORGE_WEAPON</td>
<td><a href="/index.php/DF2012:Weaponsmith" title="DF2012:Weaponsmith">Weaponsmith</a></td>
<td>Weaponsmithing
</td></tr>
<tr>
<td>28</td>
<td>FORGE_ARMOR</td>
<td><a href="/index.php/DF2012:Armorsmith" title="DF2012:Armorsmith">Armorsmith</a></td>
<td>Armorsmithing
</td></tr>
<tr>
<td>29</td>
<td>FORGE_FURNITURE</td>
<td><a href="/index.php/DF2012:Metalsmith" title="DF2012:Metalsmith">Metalsmith</a></td>
<td>Metalsmithing
</td></tr>
<tr>
<td>30</td>
<td>CUTGEM</td>
<td><a href="/index.php/DF2012:Gem_cutter" title="DF2012:Gem cutter">Gem cutter</a></td>
<td>Gem Cutting
</td></tr>
<tr>
<td>31</td>
<td>ENCRUSTGEM</td>
<td><a href="/index.php/DF2012:Gem_setter" title="DF2012:Gem setter">Gem setter</a></td>
<td>Gem Setting
</td></tr>
<tr>
<td>32</td>
<td>WOODCRAFT</td>
<td><a href="/index.php/DF2012:Wood_crafter" title="DF2012:Wood crafter">Wood crafter</a></td>
<td>Wood Crafting
</td></tr>
<tr>
<td>33</td>
<td>STONECRAFT</td>
<td><a href="/index.php/DF2012:Stone_crafter" title="DF2012:Stone crafter">Stone crafter</a></td>
<td>Stone Crafting
</td></tr>
<tr>
<td>34</td>
<td>METALCRAFT</td>
<td><a href="/index.php/DF2012:Metal_crafter" title="DF2012:Metal crafter">Metal crafter</a></td>
<td>Metal Crafting
</td></tr>
<tr>
<td>35</td>
<td>GLASSMAKER</td>
<td><a href="/index.php/DF2012:Glassmaker" title="DF2012:Glassmaker">Glassmaker</a></td>
<td>Glassmaking
</td></tr>
<tr>
<td>36</td>
<td>LEATHERWORK</td>
<td><a href="/index.php/DF2012:Leatherworker" title="DF2012:Leatherworker">Leatherworker</a></td>
<td>Leatherworkering[sic]
</td></tr>
<tr>
<td>37</td>
<td>BONECARVE</td>
<td><a href="/index.php/DF2012:Bone_carver" title="DF2012:Bone carver">Bone carver</a></td>
<td>Bone Carving
</td></tr>
<tr>
<td>38</td>
<td>AXE</td>
<td><a href="/index.php/DF2012:Axeman" title="DF2012:Axeman" class="mw-redirect">Axeman</a></td>
<td>Axe
</td></tr>
<tr>
<td>39</td>
<td>SWORD</td>
<td><a href="/index.php/DF2012:Swordsman" title="DF2012:Swordsman" class="mw-redirect">Swordsman</a></td>
<td>Sword
</td></tr>
<tr>
<td>40</td>
<td>DAGGER</td>
<td><a href="/index.php/DF2012:Knife_user" title="DF2012:Knife user" class="mw-redirect">Knife user</a></td>
<td>Knife
</td></tr>
<tr>
<td>41</td>
<td>MACE</td>
<td><a href="/index.php/DF2012:Maceman" title="DF2012:Maceman" class="mw-redirect">Maceman</a></td>
<td>Mace
</td></tr>
<tr>
<td>42</td>
<td>HAMMER</td>
<td><a href="/index.php/DF2012:Hammerman" title="DF2012:Hammerman" class="mw-redirect">Hammerman</a></td>
<td>Hammer
</td></tr>
<tr>
<td>43</td>
<td>SPEAR</td>
<td><a href="/index.php/DF2012:Spearman" title="DF2012:Spearman" class="mw-redirect">Spearman</a></td>
<td>Spear
</td></tr>
<tr>
<td>44</td>
<td>CROSSBOW</td>
<td><a href="/index.php/DF2012:Crossbowman" title="DF2012:Crossbowman" class="mw-redirect">Crossbowman</a></td>
<td>Crossbow
</td></tr>
<tr>
<td>45</td>
<td>SHIELD</td>
<td><a href="/index.php/DF2012:Shield_user" title="DF2012:Shield user" class="mw-redirect">Shield user</a></td>
<td>Shield
</td></tr>
<tr>
<td>46</td>
<td>ARMOR</td>
<td><a href="/index.php/DF2012:Armor_user" title="DF2012:Armor user" class="mw-redirect">Armor user</a></td>
<td>Armor
</td></tr>
<tr>
<td>47</td>
<td>SIEGECRAFT</td>
<td><a href="/index.php/DF2012:Siege_engineer" title="DF2012:Siege engineer">Siege engineer</a></td>
<td>Siege Engineering
</td></tr>
<tr>
<td>48</td>
<td>SIEGEOPERATE</td>
<td><a href="/index.php/DF2012:Siege_operator" title="DF2012:Siege operator">Siege operator</a></td>
<td>Siege Operation
</td></tr>
<tr>
<td>49</td>
<td>BOWYER</td>
<td><a href="/index.php/DF2012:Bowyer" title="DF2012:Bowyer">Bowyer</a></td>
<td>Bowmaking
</td></tr>
<tr>
<td>50</td>
<td>PIKE</td>
<td><a href="/index.php/DF2012:Pikeman" title="DF2012:Pikeman" class="mw-redirect">Pikeman</a></td>
<td>Pike
</td></tr>
<tr>
<td>51</td>
<td>WHIP</td>
<td><a href="/index.php/DF2012:Lasher" title="DF2012:Lasher" class="mw-redirect">Lasher</a></td>
<td>Lash
</td></tr>
<tr>
<td>52</td>
<td>BOW</td>
<td><a href="/index.php/DF2012:Bowman" title="DF2012:Bowman">Bowman</a></td>
<td>Bow
</td></tr>
<tr>
<td>53</td>
<td>BLOWGUN</td>
<td><a href="/index.php/DF2012:Blowgunner" title="DF2012:Blowgunner" class="mw-redirect">Blowgunner</a></td>
<td>Blowgun
</td></tr>
<tr>
<td>54</td>
<td>THROW</td>
<td><a href="/index.php/DF2012:Thrower" title="DF2012:Thrower" class="mw-redirect">Thrower</a></td>
<td>Throwing
</td></tr>
<tr>
<td>55</td>
<td>MECHANICS</td>
<td><a href="/index.php/DF2012:Mechanic" title="DF2012:Mechanic">Mechanic</a></td>
<td>Machinery
</td></tr>
<tr>
<td>56</td>
<td>MAGIC_NATURE</td>
<td><a href="/index.php/DF2012:Druid" title="DF2012:Druid">Druid</a></td>
<td>Nature
</td></tr>
<tr>
<td>57</td>
<td>SNEAK</td>
<td><a href="/index.php/DF2012:Ambusher" title="DF2012:Ambusher">Ambusher</a></td>
<td>Ambush
</td></tr>
<tr>
<td>58</td>
<td>DESIGNBUILDING</td>
<td><a href="/index.php/DF2012:Building_designer" title="DF2012:Building designer">Building designer</a></td>
<td>Building Design
</td></tr>
<tr>
<td>59</td>
<td>DRESS_WOUNDS</td>
<td><a href="/index.php/DF2012:Wound_dresser" title="DF2012:Wound dresser">Wound dresser</a></td>
<td>Wound Dressing
</td></tr>
<tr>
<td>60</td>
<td>DIAGNOSE</td>
<td><a href="/index.php/DF2012:Diagnostician" title="DF2012:Diagnostician">Diagnostician</a></td>
<td>Diagnostics
</td></tr>
<tr>
<td>61</td>
<td>SURGERY</td>
<td><a href="/index.php/DF2012:Surgeon" title="DF2012:Surgeon">Surgeon</a></td>
<td>Surgery
</td></tr>
<tr>
<td>62</td>
<td>SET_BONE</td>
<td><a href="/index.php/DF2012:Bone_doctor" title="DF2012:Bone doctor">Bone doctor</a></td>
<td>Bone Setting
</td></tr>
<tr>
<td>63</td>
<td>SUTURE</td>
<td><a href="/index.php/DF2012:Suturer" title="DF2012:Suturer">Suturer</a></td>
<td>Suturing
</td></tr>
<tr>
<td>64</td>
<td>CRUTCH_WALK</td>
<td><a href="/index.php/DF2012:Crutch-walker" title="DF2012:Crutch-walker">Crutch-walker</a></td>
<td>Crutch-walking
</td></tr>
<tr>
<td>65</td>
<td>WOOD_BURNING</td>
<td><a href="/index.php/DF2012:Wood_burner" title="DF2012:Wood burner">Wood burner</a></td>
<td>Wood Burning
</td></tr>
<tr>
<td>66</td>
<td>LYE_MAKING</td>
<td><a href="/index.php/DF2012:Lye_maker" title="DF2012:Lye maker">Lye maker</a></td>
<td>Lye Making
</td></tr>
<tr>
<td>67</td>
<td>SOAP_MAKING</td>
<td><a href="/index.php/DF2012:Soaper" title="DF2012:Soaper">Soaper</a></td>
<td>Soap Making
</td></tr>
<tr>
<td>68</td>
<td>POTASH_MAKING</td>
<td><a href="/index.php/DF2012:Potash_maker" title="DF2012:Potash maker">Potash maker</a></td>
<td>Potash Making
</td></tr>
<tr>
<td>69</td>
<td>DYER</td>
<td><a href="/index.php/DF2012:Dyer" title="DF2012:Dyer">Dyer</a></td>
<td>Dyeing
</td></tr>
<tr>
<td>70</td>
<td>OPERATE_PUMP</td>
<td><a href="/index.php/DF2012:Pump_operator" title="DF2012:Pump operator">Pump operator</a></td>
<td>Pump Operation
</td></tr>
<tr>
<td>71</td>
<td>SWIMMING</td>
<td><a href="/index.php/DF2012:Swimmer" title="DF2012:Swimmer">Swimmer</a></td>
<td>Swimming
</td></tr>
<tr>
<td>72</td>
<td>PERSUASION</td>
<td><a href="/index.php/DF2012:Persuader" title="DF2012:Persuader">Persuader</a></td>
<td>Persuasion
</td></tr>
<tr>
<td>73</td>
<td>NEGOTIATION</td>
<td><a href="/index.php/DF2012:Negotiator" title="DF2012:Negotiator" class="mw-redirect">Negotiator</a></td>
<td>Negotiation
</td></tr>
<tr>
<td>74</td>
<td>JUDGING_INTENT</td>
<td><a href="/index.php/DF2012:Judge_of_intent" title="DF2012:Judge of intent">Judge of intent</a></td>
<td>Judging Intent
</td></tr>
<tr>
<td>75</td>
<td>APPRAISAL</td>
<td><a href="/index.php/DF2012:Appraiser" title="DF2012:Appraiser">Appraiser</a></td>
<td>Appraisal
</td></tr>
<tr>
<td>76</td>
<td>ORGANIZATION</td>
<td><a href="/index.php/DF2012:Organizer" title="DF2012:Organizer">Organizer</a></td>
<td>Organization
</td></tr>
<tr>
<td>77</td>
<td>RECORD_KEEPING</td>
<td><a href="/index.php/DF2012:Record_keeper" title="DF2012:Record keeper">Record keeper</a></td>
<td>Record Keeping
</td></tr>
<tr>
<td>78</td>
<td>LYING</td>
<td><a href="/index.php/DF2012:Liar" title="DF2012:Liar">Liar</a></td>
<td>Lying
</td></tr>
<tr>
<td>79</td>
<td>INTIMIDATION</td>
<td><a href="/index.php/DF2012:Intimidator" title="DF2012:Intimidator" class="mw-redirect">Intimidator</a></td>
<td>Intimidation
</td></tr>
<tr>
<td>80</td>
<td>CONVERSATION</td>
<td><a href="/index.php/DF2012:Conversationalist" title="DF2012:Conversationalist">Conversationalist</a></td>
<td>Conversation
</td></tr>
<tr>
<td>81</td>
<td>COMEDY</td>
<td><a href="/index.php/DF2012:Comedian" title="DF2012:Comedian">Comedian</a></td>
<td>Comedy
</td></tr>
<tr>
<td>82</td>
<td>FLATTERY</td>
<td><a href="/index.php/DF2012:Flatterer" title="DF2012:Flatterer">Flatterer</a></td>
<td>Flattery
</td></tr>
<tr>
<td>83</td>
<td>CONSOLE</td>
<td><a href="/index.php/DF2012:Consoler" title="DF2012:Consoler">Consoler</a></td>
<td>Consoling
</td></tr>
<tr>
<td>84</td>
<td>PACIFY</td>
<td><a href="/index.php/DF2012:Pacifier" title="DF2012:Pacifier" class="mw-redirect">Pacifier</a></td>
<td>Pacification
</td></tr>
<tr>
<td>85</td>
<td>TRACKING</td>
<td><a href="/index.php/DF2012:Tracker" title="DF2012:Tracker">Tracker</a></td>
<td>Tracking
</td></tr>
<tr>
<td>86</td>
<td>KNOWLEDGE_ACQUISITION</td>
<td><a href="/index.php/DF2012:Student" title="DF2012:Student">Student</a></td>
<td>Studying
</td></tr>
<tr>
<td>87</td>
<td>CONCENTRATION</td>
<td><a href="/index.php/DF2012:Concentration" title="DF2012:Concentration">Concentration</a></td>
<td>Concentration
</td></tr>
<tr>
<td>88</td>
<td>DISCIPLINE</td>
<td><a href="/index.php/DF2012:Discipline" title="DF2012:Discipline">Discipline</a></td>
<td>Discipline
</td></tr>
<tr>
<td>89</td>
<td>SITUATIONAL_AWARENESS</td>
<td><a href="/index.php/DF2012:Observer" title="DF2012:Observer">Observer</a></td>
<td>Observation
</td></tr>
<tr>
<td>90</td>
<td>WRITING</td>
<td><a href="/index.php/DF2012:Wordsmith" title="DF2012:Wordsmith">Wordsmith</a></td>
<td>Writing
</td></tr>
<tr>
<td>91</td>
<td>PROSE</td>
<td><a href="/index.php/DF2012:Writer" title="DF2012:Writer">Writer</a></td>
<td>Prose
</td></tr>
<tr>
<td>92</td>
<td>POETRY</td>
<td><a href="/index.php/DF2012:Poet" title="DF2012:Poet">Poet</a></td>
<td>Poetry
</td></tr>
<tr>
<td>93</td>
<td>READING</td>
<td><a href="/index.php/DF2012:Reader" title="DF2012:Reader">Reader</a></td>
<td>Reading
</td></tr>
<tr>
<td>94</td>
<td>SPEAKING</td>
<td><a href="/index.php/DF2012:Speaker" title="DF2012:Speaker">Speaker</a></td>
<td>Speaking
</td></tr>
<tr>
<td>95</td>
<td>COORDINATION</td>
<td><a href="/index.php/DF2012:Coordination" title="DF2012:Coordination">Coordination</a></td>
<td>Coordination
</td></tr>
<tr>
<td>96</td>
<td>BALANCE</td>
<td><a href="/index.php/DF2012:Balance" title="DF2012:Balance">Balance</a></td>
<td>Balance
</td></tr>
<tr>
<td>97</td>
<td>LEADERSHIP</td>
<td><a href="/index.php/DF2012:Leader" title="DF2012:Leader">Leader</a></td>
<td>Leadership
</td></tr>
<tr>
<td>98</td>
<td>TEACHING</td>
<td><a href="/index.php/DF2012:Teacher" title="DF2012:Teacher">Teacher</a></td>
<td>Teaching
</td></tr>
<tr>
<td>99</td>
<td>MELEE_COMBAT</td>
<td><a href="/index.php/DF2012:Fighter" title="DF2012:Fighter" class="mw-redirect">Fighter</a></td>
<td>Fighting
</td></tr>
<tr>
<td>100</td>
<td>RANGED_COMBAT</td>
<td><a href="/index.php/DF2012:Archer" title="DF2012:Archer" class="mw-redirect">Archer</a></td>
<td>Archery
</td></tr>
<tr>
<td>101</td>
<td>WRESTLING</td>
<td><a href="/index.php/DF2012:Wrestler" title="DF2012:Wrestler" class="mw-redirect">Wrestler</a></td>
<td>Wrestling
</td></tr>
<tr>
<td>102</td>
<td>BITE</td>
<td><a href="/index.php/DF2012:Biter" title="DF2012:Biter" class="mw-redirect">Biter</a></td>
<td>Biting
</td></tr>
<tr>
<td>103</td>
<td>GRASP_STRIKE</td>
<td><a href="/index.php/DF2012:Striker" title="DF2012:Striker" class="mw-redirect">Striker</a></td>
<td>Striking
</td></tr>
<tr>
<td>104</td>
<td>STANCE_STRIKE</td>
<td><a href="/index.php/DF2012:Kicker" title="DF2012:Kicker" class="mw-redirect">Kicker</a></td>
<td>Kicking
</td></tr>
<tr>
<td>105</td>
<td>DODGING</td>
<td><a href="/index.php/DF2012:Dodger" title="DF2012:Dodger" class="mw-redirect">Dodger</a></td>
<td>Dodging
</td></tr>
<tr>
<td>106</td>
<td>MISC_WEAPON</td>
<td><a href="/index.php/DF2012:Misc._object_user" title="DF2012:Misc. object user" class="mw-redirect">Misc. object user</a></td>
<td>Misc. Object
</td></tr>
<tr>
<td>107</td>
<td>KNAPPING</td>
<td><a href="/index.php/DF2012:Knapper" title="DF2012:Knapper">Knapper</a></td>
<td>Knapping
</td></tr>
<tr>
<td>108</td>
<td>MILITARY_TACTICS</td>
<td><a href="/index.php/DF2012:Military_tactics" title="DF2012:Military tactics">Military tactics</a></td>
<td>Military Tactics
</td></tr>
<tr>
<td>109</td>
<td>SHEARING</td>
<td><a href="/index.php/DF2012:Shearer" title="DF2012:Shearer">Shearer</a></td>
<td>Shearing
</td></tr>
<tr>
<td>110</td>
<td>SPINNING</td>
<td><a href="/index.php/DF2012:Spinner" title="DF2012:Spinner">Spinner</a></td>
<td>Spinning
</td></tr>
<tr>
<td>111</td>
<td>POTTERY</td>
<td><a href="/index.php/DF2012:Potter" title="DF2012:Potter">Potter</a></td>
<td>Pottery
</td></tr>
<tr>
<td>112</td>
<td>GLAZING</td>
<td><a href="/index.php/DF2012:Glazer" title="DF2012:Glazer">Glazer</a></td>
<td>Glazing
</td></tr>
<tr>
<td>113</td>
<td>PRESSING</td>
<td><a href="/index.php/DF2012:Presser" title="DF2012:Presser">Presser</a></td>
<td>Pressing
</td></tr>
<tr>
<td>114</td>
<td>BEEKEEPING</td>
<td><a href="/index.php/DF2012:Beekeeper" title="DF2012:Beekeeper">Beekeeper</a></td>
<td>Beekeeping
</td></tr>
<tr>
<td>115</td>
<td>WAX_WORKING</td>
<td><a href="/index.php/DF2012:Wax_worker" title="DF2012:Wax worker">Wax worker</a></td>
<td>Wax Working
</td></tr></table>
<h2><span class="mw-headline" id="Skills_By_Type">Skills By Type</span></h2>
<h3>

<table>
<tr>
<td>
 <span class="mw-headline" id="General_Skills">General Skills</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th> Token
</th>
<th> Skill
</th></tr>
<tr>
<td> ANIMALCARE
</td>
<td> Animal Caretaker
</td></tr>
<tr>
<td> ANIMALTRAIN
</td>
<td> Animal Trainer
</td></tr>
<tr>
<td> BEEKEEPING
</td>
<td> Beekeper
</td></tr>
<tr>
<td> BONECARVE
</td>
<td> Bonecarver
</td></tr>
<tr>
<td> BOWYER
</td>
<td> Bowyer
</td></tr>
<tr>
<td> BREWING
</td>
<td> Brewer
</td></tr>
<tr>
<td> BUTCHER
</td>
<td> Butcher
</td></tr>
<tr>
<td> CARPENTRY
</td>
<td> Carpenter
</td></tr>
<tr>
<td> CHEESEMAKING
</td>
<td> Cheese Maker
</td></tr>
<tr>
<td> CLOTHESMAKING
</td>
<td> Clothier
</td></tr>
<tr>
<td> COOK
</td>
<td> Cook
</td></tr>
<tr>
<td> CUTGEM
</td>
<td> Gem Cutter
</td></tr>
<tr>
<td> DETAILSTONE
</td>
<td> Engraver
</td></tr>
<tr>
<td> DISSECT_FISH
</td>
<td> Fish Dissector
</td></tr>
<tr>
<td> DISSECT_VERMIN
</td>
<td> Animal Dissector
</td></tr>
<tr>
<td> DYER
</td>
<td> Dyer
</td></tr>
<tr>
<td> ENCRUSTGEM
</td>
<td> Gem Setter
</td></tr>
<tr>
<td> EXTRACT_STRAND
</td>
<td> Strand Extractor
</td></tr>
<tr>
<td> FISH
</td>
<td> Fisherman (Fisherdwarf)
</td></tr>
<tr>
<td> FORGE_ARMOR
</td>
<td> Armorsmith
</td></tr>
<tr>
<td> FORGE_FURNITURE
</td>
<td> Metalsmith
</td></tr>
<tr>
<td> FORGE_WEAPON
</td>
<td> Weaponsmith
</td></tr>
<tr>
<td> GLASSMAKER
</td>
<td> Glassmaker
</td></tr>
<tr>
<td> GLAZING
</td>
<td> Glazer
</td></tr>
<tr>
<td> HERBALISM
</td>
<td> Herbalist
</td></tr>
<tr>
<td> LEATHERWORK
</td>
<td> Leatherworker
</td></tr>
<tr>
<td> LYE_MAKING
</td>
<td> Lye Maker
</td></tr>
<tr>
<td> MASONRY
</td>
<td> Mason
</td></tr>
<tr>
<td> MECHANICS
</td>
<td> Mechanic
</td></tr>
<tr>
<td> METALCRAFT
</td>
<td> Metal Crafter
</td></tr>
<tr>
<td> MILLING
</td>
<td> Miller
</td></tr>
<tr>
<td> MILK
</td>
<td> Milker
</td></tr>
<tr>
<td> MINING
</td>
<td> Miner
</td></tr>
<tr>
<td> OPERATE_PUMP
</td>
<td> Pump Operator
</td></tr>
<tr>
<td> PLANT
</td>
<td> Grower
</td></tr>
<tr>
<td> POTASH_MAKING
</td>
<td> Potash Maker
</td></tr>
<tr>
<td> POTTERY
</td>
<td> Potter
</td></tr>
<tr>
<td> PRESSING
</td>
<td> Presser
</td></tr>
<tr>
<td> PROCESSFISH
</td>
<td> Fish Cleaner
</td></tr>
<tr>
<td> PROCESSPLANTS
</td>
<td> Thresher
</td></tr>
<tr>
<td> SHEARING
</td>
<td> Shearer
</td></tr>
<tr>
<td> SIEGECRAFT
</td>
<td> Siege Engineer
</td></tr>
<tr>
<td> SMELT
</td>
<td> Furnace Operator
</td></tr>
<tr>
<td> SPINNING
</td>
<td> Spinner
</td></tr>
<tr>
<td> STONECRAFT
</td>
<td> Stone Crafter
</td></tr>
<tr>
<td> TANNER
</td>
<td> Tanner
</td></tr>
<tr>
<td> TRAPPING
</td>
<td> Trapper
</td></tr>
<tr>
<td> WAX_WORKING
</td>
<td> Wax Worker
</td></tr>
<tr>
<td> WEAVING
</td>
<td> Weaver
</td></tr>
<tr>
<td> WOOD_BURNING
</td>
<td> Wood Burner
</td></tr>
<tr>
<td> WOODCRAFT
</td>
<td> Wood Crafter
</td></tr>
<tr>
<td> WOODCUTTING
</td>
<td> Wood Cutter
</td></tr></table>
<h3>
</td>
<td>
 <span class="mw-headline" id="Medical_Skills">Medical Skills</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th> Token
</th>
<th> Skill
</th></tr>
<tr>
<td> CRUTCH_WALK
</td>
<td> Crutch-Walker
</td></tr>
<tr>
<td> DIAGNOSE
</td>
<td> Diagnostician
</td></tr>
<tr>
<td> DRESS_WOUNDS
</td>
<td> Wound Dresser
</td></tr>
<tr>
<td> SET_BONE
</td>
<td> Bone Doctor
</td></tr>
<tr>
<td> SURGERY
</td>
<td> Surgeon
</td></tr>
<tr>
<td> SUTURE
</td>
<td> Suturer
</td></tr></table>
<h3>
</td>
<td>
<span class="mw-headline" id="Social_Skills">Social Skills</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th> Token
</th>
<th> Skill
</th></tr>
<tr>
<td> APPRAISAL
</td>
<td> Appraiser
</td></tr>
<tr>
<td> COMEDY
</td>
<td> Comedian
</td></tr>
<tr>
<td> CONSOLE
</td>
<td> Consoler
</td></tr>
<tr>
<td> FLATTERY
</td>
<td> Flatterer
</td></tr>
<tr>
<td> INTIMIDATION
</td>
<td> Intimidator
</td></tr>
<tr>
<td> JUDGING_INTENT
</td>
<td> Judge of Intent
</td></tr>
<tr>
<td> KNOWLEDGE_ACQUISITION
</td>
<td> Student
</td></tr>
<tr>
<td> LYING
</td>
<td> Liar
</td></tr>
<tr>
<td> NEGOTIATION
</td>
<td> Negotiator
</td></tr>
<tr>
<td> PACIFY
</td>
<td> Pacifier
</td></tr>
<tr>
<td> PERSUASION
</td>
<td> Persuader
</td></tr>
<tr>
<td> TEACHING
</td>
<td> Teacher
</td></tr></table>
<h3>
</td>
<td>
<span class="mw-headline" id="Administrative_Skills">Administrative Skills</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th> Token
</th>
<th> Skill
</th></tr>
<tr>
<td> APPRAISAL
</td>
<td> Appraiser
</td></tr>
<tr>
<td> DESIGNBUILDING
</td>
<td> Building Designer
</td></tr>
<tr>
<td> LEADERSHIP
</td>
<td> Leader
</td></tr>
<tr>
<td> ORGANIAZATION
</td>
<td> Organizer
</td></tr>
<tr>
<td> RECORD_KEEPING
</td>
<td> Record Keeper
</td></tr></table>
<h3>
</td>
<td>
<span class="mw-headline" id="Military_Skills">Military Skills</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th> Token
</th>
<th> Skill
</th></tr>
<tr>
<td> ARMOR
</td>
<td> Armor User
</td></tr>
<tr>
<td> AXE
</td>
<td> Axeman
</td></tr>
<tr>
<td> BITE
</td>
<td> Biter
</td></tr>
<tr>
<td> BLOWGUN
</td>
<td> Blowgunner
</td></tr>
<tr>
<td> BOW
</td>
<td> Bowman
</td></tr>
<tr>
<td> CROSSBOW
</td>
<td> Crossbowman
</td></tr>
<tr>
<td> DAGGER
</td>
<td> Knife User
</td></tr>
<tr>
<td> DODGING
</td>
<td> Dodger
</td></tr>
<tr>
<td> GRASP_STRIKE
</td>
<td> Striker
</td></tr>
<tr>
<td> HAMMER
</td>
<td> Hammerman
</td></tr>
<tr>
<td> MACE
</td>
<td> Maceman
</td></tr>
<tr>
<td> MELEE_COMBAT
</td>
<td> Fighter
</td></tr>
<tr>
<td> MILITARY_TACTICS
</td>
<td> Military Tactics
</td></tr>
<tr>
<td> MISC_WEAPON
</td>
<td> Misc. Object User
</td></tr>
<tr>
<td> PIKE
</td>
<td> Pikeman
</td></tr>
<tr>
<td> RANGED_COMBAT
</td>
<td> Archer
</td></tr>
<tr>
<td> SHIELD
</td>
<td> Shield user
</td></tr>
<tr>
<td> SIEGEOPERATE
</td>
<td> Siege Operator
</td></tr>
<tr>
<td> SITUATIONAL_AWARENESS
</td>
<td> Observer
</td></tr>
<tr>
<td> SNEAK
</td>
<td> Ambusher
</td></tr>
<tr>
<td> SPEAR
</td>
<td> Spearman
</td></tr>
<tr>
<td> STANCE_STRIKE
</td>
<td> Kicker
</td></tr>
<tr>
<td> SWORD
</td>
<td> Swordsman
</td></tr>
<tr>
<td> THROW
</td>
<td> Thrower
</td></tr>
<tr>
<td> WHIP
</td>
<td> Lasher
</td></tr>
<tr>
<td> WRESTLING
</td>
<td> Wrestler
</td></tr></table>
<h3>
</td>
<td> <span class="mw-headline" id="Other">Other</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#dddddd">
<th> Token
</th>
<th> Skill
</th></tr>
<tr>
<td> ALCHEMY
</td>
<td> Alchemist
</td></tr>
<tr>
<td> CONCENTRATION
</td>
<td> Concentration
</td></tr>
<tr>
<td> CRUTCH_WALK
</td>
<td> Crutch-Walker
</td></tr>
<tr>
<td> KNAPPING
</td>
<td> Knapper
</td></tr>
<tr>
<td> KNOWLEDGE_ACQUISITION
</td>
<td> Student
</td></tr>
<tr>
<td> LEADERSHIP
</td>
<td> Leader
</td></tr>
<tr>
<td> MAGIC_NATURE
</td>
<td> Druid
</td></tr>
<tr>
<td> MILITARY_TACTICS
</td>
<td> Military Tactics
</td></tr>
<tr>
<td> SITUATIONAL_AWARENESS
</td>
<td> Observer
</td></tr>
<tr>
<td> SNEAK
</td>
<td> Ambusher
</td></tr>
<tr>
<td> SWIMMING
</td>
<td> Swimmer
</td></tr>
<tr>
<td> TEACHING
</td>
<td> Teacher
</td></tr></table>
