/*** Ed's Styles ***/

/* generic class styles */

.inline {display:inline;}
.right {float:right;}
.left {float:left;}
.red {color:red;}
.green {color:green;}
.center {margin-right:auto;margin-left:auto;}
.textCenter {text-align:center;}
.whiteBack{background-color:#FFFFFF;}

/* class objects */

.c_filter
{
	display:inline;
	margin-left:2px;margin-right:2px;
	padding:5px 15px 5px 15px;
}
.cart_item
{
	background-color:#e6e6e6;
	border-right:2px solid #d2d2d2;
	border-bottom:3px solid #d2d2d2;
	margin:5px;
}

.darkObject{background-color:#f7f7f7;}
.darkObjectHover{background-color:#f7f7f7;}
.darkObjectHover:hover{color:#0056e6;background-color:#fFfFff;}

.darkContainer
{
	width:%80;
	border-top:3px solid #e6e6e6;
	border-bottom:3px solid #e6e6e6;
	padding: 6px;
	background-color:#f7f7f7;
}
.lightObject{background-color:#ffffff;}
.lightObjectHover{background-color:#ffffff;}
.lightObjectHover:hover{color:#0056e6;background-color:#f7f7f7;}

.lightObject, .darkObject, .lightObjectHover, .darkObjectHover
{
	border-top:2px solid #ffffff;
	border-left:2px solid #e6e6e6;
	border-right:3px solid #b6b6b6;
	border-bottom:4px solid #b6b6b6;
}

.lightObjectHover:hover, .darkObjectHover:hover
{
	font-weight:bold;
	border-top:4px solid #000000;
	border-left:3px solid #b6b6b6;
	border-right:2px solid #e6e6e6;
	border-bottom:2px solid #e6e6e6;
}

.shadow
{
	-webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.15);
	        box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.15);
}

/* ** ** End ** ** */

/* End of Ed's Styles */