<span class="mw-headline" id="The_anatomy_of_a_syndrome">The anatomy of a syndrome</span></h2>
<p>Mechanically, syndromes are bundles of tokens attached to a material - they're confined to creature materials in vanilla DF, but it's a simple matter to add them to inorganic materials.  When the material is injected, touched, inhaled, or ingested (depending on the syndrome), the creature suffers the predations of a nasty disease or poison.  Here's an example syndrome, taken from the Giant Cave Spider raws.
</p><p>If you are having troubles getting the syndromes to work (ie, in combat reports, getting "<b>supersnake</b> n/a splatters~etc"), then simply throw the venom template into the actual creature's raw, which is what the LOCAL_CREATURE_MAT actually calls on; the venom being in the same file.
</p>
<pre>   [USE_MATERIAL_TEMPLATE:POISON:CREATURE_EXTRACT_TEMPLATE]
       [STATE_NAME:ALL_SOLID:frozen giant cave spider venom]
       [STATE_ADJ:ALL_SOLID:frozen giant cave spider venom]
       [STATE_NAME:LIQUID:giant cave spider venom]
       [STATE_ADJ:LIQUID:giant cave spider venom]
       [STATE_NAME:GAS:boiling giant cave spider venom]
       [STATE_ADJ:GAS:boiling giant cave spider venom]
       [PREFIX:NONE]
       [ENTERS_BLOOD]
       [SYNDROME]
           [SYN_NAME:giant cave spider bite]
           [SYN_AFFECTED_CLASS:GENERAL_POISON]
           [SYN_IMMUNE_CREATURE:SPIDER_CAVE:ALL]
           [SYN_INJECTED]
           [CE_PARALYSIS:SEV:100:PROB:100:RESISTABLE:SIZE_DILUTES:START:5:PEAK:10:END:20]
</pre>
<p>The first line, USE_MATERIAL_TEMPLATE, is creating a new material, called POISON, using the CREATURE_EXTRACT_TEMPLATE as the basis.  After this, the STATE_NAME and STATE_ADJ tokens are used to define the names and adjectives assigned to different states of the material - GAS, LIQUID and ALL_SOLID, in this case, though ALL is also a valid token.  At this stage, you can use any material tags like MAT_FIXED_TEMP or similar to set further material properties, though this usually isn't necessary.
</p>
<pre> ENTERS_BLOOD
</pre>
<p>This tag determines whether a poison enters the blood or not. If it is not included, the poison will splatter (if liquid) or flow (if gas) over the affected body part instead when injected. If you're using a contact poison, leave this out. Necessary for injected poisons.
</p>
<pre> SYNDROME
</pre>
<p>This tag ends the material details and begins the definition of the actual syndrome.
</p>
<pre> SYN_NAME
</pre>
<p>This one is self-explanatory - the name of the syndrome as it will appear in-game.
</p>
<pre> SYN_AFFECTED_CLASS
</pre>
<p>This token defines what CREATURE_CLASS will be affected by the syndrome.  Most creatures are classed under GENERAL_POISON.  Multiple tokens can be used in a single syndrome.
</p>
<pre> SYN_IMMUNE_CLASS
</pre>
<p>As above, but makes class immune.
</p>
<pre> SYN_IMMUNE_CREATURE
</pre>
<p>This token defines which creatures CANNOT be affected by the syndrome - useful for addressing specific instances within a population, such as a specific caste or an individual creature that falls under GENERAL_POISON. Syntax is [SYN_IMMUNE_CREATURE:creature:caste]. ALL can be used for the caste.
</p>
<pre> SYN_AFFECTED_CREATURE
</pre>
<p>As above, but makes creature or caste susceptible.
</p>
<pre> SYN_INJECTED, SYN_CONTACT, SYN_INHALED, SYN_INGESTED
</pre>
<p>This token determines the method of infection - injected syndromes must be injected via a creature attack, while contact syndromes result from any contamination of a creature by material splatter (such as blood), inhaled syndromes must be inhaled in gaseous form (such as from boiling or a creature breath attack), and ingestion syndromes must be eaten or drunk.  Any combination of these tags can be used.  A fun variation on the usual creature injection routine is to create a material with a SYN_CONTACT syndrome and have a creature use it for blood - this tends to end poorly for any predator that chooses to attack them.
</p><p><br />
</p>
<pre> [SPECIALATTACK_INJECT_EXTRACT:LOCAL_CREATURE_MAT:VENOM:LIQUID:100:100]
</pre>
<p>This is one method for getting a poison into a creature. If [ENTERS_BLOOD] is applied, it will be injected into the bloodstream. Otherwise, it will just splatter over the area. Put this on a creature attack. Substance type (gas, liquid, solid) does not appear to have an effect. The numbers on the end are minimum and maximum.
</p><p><br />
CE_X, or creature effect tokens, are the real meat and bones of your syndrome.  They're detailed below.
</p>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Syndrome&amp;action=edit&amp;section=3" title="Edit section: Creature effect tokens">edit</a>]</span> <span class="mw-headline" id="Creature_effect_tokens">Creature effect tokens</span></h2>
<p>Each and every syndrome has a number of creature effect tokens, represented by CE_X - these lovely little beauties determine exactly how the poor creature suffering from the syndrome is affected.  An example CE token is as follows:
</p>
<pre> [CE_NECROSIS:SEV:100:PROB:100:LOCALIZED:VASCULAR_ONLY:RESISTABLE:START:50:PEAK:1000:END:2000]
</pre>
<p><br />
In this example, we have an effect that will always cause severe necrosis in whichever bodypart it touches, so long as that bodypart is vascular and that the creature is not able to resist it in some manner.  The effect begins shortly after the syndrome is contracted, peaks 1000 <a href="/index.php/DF2012:Time" title="DF2012:Time">time units</a> afterwards, and finally ceases another 1000 time units later.
</p><p>As a general rule of thumb, so long as CE_X starts the string and START/PEAK/END end it, the order of the intervening tokens isn't important.
</p>
<ul><li>CE_X
</li></ul>
<p>The effect type.  This can be a number of different tokens, as detailed in the table below this list.
</p>
<ul><li>SEV:X
</li></ul>
<p>The severity of the effect.  Higher values appear to be worse, with SEV:1000 CE_NECROSIS causing a part to near-instantly become rotten.
</p>
<ul><li>PROB:X
</li></ul>
<p>The probability of the effect actually manifesting in the victim, as a percentage.  100 means always, 1 means a 1 in 100 chance.
</p>
<ul><li>LOCALIZED (Overwrites BP tokens)
</li></ul>
<p>This tag causes an effect to ignore all BP tokens and then forces the game to attempt to apply the effect to the limb that came into contact with the contagion - i.e. the part that was bitten by the creature injecting the syndrome material, or the one that was splattered by a contact contagion. If an effect can not be applied to the contacted limb (such as IMPAIR_FUNCTION on a non-organ) then this token makes the syndrome have no effect. This token also makes inhaled syndromes have no effect.
</p>
<ul><li>BP:BODY_PART:TISSUE (Overwritten by LOCALIZED)
</li></ul>
<p>Specifies which body parts and tissues are to be affected by the syndrome. BODY_PART can be BY_CATEGORY:x to target body parts with a matching [CATEGORY:x] <a href="/index.php/DF2012:Body_token" title="DF2012:Body token">body token</a> (or ALL to affect everything), BY_TYPE:x to target body parts having a particular type (UPPERBODY, LOWERBODY, HEAD, GRASP, or STANCE), or BY_TOKEN:x to target individual body parts by their ID (as specified in the [BP] token). For example, if you wanted to target the lungs of a creature, you would use BP:BY_CATEGORY:LUNG:ALL.  The syndrome would act on all bodyparts within the creature with the CATEGORY tag LUNG and affect all tissue layers.  For another example, say you wanted to cause the skin to rot off a creature - you could use BP:BY_CATEGORY:ALL:SKIN, targeting the SKIN tissue on all bodyparts. Multiple targets can be given in one syndrome by placing the BP tokens end to end. This is one of the most powerful and useful aspects of the syndrome system, as it allows you to selectively target bodyparts relevant to the contagion, like lungs for coal dust inhalation, or the eyes for exposure to an acid gas. Not everything takes a target!
</p>
<ul><li>VASCULAR_ONLY (Optional)
</li></ul>
<p>This syndrome only affects tissue layers with the VASCULAR token.
</p>
<ul><li>MUSCULAR_ONLY (Optional)
</li></ul>
<p>This syndrome only affects tissue layers with the MUSCULAR token.  Are you seeing a trend here?
</p>
<ul><li>SIZE_DILUTES (Optional)
</li></ul>
<p>This token presumably causes the effects of the syndrome to scale with the size of the creature compared to the size of the dose of contagion they received, but has yet to be extensively tested.
</p>
<ul><li>SIZE_DELAYS (Optional)
</li></ul>
<p>As above, this token has yet to be tested but presumably delays the onset of a syndrome according to the size of the victim.
</p><p>The details of this table are still being thrashed out by modders, so if you have anything to add, please don't hesitate to hit the edit button!
</p><p>Non-targeted syndromes will ignore any BP tokens and LOCALIZED tokens.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="Bisque">
<th> Token
</th>
<th> Accepts Target
</th>
<th> Description
</th></tr>
<tr>
<td> CE_BLEEDING
</td>
<td> Yes
</td>
<td> Causes the targeted bodypart to start bleeding, with heavy enough bleeding resulting in the death of the sufferer. Some conditions seem to cause bleeding to be fatal no matter how weak.
</td></tr>
<tr>
<td> CE_BLISTERS
</td>
<td> Yes
</td>
<td> Covers the targeted bodypart with blisters.
</td></tr>
<tr>
<td> CE_BRUISING
</td>
<td> Yes
</td>
<td> Causes the targeted bodypart to undergo bruising.
</td></tr>
<tr>
<td> CE_IMPAIR_FUNCTION
</td>
<td> Yes
</td>
<td> An organ afflicted with this CE is rendered inoperable - for example, if both lungs are impaired the creature can't breathe and will suffocate.  This token only affects organs, not limbs.
</td></tr>
<tr>
<td> CE_NECROSIS
</td>
<td> Yes
</td>
<td> Causes the targeted bodypart to rot, with associated tissue damage and miasma.  Badly necrotic limbs will require amputation and heavy rot will eventually result in bleeding.  Necrosis has some strange behavior involving bleeding to death that isn't fully understood; a 100% necrotic creature can survive fine with no non-yellow bodyparts but will die of bleeding as soon as they end a round of combat, even if they never take a hit. Because of this, fairly useless unless targeting the lungs or eyes.
</td></tr>
<tr>
<td> CE_NUMBNESS
</td>
<td> Yes
</td>
<td> Causes numbness in the affected body part, blocking pain. Extreme numbness may lead to sensory nerve damage.
</td></tr>
<tr>
<td> CE_OOZING
</td>
<td> Yes
</td>
<td> Causes pus to ooze from the afflicted bodypart.
</td></tr>
<tr>
<td> CE_PAIN
</td>
<td> Yes
</td>
<td> Afflicts the targeted bodypart with intense pain.
</td></tr>
<tr>
<td> CE_PARALYSIS
</td>
<td> Yes
</td>
<td> Causes paralysis in the affected body part. Targeted causes sluggishness and significantly reduces speed. Untargeted paralysis is 'complete paralysis' and will cause suffocation in smaller creatures.
</td></tr>
<tr>
<td> CE_SWELLING
</td>
<td> Yes
</td>
<td> Causes the targeted bodypart to swell up. Extreme swelling may lead to necrosis.
</td></tr>
<tr>
<td> CE_COUGH_BLOOD
</td>
<td> No
</td>
<td> This effect results in the sufferer periodically coughing blood, which stains the tile they're on and requires cleanup.  It doesn't appear to be lethal, but may cause minor bleeding damage.
</td></tr>
<tr>
<td> CE_DIZZINESS
</td>
<td> No
</td>
<td> Inflicts the Dizziness condition, occasional fainting and a general slowdown in movement and work speed.
</td></tr>
<tr>
<td> CE_DROWSINESS
</td>
<td> No
</td>
<td> Causes the Drowsiness condition.
</td></tr>
<tr>
<td> CE_FEVER
</td>
<td> No
</td>
<td> Causes the Fever condition.
</td></tr>
<tr>
<td> CE_NAUSEA
</td>
<td> No
</td>
<td> Causes the Nausea condition, and heavy vomiting. Can eventually lead to dehydration and death.
</td></tr>
<tr>
<td> CE_UNCONSCIOUSNESS
</td>
<td> No
</td>
<td> Renders unconscious.
</td></tr>
<tr>
<td> CE_VOMIT_BLOOD
</td>
<td> No
</td>
<td> This effect results in the sufferer periodically vomiting blood, which stains the tile they're on and requires cleanup.  It doesn't appear to be lethal, but may cause minor bleeding damage.
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Syndrome&amp;action=edit&amp;section=4" title="Edit section: Special Syndromes">edit</a>]</span> <span class="mw-headline" id="Special_Syndromes">Special Syndromes</span></h2>
<p>Several special syndrome take different arguments than the above. These are used for generated interactions in unmodded games, but may be used as well for any substance or custom interaction.
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="Bisque">
<th> Token
</th>
<th> Arguments
</th>
<th> Description
</th></tr>
<tr>
<td> CE_ADD_TAG
</td>
<td> tags:START:number(:END:number)
</td>
<td> Adds a tag to the affected creature.  Many arguments can be used sequentially within one syndrome token. See the <a href="/index.php/DF2012:Interaction_token" title="DF2012:Interaction token">Interaction token</a> <b>IT_REQUIRES</b> for valid tags.
</td></tr>
<tr>
<td> CE_REMOVE_TAG
</td>
<td> tags:START:number(:END:number)
</td>
<td> Removes a tag from a creature.  Supported arguments are the same as CE_ADD_TAG.
</td></tr>
<tr>
<td> CE_DISPLAY_TILE
</td>
<td> TILE:tile number:colour:START:number(:END:number)
</td>
<td> The creature displays the specified tile and colour instead of its normal one.
</td></tr>
<tr>
<td> CE_DISPLAY_NAME
</td>
<td> NAME:singular:plural:adjective:START:number(:END:number)
</td>
<td> Attaches a specified name to the creature's normal name.
</td></tr>
<tr>
<td> CE_FLASH_TILE
</td>
<td> TILE:tile number:colour:FREQUENCY:?:?:START:number(:END:number)
</td>
<td> The creature flashes between its normal tile and the one specified here.
</td></tr>
<tr>
<td> CE_PHYS_ATT_CHANGE
</td>
<td> <a href="/index.php/DF2012:Attribute" title="DF2012:Attribute">Attribute</a>:percentage:fixed boost(?):START:number(:END:number)
</td>
<td> Alters the physical <a href="/index.php/DF2012:Attribute" title="DF2012:Attribute">attributes</a> of a creature.
</td></tr>
<tr>
<td> CE_MENT_ATT_CHANGE
</td>
<td> <a href="/index.php/DF2012:Attribute" title="DF2012:Attribute">Attribute</a>:percentage:fixed boost(?):START:number(:END:number)
</td>
<td> Alters the mental <a href="/index.php/DF2012:Attribute" title="DF2012:Attribute">attributes</a> of a creature.
</td></tr>
<tr>
<td> CE_BODY_APPEARANCE_MODIFIER
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td> CE_BP_APPEARANCE_MODIFIER
</td>
<td> START:number(:END:number):body part:APPEARANCE_MODIFIER:attribute:number]
</td>
<td> Alters the characteristics (height, width etc.) of a body part.
</td></tr>
<tr>
<td> CE_MATERIAL_FORCE_MULTIPLIER
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td> CE_BODY_MAT_INTERACTION
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td> CE_SPEED_CHANGE
</td>
<td> speed modifier:START:number(:END:number) (might be more arguments existing in the first part?)
</td>
<td> Changes the speed of a creature.
<p>Speed modifier contains one or both:
</p>
<ul><li> SPEED_PERC:percentage (this modifies a creature's in-game speed, so higher numbers are faster)
</li><li> SPEED_ADD:number (this modifies a creature's [SPEED:XX] token, so higher numbers are slower. Negative numbers are accepted though will only reduce a creature's speed to zero)
</li></ul>
<p>The minimum and maximum speeds able to be created by CE_SPEED_CHANGE are 99 and 10,000 respectively.
</p>
</td></tr>
<tr>
<td> CE_CAN_DO_INTERACTION
</td>
<td> START:number(:END:number)
</td>
<td> Makes the creature able to perform an interaction.  See <a href="/index.php/DF2012:Interaction_token" title="DF2012:Interaction token">Interaction token</a>.  To specify the interaction, use the argument:
<ul><li> CDI:INTERACTION:interaction name
</li></ul>
</td></tr>
<tr>
<td> CE_BODY_TRANSFORMATION
</td>
<td> START:number(:END:number)
</td>
<td> Transforms into another creature.  The target creature is specified with:
<ul><li> CE:CREATURE:creature name:caste name<br />
</li></ul>
<p>Note that any wounds the creature has suffered will instantly heal upon transforming, both into and out of the target form.  <a href="/index.php/DF2012:Undead" title="DF2012:Undead">Undead</a> limbs of a creature with this token will grow into a full instance of that creature.
</p>
</td></tr>
<tr>
<td> CE_SKILL_ROLL_ADJUST
</td>
<td> PERC:percentage:PERC_ON:percentage:START:number(:END:number)
</td>
<td> Alters the skill level(?) of a creature.  The argument PERC specifies a percentage of the creature's current skill, and PERC_ON the probability of the effect being applied.
</td></tr></table>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Syndrome&amp;action=edit&amp;section=5" title="Edit section: Inorganic syndromes and you!">edit</a>]</span> <span class="mw-headline" id="Inorganic_syndromes_and_you.21">Inorganic syndromes and you!</span></h2>
<p>It's perfectly possible - and quite simple - to add a nasty syndrome to a type of rock or metal - you simply add the syndrome tokens to the material definition in the same manner that you would add them to a creature material definition.  The only catch is that since your hapless dwarves will only normally encounter the material in metal, gem or boulder form, a bit of creativity must be used to actually get them inside your citizens - that is, you need to make them 'explosively boil' as soon as they're mined or produced.  This has the sad side effect of destroying the actual item - sorry, no highly radioactive uranium this release.  
</p><p>The easiest way to accomplish this is to assign the material a low boiling point, usually just under room temperature, and make sure its temperature is fixed to a point above it.
</p>
<pre> [MAT_FIXED_TEMP:9001]
 [BOILING_POINT:9000]
</pre>
<p>Now, as soon as this substance hits the open air - by being mined, smelted or reaction-produced at a custom workshop - it will EXPLOSIVELY BOIL, flooding a small area with delicious syndrome-rich gas.  Creatures who inhale the gas will be immediately hit with the syndrome you thoughtfully attached to the material definition earlier!
</p><p>There are a number of other tokens you can use to control the colour and naming conventions of your syndrome material, referred to as MATERIAL tokens.
</p>
<h2><span class="editsection">[<a href="/index.php?title=DF2012:Syndrome&amp;action=edit&amp;section=6" title="Edit section: Breath attacks">edit</a>]</span> <span class="mw-headline" id="Breath_attacks">Breath attacks</span></h2>
<p>Breath attacks are controlled by the MATERIAL_EMISSION interaction, like so:
</p>
<pre> [CAN_DO_INTERACTION:MATERIAL_EMISSION]
 		[CDI:ADV_NAME:Breath custom material]
 		[CDI:USAGE_HINT:ATTACK]
 		[CDI:BP_REQUIRED:BY_CATEGORY:MOUTH]
 		[CDI:MATERIAL:LOCAL_CREATURE_MAT:CUSTOMMATERIAL:TRAILING_VAPOR_FLOW]
 		[CDI:TARGET:C:LINE_OF_SIGHT]
 		[CDI:TARGET_RANGE:C:15]
 		[CDI:MAX_TARGET_NUMBER:C:1]
 		[CDI:WAIT_PERIOD:50]
</pre>
<p>The most important part is this line:
</p>
<pre> [CDI:MATERIAL:LOCAL_CREATURE_MAT:CUSTOMMATERIAL:TRAILING_VAPOR_FLOW]
</pre>
<p>The CDI refers to CAN_DO_INTERACTION; the MATERIAL states that this line shows what the material is. LOCAL_CREATURE_MAT:CUSTOMMATERIAL is your material, and TRAILING_VAPOR_FLOW refers to the breath attack type. Other types are seen below. Also important is this line:
</p>
<pre> [CDI:TARGET:C:LINE_OF_SIGHT]
</pre>
<p>LINE_OF_SIGHT refers to where the target C may be; others include SELF_ALLOWED (presumably like LINE_OF_SIGHT, but with the creature allowed to target itself), SELF_ONLY (preferable for undirected attacks and TOUCHABLE (for up-close attacks, as trailing flows tend to be).
</p>
<h3><span class="editsection">[<a href="/index.php?title=DF2012:Syndrome&amp;action=edit&amp;section=7" title="Edit section: Breath Attack Types">edit</a>]</span> <span class="mw-headline" id="Breath_Attack_Types">Breath Attack Types</span></h3>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#ddd">
<th> Token
</th>
<th> Description
</th></tr>
<tr>
<td> TRAILING_DUST_FLOW
</td>
<td> Lets out a cloud of solid dust. Appears to use cave-in dust physics, causing this to fling around anything it comes in contact with, making it capable of smashing creatures into the ground and flinging them over walls. Creature will attack as normal.
</td></tr>
<tr>
<td> TRAILING_VAPOR_FLOW
</td>
<td> Similar to the trailing gas, but easier to breathe in, and condensed, so it will collect on creatures. Creature will attack as normal.
</td></tr>
<tr>
<td> TRAILING_GAS_FLOW
</td>
<td> Shoots a trail of gas substance at the creature. Fairly easy to dodge. Creature will attack as normal.
</td></tr>
<tr>
<td> SOLID_GLOB
</td>
<td> Shoots a solid glob of spinning substance at the creature, leaving symbols similar to broken arrows. Essentially a projectile weapon. Some creatures with this breath attack will not move, preferring instead to stay and shoot globs at you, even when you are literally right next to them.
</td></tr>
<tr>
<td> LIQUID_GLOB
</td>
<td> Shoots a <b>solid</b> glob of spinning substance at the creature. Essentially the same as SOLID_GLOB. May do less damage.
</td></tr>
<tr>
<td> SPATTER_POWDER
</td>
<td>
</td></tr>
<tr>
<td> SPATTER_LIQUID
</td>
<td>
</td></tr>
<tr>
<td> UNDIRECTED_GAS
</td>
<td> Creature occasionally releases a cloud of substance. Similar to TRAILING_GAS_FLOW, but undirected, thus affecting a larger area but losing the distance. Creature will attack as normal.
</td></tr>
<tr>
<td> UNDIRECTED_VAPOR
</td>
<td> Creature occasionally releases a cloud of substance. Similar to TRAILING_VAPOR_FLOW, but undirected, thus affecting a larger area but losing the distance. Creature will attack as normal.
</td></tr>
<tr>
<td> UNDIRECTED_DUST
</td>
<td> Creature occasionally releases a large cloud of substance, which will spread and dissipate. Similar to TRAILING_DUST_FLOW, but undirected, thus affecting a larger area but losing the distance - range is roughly the same as that of a cave-in. Creature will attack as normal. <s>DO NOT USE THIS TAG UNLESS YOU WANT TO KILL THE CREATURE AND EVERYTHING NEAR IT AND SEND PEOPLE FLYING.</s> You know you want to.
</td></tr>
<tr>
<td> WEB_SPRAY
</td>
<td> Emits a burst of <a href="/index.php/DF2012:Web" title="DF2012:Web">webs</a> that entangle target creatures.
</td></tr>
<tr>
<td> DRAGONFIRE
</td>
<td> Emits a wide cone of <a href="/index.php/DF2012:Fire" title="DF2012:Fire">fire</a> that burns target creatures.
</td></tr>
<tr>
<td> FIREJET
</td>
<td> Emits a narrow cone of <a href="/index.php/DF2012:Fire" title="DF2012:Fire">fire</a> that burns target creatures.
</td></tr>
<tr>
<td> FIREBALL
</td>
<td> Emits a fireball that burns the target creature.
</td></tr>
<tr>
<td> WEATHER_CREEPING_GAS
</td>
<td> Creates a slowly expanding cloud of gas, similar to miasma.
</td></tr>
<tr>
<td> WEATHER_CREEPING_VAPOR
</td>
<td> Creates a slowly expanding cloud of vapor.
</td></tr>
<tr>
<td> WEATHER_CREEPING_DUST
</td>
<td> Creates a slowly expanding cloud of dust.
</td></tr>
<tr>
<td> WEATHER_FALLING_MATERIAL
</td>
<td> Causes it to start raining a particular material.
</td></tr></table>
<p><b>All</b> creature effect tokens take START, END and PROB numbers, and can be followed by [CE:PERIODIC] and/or [CE:COUNTER_TRIGGER] to restrict when they actually take effect.
</p>
<ul><li> PERIODIC:period_type:min_value:max_value
</li><li> COUNTER_TRIGGER:counter_name:min_value:max_value:REQUIRED
</li></ul>
<p>Currently, the only valid period type is MOON_PHASE. Valid counter values are below:
</p>
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="Bisque">
<th> Counter
</th>
<th> Description
</th></tr>
<tr>
<td> ALCOHOLIC
</td>
<td> How long it's been (in <a href="/index.php/DF2012:Time" title="DF2012:Time">time</a> units) since the creature last had a drink of alcohol. Only present on creatures who need alcohol to get through the working day.
<ul><li> 100800 (3 months) = and is starting to work slowly due to its scarcity
</li><li> 201600 (6 months) = and really wants a drink
</li><li> 302400 (9 months) = and has gone without a drink for far, far too long
</li><li> 403200 (1 year) = and can't even remember the last time he/she had some
</li></ul>
</td></tr>
<tr>
<td> MOUNTAIN
</td>
<td> How much the creature minds being outdoors.
<ul><li> 0 = likes working outdoors and grumbles only mildly at inclement weather.
</li><li> 1 = does not mind being outdoors, at least for a time.
</li><li> 2 = (no message)
</li></ul>
</td></tr>
<tr>
<td> TIME_SINCE_BREAK
</td>
<td> How long it's been (in <a href="/index.php/DF2012:Time" title="DF2012:Time">time</a> units) since the creature last went on <a href="/index.php?title=DF2012:Break&amp;action=edit&amp;redlink=1" class="new" title="DF2012:Break (page does not exist)">break</a>. Creatures generally go at least a year (100800 time units) between breaks unless the <a href="/index.php/DF2012:Economy" title="DF2012:Economy" class="mw-redirect">economy</a> is active (which never happens).
</td></tr>
<tr>
<td> COMBATHARDNESS
</td>
<td> How much the creature has witnessed death and suffered tragedy. Higher values are known to decrease the severity of certain unhappy <a href="/index.php/DF2012:Thought" title="DF2012:Thought">thoughts</a>.
<ul><li> 0-32 = (no message)
</li><li> 33-66 = is getting used to tragedy
</li><li> 67-99 = is a hardened individual
</li><li> 100 = doesn't really care about anything anymore
</li></ul>
</td></tr>
<tr>
<td> ON_BREAK
</td>
<td> How long (in <a href="/index.php/DF2012:Time" title="DF2012:Time">time</a> units) the creature has been on break. Once it reaches 15000 (about 12.5 days), the creature should get back to work.
</td></tr>
<tr>
<td> CAVE_ADAPT
</td>
<td> How cave-adapted the creature is. Increases by 1 for every <a href="/index.php/DF2012:Time" title="DF2012:Time">time</a> unit spent underground, to a maximum of 800000.
<ul><li> 403200 (1 year) = going outside causes irritation
</li><li> 604800 (1.5 years) = going outside causes nausea
</li></ul>
</td></tr>
<tr>
<td> PARTIED_OUT
</td>
<td> How long it's been since the creature has been attending a <a href="/index.php/DF2012:Party" title="DF2012:Party">party</a> (or how long before it gets bored and goes back to work).<small><sup><a href="/index.php/DF2012_Talk:Syndrome" title="DF2012 Talk:Syndrome">Verify</a></sup></small>
</td></tr>
<tr>
<td> MILK_COUNTER
</td>
<td> How long it's been since the creature has been milked (or how long before it can be milked again).<small><sup><a href="/index.php/DF2012_Talk:Syndrome" title="DF2012 Talk:Syndrome">Verify</a></sup></small>
</td></tr>
<tr>
<td> EGG_SPENT
</td>
<td> How long it's been since the creature laid eggs (or how long before it can do so again).<small><sup><a href="/index.php/DF2012_Talk:Syndrome" title="DF2012 Talk:Syndrome">Verify</a></sup></small>
</td></tr>
<tr>
<td> GROUNDED_ANIMAL_ANGER
</td>
<td> How angry (and likely to attack) an animal is from being over-crowded.
</td></tr>
<tr>
<td> TIME_SINCE_SUCKED_BLOOD
</td>
<td> How long it's been (in <a href="/index.php/DF2012:Time" title="DF2012:Time">time</a> units) since the creature last sucked somebody's blood.
</td></tr>
<tr>
<td> DRINKING_BLOOD
</td>
<td> How long the creature has been drinking somebody's blood (or how much longer before it's done).<small><sup><a href="/index.php/DF2012_Talk:Syndrome" title="DF2012 Talk:Syndrome">Verify</a></sup></small>
</td></tr></table>
