<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;">
 
<tr bgcolor="#999999">
<th> Token
</th>
<th> Arguments
</th>
<th> Description
</th></tr>
<tr>
<td> NAME
</td>
<td>
<ul><li>singular
</li><li>plural
</li></ul>
</td>
<td> Name of the tool. <font color="red">Required</font>.
</td></tr>
<tr>
<td> HARD_MAT
</td>
<td>
</td>
<td> Permits the tool to be made from any "hard" material, such as stone.
</td></tr>
<tr>
<td> METAL_MAT
</td>
<td>
</td>
<td> Permits the tool to be made from any metal.
</td></tr>
<tr>
<td> METAL_WEAPON_MAT
</td>
<td>
</td>
<td> Permits the tool to be made from any weapons-grade metal.
</td></tr>
<tr>
<td> UNIMPROVABLE
</td>
<td>
</td>
<td> Prevents the tool from being improved.  Used on honeycombs.
</td></tr>
<tr>
<td> VALUE
</td>
<td>
<ul><li>num
</li></ul>
</td>
<td> Defines the item value of the tool. <font color="red">Required</font>.
</td></tr>
<tr>
<td> TILE
</td>
<td>
<ul><li>num
</li></ul>
</td>
<td> Defines the tile used to represent the tool. <font color="red">Required</font>.
</td></tr>
<tr>
<td> TOOL_USE
</td>
<td>
<ul><li>tool use, see below
</li></ul>
</td>
<td> Defines the task performed using the tool.
</td></tr>
<tr>
<td> ADJECTIVE
</td>
<td>
<ul><li>adjective
</li></ul>
</td>
<td> Adjective preceding the material name (e.g. "large copper dagger")
</td></tr>
<tr>
<td> SIZE / WEIGHT
</td>
<td>
<ul><li>size
</li></ul>
</td>
<td> Volume of tool in mL or cubic centimeters. <font color="red">Required</font>.
</td></tr>
<tr>
<td> CONTAINER_CAPACITY
</td>
<td>
<ul><li>amount
</li></ul>
</td>
<td> How much the item can contain. Defaults to 0.
</td></tr>
<tr>
<td> SHOOT_FORCE
</td>
<td>
<ul><li>value
</li></ul>
</td>
<td> <font color="red">Required</font> for weapons.
</td></tr>
<tr>
<td> SHOOT_MAXVEL
</td>
<td>
<ul><li>value
</li></ul>
</td>
<td> <font color="red">Required</font> for weapons.
</td></tr>
<tr>
<td> SKILL
</td>
<td>
<ul><li>Skill token
</li></ul>
</td>
<td> The skill to determine effectiveness in melee with this tool. <font color="red">Required</font> for weapons.
</td></tr>
<tr>
<td> RANGED
</td>
<td>
<ul><li>Skill token
</li><li>Ammo item token
</li></ul>
</td>
<td> Makes this tool a ranged weapon that uses the specified ammo. The specified skill determines accuracy in ranged combat.
</td></tr>
<tr>
<td> TWO_HANDED
</td>
<td>
<ul><li>size
</li></ul>
</td>
<td> Creatures under this size (in cm^3) must use the tool two-handed. <font color="red">Required</font> for weapons.
</td></tr>
<tr>
<td> MINIMUM_SIZE
</td>
<td>
<ul><li>size
</li></ul>
</td>
<td> Minimum body size (in cm^3) to use the tool at all (multigrasp required until TWO_HANDED value) <font color="red">Required</font> for weapons.
</td></tr>
<tr>
<td> MATERIAL_SIZE
</td>
<td>
<ul><li>value
</li></ul>
</td>
<td> Number of bar units needed for forging, as well as the amount gained from melting. <font color="red">Required</font> for weapons.
</td></tr>
<tr>
<td> ATTACK
</td>
<td>
<ul><li>attacktype:BLUNT or EDGE
</li><li>contact_area:value
</li><li>penetration_size:value
</li><li>verb2nd:string
</li><li>verb3rd:string
</li><li>noun:string
</li><li>velocity_multiplier:value
</li></ul>
</td>
<td> You can have many ATTACK tags and one will be randomly selected for each attack, with EDGE attacks 100 times more common than BLUNT attacks. <font color="red">Required</font> for weapons.
</td></tr></table>
<p>Valid tool uses (and the default tools used for these tasks) are as follows:
</p>
<table class="wikitable sortable">
 
<tr bgcolor="#999999">
<th> ID
</th>
<th> Token
</th>
<th> Usage
</th></tr>
<tr>
<td> 0 </td>
<td> LIQUID_COOKING </td>
<td> cauldron
</td></tr>
<tr>
<td> 1 </td>
<td> LIQUID_SCOOP </td>
<td> ladle
</td></tr>
<tr>
<td> 2 </td>
<td> GRIND_POWDER_RECEPTACLE </td>
<td> mortar
</td></tr>
<tr>
<td> 3 </td>
<td> GRIND_POWDER_GRINDER </td>
<td> pestle
</td></tr>
<tr>
<td> 4 </td>
<td> MEAT_CARVING </td>
<td> carving knife
</td></tr>
<tr>
<td> 5 </td>
<td> MEAT_BONING </td>
<td> boning knife
</td></tr>
<tr>
<td> 6 </td>
<td> MEAT_SLICING </td>
<td> slicing knife
</td></tr>
<tr>
<td> 7 </td>
<td> MEAT_CLEAVING </td>
<td> meat cleaver
</td></tr>
<tr>
<td> 8 </td>
<td> HOLD_MEAT_FOR_CARVING </td>
<td> carving fork
</td></tr>
<tr>
<td> 9 </td>
<td> MEAL_CONTAINER </td>
<td> bowl
</td></tr>
<tr>
<td> 10 </td>
<td> NEST_BOX </td>
<td> nest box
</td></tr>
<tr>
<td> 11 </td>
<td> LIQUID_CONTAINER </td>
<td> jug
</td></tr>
<tr>
<td> 12 </td>
<td> FOOD_STORAGE </td>
<td> large pot
</td></tr>
<tr>
<td> 13 </td>
<td> HIVE </td>
<td> hive
</td></tr>
<tr>
<td> 14 </td>
<td> SMALL_OBJECT_STORAGE </td>
<td> pouch
</td></tr>
<tr>
<td> 15 </td>
<td> TRACK_CART </td>
<td> minecart
</td></tr>
<tr>
<td> 16 </td>
<td> HEAVY_OBJECT_HAULING </td>
<td> wheelbarrow
</td></tr></table>
