Unit Type tokens
<table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse;" class="sortable">
 
<tr style="background-color:#ddd">
<th> #
</th>
<th> Token
</th>
<th> Unit Type
</th></tr>
<tr>
<td>0</td>
<td>MINER</td>
<td>Miner
</td></tr>
<tr>
<td>1</td>
<td>WOODWORKER</td>
<td>Woodworker
</td></tr>
<tr>
<td>2</td>
<td>CARPENTER</td>
<td>Carpenter
</td></tr>
<tr>
<td>3</td>
<td>BOWYER</td>
<td>Bowyer
</td></tr>
<tr>
<td>4</td>
<td>WOODCUTTER</td>
<td>Woodcutter
</td></tr>
<tr>
<td>5</td>
<td>STONEWORKER</td>
<td>Stoneworker
</td></tr>
<tr>
<td>6</td>
<td>ENGRAVER</td>
<td>Engraver
</td></tr>
<tr>
<td>7</td>
<td>MASON</td>
<td>Mason
</td></tr>
<tr>
<td>8</td>
<td>RANGER</td>
<td>Ranger
</td></tr>
<tr>
<td>9</td>
<td>ANIMAL_CARETAKER</td>
<td>Animal caretaker
</td></tr>
<tr>
<td>10</td>
<td>ANIMAL_TRAINER</td>
<td>Animal trainer
</td></tr>
<tr>
<td>11</td>
<td>HUNTER</td>
<td>Hunter
</td></tr>
<tr>
<td>12</td>
<td>TRAPPER</td>
<td>Trapper
</td></tr>
<tr>
<td>13</td>
<td>ANIMAL_DISSECTOR</td>
<td>Animal dissector
</td></tr>
<tr>
<td>14</td>
<td>METALSMITH</td>
<td>Metalsmith
</td></tr>
<tr>
<td>15</td>
<td>FURNACE_OPERATOR</td>
<td>Furnace operator
</td></tr>
<tr>
<td>16</td>
<td>WEAPONSMITH</td>
<td>Weaponsmith
</td></tr>
<tr>
<td>17</td>
<td>ARMORER</td>
<td>Armorer
</td></tr>
<tr>
<td>18</td>
<td>BLACKSMITH</td>
<td>Blacksmith
</td></tr>
<tr>
<td>19</td>
<td>METALCRAFTER</td>
<td>Metalcrafter
</td></tr>
<tr>
<td>20</td>
<td>JEWELER</td>
<td>Jeweler
</td></tr>
<tr>
<td>21</td>
<td>GEM_CUTTER</td>
<td>Gem cutter
</td></tr>
<tr>
<td>22</td>
<td>GEM_SETTER</td>
<td>Gem setter
</td></tr>
<tr>
<td>23</td>
<td>CRAFTSMAN</td>
<td>Craftsman
</td></tr>
<tr>
<td>24</td>
<td>WOODCRAFTER</td>
<td>Woodcrafter
</td></tr>
<tr>
<td>25</td>
<td>STONECRAFTER</td>
<td>Stonecrafter
</td></tr>
<tr>
<td>26</td>
<td>LEATHERWORKER</td>
<td>Leatherworker
</td></tr>
<tr>
<td>27</td>
<td>BONE_CARVER</td>
<td>Bone carver
</td></tr>
<tr>
<td>28</td>
<td>WEAVER</td>
<td>Weaver
</td></tr>
<tr>
<td>29</td>
<td>CLOTHIER</td>
<td>Clothier
</td></tr>
<tr>
<td>30</td>
<td>GLASSMAKER</td>
<td>Glassmaker
</td></tr>
<tr>
<td>31</td>
<td>STRAND_EXTRACTOR</td>
<td>Strand extractor
</td></tr>
<tr>
<td>32</td>
<td>FISHERY_WORKER</td>
<td>Fishery worker
</td></tr>
<tr>
<td>33</td>
<td>FISHERMAN</td>
<td>Fisherman
</td></tr>
<tr>
<td>34</td>
<td>FISH_DISSECTOR</td>
<td>Fish dissector
</td></tr>
<tr>
<td>35</td>
<td>FISH_CLEANER</td>
<td>Fish cleaner
</td></tr>
<tr>
<td>36</td>
<td>FARMER</td>
<td>Farmer
</td></tr>
<tr>
<td>37</td>
<td>CHEESE_MAKER</td>
<td>Cheese maker
</td></tr>
<tr>
<td>38</td>
<td>MILKER</td>
<td>Milker
</td></tr>
<tr>
<td>39</td>
<td>COOK</td>
<td>Cook
</td></tr>
<tr>
<td>40</td>
<td>THRESHER</td>
<td>Thresher
</td></tr>
<tr>
<td>41</td>
<td>MILLER</td>
<td>Miller
</td></tr>
<tr>
<td>42</td>
<td>BUTCHER</td>
<td>Butcher
</td></tr>
<tr>
<td>43</td>
<td>TANNER</td>
<td>Tanner
</td></tr>
<tr>
<td>44</td>
<td>DYER</td>
<td>Dyer
</td></tr>
<tr>
<td>45</td>
<td>PLANTER</td>
<td>Planter
</td></tr>
<tr>
<td>46</td>
<td>HERBALIST</td>
<td>Herbalist
</td></tr>
<tr>
<td>47</td>
<td>BREWER</td>
<td>Brewer
</td></tr>
<tr>
<td>48</td>
<td>SOAP_MAKER</td>
<td>Soap maker
</td></tr>
<tr>
<td>49</td>
<td>POTASH_MAKER</td>
<td>Potash maker
</td></tr>
<tr>
<td>50</td>
<td>LYE_MAKER</td>
<td>Lye maker
</td></tr>
<tr>
<td>51</td>
<td>WOOD_BURNER</td>
<td>Wood burner
</td></tr>
<tr>
<td>52</td>
<td>ENGINEER</td>
<td>Engineer
</td></tr>
<tr>
<td>53</td>
<td>MECHANIC</td>
<td>Mechanic
</td></tr>
<tr>
<td>54</td>
<td>SIEGE_ENGINEER</td>
<td>Siege engineer
</td></tr>
<tr>
<td>55</td>
<td>SIEGE_OPERATOR</td>
<td>Siege operator
</td></tr>
<tr>
<td>56</td>
<td>PUMP_OPERATOR</td>
<td>Pump operator
</td></tr>
<tr>
<td>57</td>
<td>CLERK</td>
<td>Clerk
</td></tr>
<tr>
<td>58</td>
<td>ADMINISTRATOR</td>
<td>Administrator
</td></tr>
<tr>
<td>59</td>
<td>TRADER</td>
<td>Trader
</td></tr>
<tr>
<td>60</td>
<td>ARCHITECT</td>
<td>Architect
</td></tr>
<tr>
<td>61</td>
<td>ALCHEMIST</td>
<td>Alchemist
</td></tr>
<tr>
<td>62</td>
<td>DOCTOR</td>
<td>Doctor
</td></tr>
<tr>
<td>63</td>
<td>DIAGNOSER</td>
<td>Diagnoser
</td></tr>
<tr>
<td>64</td>
<td>BONE_SETTER</td>
<td>Bone doctor
</td></tr>
<tr>
<td>65</td>
<td>SUTURER</td>
<td>Suturer
</td></tr>
<tr>
<td>66</td>
<td>SURGEON</td>
<td>Surgeon
</td></tr>
<tr>
<td>67</td>
<td>MERCHANT</td>
<td>Merchant
</td></tr>
<tr>
<td>68</td>
<td>HAMMERMAN</td>
<td>Hammerman
</td></tr>
<tr>
<td>69</td>
<td>MASTER_HAMMERMAN</td>
<td>Hammer lord
</td></tr>
<tr>
<td>70</td>
<td>SPEARMAN</td>
<td>Spearman
</td></tr>
<tr>
<td>71</td>
<td>MASTER_SPEARMAN</td>
<td>Spearmaster
</td></tr>
<tr>
<td>72</td>
<td>CROSSBOWMAN</td>
<td>Crossbowman
</td></tr>
<tr>
<td>73</td>
<td>MASTER_CROSSBOWMAN</td>
<td>Elite crossbowman
</td></tr>
<tr>
<td>74</td>
<td>WRESTLER</td>
<td>Wrestler
</td></tr>
<tr>
<td>75</td>
<td>MASTER_WRESTLER</td>
<td>Elite wrestler
</td></tr>
<tr>
<td>76</td>
<td>AXEMAN</td>
<td>Axeman
</td></tr>
<tr>
<td>77</td>
<td>MASTER_AXEMAN</td>
<td>Axe lord
</td></tr>
<tr>
<td>78</td>
<td>SWORDSMAN</td>
<td>Swordsman
</td></tr>
<tr>
<td>79</td>
<td>MASTER_SWORDSMAN</td>
<td>Swordmaster
</td></tr>
<tr>
<td>80</td>
<td>MACEMAN</td>
<td>Maceman
</td></tr>
<tr>
<td>81</td>
<td>MASTER_MACEMAN</td>
<td>Mace lord
</td></tr>
<tr>
<td>82</td>
<td>PIKEMAN</td>
<td>Pikeman
</td></tr>
<tr>
<td>83</td>
<td>MASTER_PIKEMAN</td>
<td>Pikemaster
</td></tr>
<tr>
<td>84</td>
<td>BOWMAN</td>
<td>Bowman
</td></tr>
<tr>
<td>85</td>
<td>MASTER_BOWMAN</td>
<td>Elite bowman
</td></tr>
<tr>
<td>86</td>
<td>BLOWGUNMAN</td>
<td>Blowgunner
</td></tr>
<tr>
<td>87</td>
<td>MASTER_BLOWGUNMAN</td>
<td>Master blowgunner
</td></tr>
<tr>
<td>88</td>
<td>LASHER</td>
<td>Lasher
</td></tr>
<tr>
<td>89</td>
<td>MASTER_LASHER</td>
<td>Master lasher
</td></tr>
<tr>
<td>90</td>
<td>RECRUIT</td>
<td>Recruit
</td></tr>
<tr>
<td>91</td>
<td>TRAINED_HUNTER</td>
<td>Hunting animal
</td></tr>
<tr>
<td>92</td>
<td>TRAINED_WAR</td>
<td>War animal
</td></tr>
<tr>
<td>93</td>
<td>MASTER_THIEF</td>
<td>Master thief
</td></tr>
<tr>
<td>94</td>
<td>THIEF</td>
<td>Thief
</td></tr>
<tr>
<td>95</td>
<td>STANDARD</td>
<td>Peasant
</td></tr>
<tr>
<td>96</td>
<td>CHILD</td>
<td>Child
</td></tr>
<tr>
<td>97</td>
<td>BABY</td>
<td>Baby
</td></tr>
<tr>
<td>98</td>
<td>DRUNK</td>
<td>Drunk
</td></tr>
<tr>
<td>99</td>
<td>SHEARER</td>
<td>Shearer
</td></tr>
<tr>
<td>100</td>
<td>SPINNER</td>
<td>Spinner
</td></tr>
<tr>
<td>101</td>
<td>POTTER</td>
<td>Potter
</td></tr>
<tr>
<td>102</td>
<td>GLAZER</td>
<td>Glazer
</td></tr>
<tr>
<td>103</td>
<td>PRESSER</td>
<td>Presser
</td></tr>
<tr>
<td>104</td>
<td>BEEKEEPER</td>
<td>Beekeeper
</td></tr>
<tr>
<td>105</td>
<td>WAX_WORKER</td>
<td>Wax worker
</td></tr></table>
<p>The following tokens are also permitted in tilesets:
</p>
<ul><li>SHOPKEEPER
</li></ul>
<p>Unconfirmed:
</p>
<ul><li>MERCENARY
</li><li>FORMER_MERCENARY
</li><li>ENEMY
</li><li>CRIMINAL
</li><li>MEMBER
</li><li>FORMER_MEMBER
</li><li>SLAVE
</li><li>FORMER_SLAVE
</li><li>PRISONER
</li><li>FORMER_PRISONER
</li><li>HERO
</li></ul>
